<div class="main-content">

    <h1>About application</h1>
    <h3>Squash app consists of 2 services hosted as standalone applications</h3>

    <div class='some-page-wrapper'>
        <div class='row'>
            <div class='column'>
                <mat-card class="mat-elevation-z3 card-content">
                    <mat-card-header>
                        <img mat-card-avatar src="assets/img/spring-boot-logo.png">
                        <mat-card-title>Spring Boot</mat-card-title>
                        <mat-card-subtitle>Backend REST Spring service</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        Stack:
                        <ul style="line-height:180%">
                            <li>Java 14</li>
                            <li>Spring Boot 2 (JPA, REST)</li>
                            <li>Hibernate 5 & PostgreSQL 12</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="centered">
                                <button mat-mini-fab color="primary" onClick="window.open('//github.com/pChocz/squash-rest-api/')" class="nofocus">
                                <mat-icon svgIcon="github-mark"></mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class='column'>
                <mat-card class="mat-elevation-z3 card-content">
                    <mat-card-header>
                        <img mat-card-avatar src="assets/img/angular-logo.png">
                        <mat-card-title>Angular</mat-card-title>
                        <mat-card-subtitle>Frontend Angular service</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        Stack:
                        <ul style="line-height:180%">
                            <li>Angular 9</li>
                            <li>Material components 10</li>
                            <li>Bootstrap 4</li>
                        </ul>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="centered">
                            <button mat-mini-fab color="primary" onClick="window.open('//github.com/pChocz/squash-angular')" class="nofocus">
                                <mat-icon svgIcon="github-mark"></mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <mat-divider class="large-margin"></mat-divider>

    <h1>About me</h1>

    <div class='some-page-wrapper'>
        <div class='row'>
            <div class='column'>
                <mat-card class="mat-elevation-z3 card-content">
                    <mat-card-header>
                        <img mat-card-avatar src="assets/img/avatar.png">
                        <mat-card-title>Piotr Choczyński</mat-card-title>
                        <mat-card-subtitle>Java developer</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="centered">
                            <button mat-fab color="primary" onClick="window.open('//github.com/pChocz/')" class="nofocus small-margin">
                                <mat-icon svgIcon="github-mark"></mat-icon>
                            </button>
                            <button mat-fab color="primary" onClick="window.open('//linkedin.com/in/piotr-choczynski/')" class="nofocus small-margin">
                                <mat-icon svgIcon="linkedin-mark"></mat-icon>
                            </button>
                            <button mat-fab color="primary" onClick="window.open('//facebook.com/piotr.choczynski/')" class="nofocus small-margin">
                                <mat-icon svgIcon="facebook-mark"></mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>



</div>