<div class="flex-element-standalone"
     fxLayout="row"
     fxLayoutAlign="center center">

    <img alt="App logo"
         class="app-logo-style"
         src="assets/img/squash_logo.svg">

    <mat-card class="fit-content mx-auto mat-elevation-z3 text-center">
        <mat-card-content>

            <div>
                {{'forgotPassword.enterEmail' | translate}}
            </div>
            <div>
                {{'forgotPassword.sendLink' | translate}}
            </div>

            <mat-icon class="mt-3">
                question_mark
            </mat-icon>

            <div class="text-center mt-4 m-0 pb-0">
                <mat-form-field appearance="outline">
                    <mat-label>
                        Email
                    </mat-label>
                    <input [formControl]="emailField"
                           autocapitalize="off"
                           autocomplete="off"
                           autocorrect="off"
                           matInput
                           name="email"
                           spellcheck="false">

                    <mat-error *ngIf="emailField.hasError('required')">
                        {{'fieldValidation.error.required' | translate}}
                    </mat-error>

                    <mat-error *ngIf="emailField.hasError('email')">
                        {{'fieldValidation.error.email' | translate}}
                    </mat-error>

                    <button disabled
                            mat-icon-button
                            matSuffix>
                        <mat-icon color="primary">email</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="text-center pt-0 px-4 pb-3">
                <button (click)="resetPassword()"
                        (keyup.enter)="resetPassword()"
                        [disabled]="emailField.invalid || isLoading"
                        class="w-100"
                        color="primary"
                        mat-raised-button
                        style="height: 45px">
                    {{'forgotPassword.sendPasswordResetEmail' | translate}}
                </button>
                <mat-progress-bar *ngIf="isLoading"
                                  class="my-2"
                                  mode="indeterminate">
                </mat-progress-bar>
            </div>
        </mat-card-actions>
    </mat-card>

    <app-before-login-other-actions [buyBeer]="false"
                                    [passwordReset]="false">
    </app-before-login-other-actions>

</div>
