<div class="main-content" fxLayout="row" fxLayoutAlign="center center">

    <img src="assets/img/squash_logo.svg" alt="Logo" class="picture-style">

    <mat-card class="example-card mat-elevation-z3">
        <mat-card-content>

            <div class="regular-font">Enter the email address associated with your account.</div>
            <div class="regular-font">We will send you a link to reset your password.</div>

            <div class="centered-zero-margin zero-padding-bottom">
                <mat-form-field class="example-full-width" appearance="standard">
                    <mat-label>Email</mat-label>
                    <input matInput name="email" autocorrect="off" autocapitalize="off" autocomplete="off"
                        spellcheck="false" [formControl]="emailField">
                    <mat-error *ngIf="emailField.invalid">{{getErrorMessageForEmailField()}}</mat-error>
                    <button mat-icon-button matSuffix disabled>
                        <mat-icon class="black-color">email</mat-icon>
                    </button>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="centered-top-margin">
                <button mat-raised-button color="primary" class="full-width" [disabled]="emailField.invalid"
                    (click)="resetPassword()" (keyup.enter)="resetPassword()">Send password reset email</button>
            </div>
        </mat-card-actions>
    </mat-card>

    <div class="centered-both-margin">Remember password? <a [routerLink]="['/login']" class="right-aligned">Sign in</a>
    </div>
    <div class="centered-no-margin">Don't have an account? <a [routerLink]="['/register']" class="right-aligned">Sign
            up</a></div>


</div>