<div *ngIf="isLoading === false; else loading"
     class="flex-element-standalone"
     fxLayout="row"
     fxLayoutAlign="center center">

  <img alt="App logo"
       class="app-logo-style"
       src="assets/img/squash_logo.svg">

  <mat-card class="fit-content mx-auto mat-elevation-z3 text-center">
    <mat-card-content>

      <div>
        {{'forgotPassword.enterEmail' | translate}}
      </div>
      <div>
        {{'forgotPassword.sendLink' | translate}}
      </div>

      <div class="text-center mt-4 m-0 pb-0">
        <mat-form-field appearance="outline">
          <mat-label>
            Email
          </mat-label>
          <input [formControl]="emailField"
                 autocapitalize="off"
                 autocomplete="off"
                 autocorrect="off"
                 matInput
                 name="email"
                 spellcheck="false">

          <mat-error *ngIf="emailField.hasError('required')">
            {{'fieldValidation.error.required' | translate}}
          </mat-error>

          <mat-error *ngIf="emailField.hasError('email')">
            {{'fieldValidation.error.email' | translate}}
          </mat-error>

          <button disabled
                  mat-icon-button
                  matSuffix>
            <mat-icon color="primary">email</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="text-center">
        <button (click)="resetPassword()"
                (keyup.enter)="resetPassword()"
                [disabled]="emailField.invalid"
                class="w-100"
                color="primary"
                mat-raised-button>
          {{'forgotPassword.sendPasswordResetEmail' | translate}}
        </button>
      </div>
    </mat-card-actions>
  </mat-card>

  <div class="text-center mt-3">
    {{'forgotPassword.remember' | translate}}
    <a [routerLink]="['/login']">
      {{'login.title' | translate}}
    </a>
  </div>

  <div class="text-center">
    {{'login.dontHaveAccount' | translate}}
    <a [routerLink]="['/register']">
      {{'signUp.title' | translate}}
    </a>
  </div>

</div>

<ng-template #loading>
  <app-bouncing-balls-loader-sync message="{{'processing' | translate}}">
  </app-bouncing-balls-loader-sync>
</ng-template>
