<div class="mat-elevation-z3 overflow-auto m-1 mb-2">

    <table [dataSource]="this.matches" mat-table matSort>

        <ng-container matColumnDef="first-player">
            <td *matCellDef="let match"
                [ngClass]="match.firstPlayerWins() ? 'winner' : 'looser'"
                class="right-aligned no-wrap"
                mat-cell>
                {{match.firstPlayer.username}}
            </td>
        </ng-container>
        <ng-container matColumnDef="second-player">
            <td *matCellDef="let match"
                [ngClass]="match.secondPlayerWins() ? 'winner' : 'looser'"
                class="left-aligned no-wrap left-border"
                mat-cell>
                {{match.secondPlayer.username}}
            </td>
        </ng-container>

        <ng-container matColumnDef="first-set-first-player">
            <td *matCellDef="let match"
                [ngClass]="match.firstPlayerWinsSet(0) ? 'winner' : 'looser'"
                class="right-aligned left-border even-distributed"
                mat-cell>
                {{match.sets[0].firstPlayerScore}}
            </td>
        </ng-container>

        <ng-container matColumnDef="first-set-second-player">
            <td *matCellDef="let match"
                [ngClass]="match.secondPlayerWinsSet(0) ? 'winner' : 'looser'"
                class="left-aligned even-distributed"
                mat-cell>
                {{match.sets[0].secondPlayerScore}}
            </td>
        </ng-container>

        <ng-container matColumnDef="second-set-first-player">
            <td *matCellDef="let match"
                [ngClass]="match.firstPlayerWinsSet(1) ? 'winner' : 'looser'"
                class="right-aligned left-border even-distributed"
                mat-cell>
                {{match.sets[1].firstPlayerScore}}
            </td>
        </ng-container>

        <ng-container matColumnDef="second-set-second-player">
            <td *matCellDef="let match"
                [ngClass]="match.secondPlayerWinsSet(1) ? 'winner' : 'looser'"
                class="left-aligned even-distributed"
                mat-cell>
                {{match.sets[1].secondPlayerScore}}
            </td>
        </ng-container>

        <ng-container matColumnDef="third-set-first-player">
            <td *matCellDef="let match"
                [ngClass]="match.firstPlayerWinsSet(2) ? 'winner' : 'looser'"
                class="right-aligned left-border even-distributed last-cell-in-row"
                mat-cell>
                <div *ngIf="match.hasThirdSet()">
                    {{match.sets[2].firstPlayerScore}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="third-set-second-player">
            <td *matCellDef="let match"
                [ngClass]="match.secondPlayerWinsSet(2) ? 'winner' : 'looser'"
                class="left-aligned even-distributed last-cell-in-row"
                mat-cell>
                <div *ngIf="match.hasThirdSet()">
                    {{match.sets[2].secondPlayerScore}}
                </div>
            </td>
        </ng-container>

        <!-- Header row first group -->
        <ng-container matColumnDef="header-row-players">
            <th *matHeaderCellDef
                [attr.colspan]="2"
                class="center-aligned bottom-border first-cell-in-row"
                mat-header-cell>
                {{'player.plural' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-first-set">
            <th *matHeaderCellDef
                [attr.colspan]="2"
                class="center-aligned left-border bottom-border no-wrap"
                mat-header-cell>
                {{'set.first' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-second-set">
            <th *matHeaderCellDef
                [attr.colspan]="2"
                class="center-aligned left-border bottom-border no-wrap"
                mat-header-cell>
                {{'set.second' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-third-set">
            <th *matHeaderCellDef
                [attr.colspan]="2"
                class="center-aligned left-border bottom-border last-cell-in-row no-wrap"
                mat-header-cell>
                {{'set.third' | translate}}
            </th>
        </ng-container>

        <tr *matHeaderRowDef="['header-row-players', 'header-row-first-set', 'header-row-second-set', 'header-row-third-set']"
            mat-header-row>
        </tr>
        <tr *matRowDef="let row; columns: displayedColumns;"
            mat-row>
        </tr>
    </table>

</div>