<div class="mat-elevation-z3 table-content-standalone">
    <table
        mat-table
        [dataSource]="dataSource"
        matSort
    >
        <ng-container matColumnDef="date-column">
            <td
                mat-cell
                *matCellDef="let match"
                class="date-column no-wrap first-cell-in-row"
            >
                {{ dateFormatted(match.roundDate) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="first-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="right-aligned no-wrap left-border"
                [ngClass]="match.firstPlayerWins() ? 'winner' : 'looser'"
            >
                {{ match.firstPlayer.username }}
            </td>
        </ng-container>

        <ng-container matColumnDef="second-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="left-aligned no-wrap left-border"
                [ngClass]="match.secondPlayerWins() ? 'winner' : 'looser'"
            >
                {{ match.secondPlayer.username }}
            </td>
        </ng-container>

        <ng-container matColumnDef="first-set-first-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="right-aligned left-border even-distributed"
                [ngClass]="match.firstPlayerWinsSet(0) ? 'winner' : 'looser'"
            >
                {{ match.sets[0].firstPlayerScore }}
            </td>
        </ng-container>

        <ng-container matColumnDef="first-set-second-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="left-aligned even-distributed"
                [ngClass]="match.secondPlayerWinsSet(0) ? 'winner' : 'looser'"
            >
                {{ match.sets[0].secondPlayerScore }}
            </td>
        </ng-container>

        <ng-container matColumnDef="second-set-first-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="right-aligned left-border even-distributed"
                [ngClass]="match.firstPlayerWinsSet(1) ? 'winner' : 'looser'"
            >
                {{ match.sets[1].firstPlayerScore }}
            </td>
        </ng-container>

        <ng-container matColumnDef="second-set-second-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="left-aligned even-distributed"
                [ngClass]="match.secondPlayerWinsSet(1) ? 'winner' : 'looser'"
            >
                {{ match.sets[1].secondPlayerScore }}
            </td>
        </ng-container>

        <ng-container matColumnDef="third-set-first-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="right-aligned left-border even-distributed last-cell-in-row"
                [ngClass]="match.firstPlayerWinsSet(2) ? 'winner' : 'looser'"
            >
                <div *ngIf="match.sets[2].firstPlayerScore > 0 && match.sets[2].secondPlayerScore > 0">
                    {{ match.sets[2].firstPlayerScore }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="third-set-second-player">
            <td
                mat-cell
                *matCellDef="let match"
                class="left-aligned even-distributed last-cell-in-row"
                [ngClass]="match.secondPlayerWinsSet(2) ? 'winner' : 'looser'"
            >
                <div *ngIf="match.sets[2].firstPlayerScore > 0 && match.sets[2].secondPlayerScore > 0">
                    {{ match.sets[2].secondPlayerScore }}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="header-row-date">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="date-column bottom-border first-cell-in-row"
                [attr.colspan]="1"
            >
                Date
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-players">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="center-aligned left-border bottom-border"
                [attr.colspan]="2"
            >
                Players
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-first-set">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="center-aligned left-border bottom-border no-wrap"
                [attr.colspan]="2"
            >
                1st set
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-second-set">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="center-aligned left-border bottom-border no-wrap"
                [attr.colspan]="2"
            >
                2nd set
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-third-set">
            <th
                mat-header-cell
                *matHeaderCellDef
                class="center-aligned left-border bottom-border last-cell-in-row no-wrap"
                [attr.colspan]="2"
            >
                3rd set
            </th>
        </ng-container>

        <tr
            mat-header-row
            *matHeaderRowDef="[
                'header-row-date',
                'header-row-players',
                'header-row-first-set',
                'header-row-second-set',
                'header-row-third-set'
            ]"
        ></tr>
        <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
</div>

<mat-paginator
    [length]="matchesSimplePaginated?.total"
    [pageIndex]="matchesSimplePaginated?.page"
    [hidePageSize]="true"
    [pageSize]="pageSize"
    class="mat-elevation-z3 minus-margin-top table-content-standalone"
    showFirstLastButtons
></mat-paginator>
