
.minus-margin-top {
    margin-top: -5px;
}

table {
    width: 100%;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.date-column {
    text-align: left;
    width: 85px;
    min-width: 85px;
    flex: none;
}

.player-width {
    flex: none;
    min-width: 150px;
    max-width: 250px;
}

.left-border {
    border-left: 1px solid rgb(224, 224, 224);
}

.bottom-border {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.right-aligned {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}
