<mat-form-field class="m-2">
  <mat-label>
    Filter
  </mat-label>
  <input #input (keyup)="applyFilter($event)" matInput>
</mat-form-field>

<table [dataSource]="dataSource"
       mat-table
       matSort
       matSortStart="desc">

  <ng-container matColumnDef="id">
    <th *matHeaderCellDef
        class="text-start px-2"
        mat-header-cell
        mat-sort-header>
      ID
    </th>
    <td *matCellDef="let player"
        class="text-start px-2"
        mat-cell>
      {{player.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="emoji">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell>

    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap px-1"
        mat-cell>
      {{player.emoji}}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell
        mat-sort-header>
      Username
    </th>
    <td *matCellDef="let player"
        class="text-start text-nowrap px-1"
        mat-cell>
      {{player.username}}
      <span *ngIf="player.isAdmin()" class="ms-1 minus-column">(ADMIN)</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell
        mat-sort-header>
      Email
    </th>
    <td *matCellDef="let player"
        class="text-start text-nowrap px-1"
        mat-cell>
      {{player.email}}
    </td>
  </ng-container>

  <ng-container matColumnDef="successfulLoginAttempts">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      <mat-icon class="inline-icon" matTooltip="Login attempts">
        add_task
      </mat-icon>
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap px-1"
        mat-cell>
      <span *ngIf="player.successfulLoginAttempts>0">
        {{player.successfulLoginAttempts}}
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="wantsEmails">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      <mat-icon class="inline-icon" matTooltip="Wants e-mails">
        mark_email_read
      </mat-icon>
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace p-0"
        mat-cell>
      <button (click)="toggleBooleanParam(player, 'wantsEmails')"
              class="align-middle m-0"
              mat-icon-button>
        <mat-icon *ngIf="player.wantsEmails" color="accent">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!player.wantsEmails" class="text-muted">radio_button_unchecked</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="enabled">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      <mat-icon class="inline-icon" matTooltip="Enabled">
        verified_user
      </mat-icon>
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace p-0"
        mat-cell>
      <button (click)="toggleBooleanParam(player, 'enabled')"
              class="align-middle m-0"
              mat-icon-button>
        <mat-icon *ngIf="player.enabled" color="accent">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!player.enabled" class="text-muted">radio_button_unchecked</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="nonLocked">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      <mat-icon class="inline-icon" matTooltip="Non-locked">
        lock_open
      </mat-icon>
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace p-0"
        mat-cell>
      <button (click)="toggleBooleanParam(player, 'nonLocked')"
              class="align-middle m-0"
              mat-icon-button>
        <mat-icon *ngIf="player.nonLocked" color="accent">check_circle_outline</mat-icon>
        <mat-icon *ngIf="!player.nonLocked" class="text-muted">radio_button_unchecked</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="locale">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      <mat-icon class="inline-icon" matTooltip="Locale">
        flag
      </mat-icon>
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      <mat-icon *ngIf="player.locale == 'pl'"
                style="margin-bottom: 2px"
                svgIcon="flag-pl">
      </mat-icon>
      <mat-icon *ngIf="player.locale == 'en'"
                style="margin-bottom: 2px"
                svgIcon="flag-gb">
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="registrationDateTime">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      Registered
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap px-1"
        mat-cell>
      <div matTooltip="{{player.registrationDateTime | date:'HH:mm' }}">
        {{player.registrationDateTime | date:'dd.MM.yyyy' }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="lastLoggedInDateTime">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell
        mat-sort-header>
      Last login
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap px-1"
        mat-cell>
      <div matTooltip="{{player.lastLoggedInDateTime | date:'HH:mm' }}">
        {{player.lastLoggedInDateTime | date:'dd.MM.yyyy' }}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="uuid">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      UUID
    </th>
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      {{player.uuid}}
    </td>
  </ng-container>

  <ng-container matColumnDef="edit-button-column">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      Edit
    </th>
    <td *matCellDef="let player"
        class="text-center p-0"
        mat-cell>
      <button [routerLink]="['/player-edit', player.uuid]"
              class="align-middle m-0"
              color="warn"
              mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="logout-button-column">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      Logout
    </th>
    <td *matCellDef="let player"
        class="text-center p-0"
        mat-cell>
      <button (click)="logoutUser(player)"
              class="align-middle m-0"
              color="warn"
              mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns"
      mat-header-row>
  </tr>

  <tr *matRowDef="let row; columns: displayedColumns;"
      mat-row>
  </tr>

</table>

