<mat-form-field class="m-2">
  <mat-label>
    Filter
  </mat-label>
  <input #input (keyup)="applyFilter($event)" matInput>
</mat-form-field>

<table [dataSource]="dataSource"
       mat-table
       matSort
       matSortStart="desc">

  <ng-container matColumnDef="id-column">
    <td *matCellDef="let player"
        class="text-start px-2"
        mat-cell>
      {{player.id}}
    </td>
  </ng-container>

  <ng-container matColumnDef="emoji-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap px-1"
        mat-cell>
      {{player.emoji}}
    </td>
  </ng-container>

  <ng-container matColumnDef="username-column">
    <td *matCellDef="let player"
        class="text-start text-nowrap px-1"
        mat-cell>
      {{player.username}}
      <span *ngIf="player.isAdmin()" class="ms-1 minus-column">(ADMIN)</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="email-column">
    <td *matCellDef="let player"
        class="text-start text-nowrap px-1"
        mat-cell>
      {{player.email}}
    </td>
  </ng-container>

  <ng-container matColumnDef="successful-login-attempts-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      {{player.successfulLoginAttempts}}
    </td>
  </ng-container>

  <ng-container matColumnDef="uuid-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      {{player.uuid}}
    </td>
  </ng-container>

  <ng-container matColumnDef="wants-emails-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      <mat-icon *ngIf="player.wantsEmails" class="inline-icon">check</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="enabled-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      {{player.enabled}}
    </td>
  </ng-container>

  <ng-container matColumnDef="locked-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      {{player.nonLocked}}
    </td>
  </ng-container>

  <ng-container matColumnDef="locale-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      <mat-icon *ngIf="player.locale == 'pl'"
                style="margin-bottom: 2px"
                svgIcon="flag-pl">
      </mat-icon>
      <mat-icon *ngIf="player.locale == 'en'"
                style="margin-bottom: 2px"
                svgIcon="flag-gb">
      </mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="registration-date-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      <div>{{player.registrationDateTime | date:'dd.MM.yyyy' }}</div>
      <div>{{player.registrationDateTime | date:'HH:mm' }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="last-login-date-column">
    <td *matCellDef="let player"
        class="text-center text-nowrap font-monospace px-1"
        mat-cell>
      <div>{{player.lastLoggedInDateTime | date:'dd.MM.yyyy' }}</div>
      <div>{{player.lastLoggedInDateTime | date:'HH:mm' }}</div>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit-button-column">
    <td *matCellDef="let player"
        class="text-center p-0"
        mat-cell>
      <button [routerLink]="['/player-edit', player.uuid]"
              class="align-middle m-0"
              color="warn"
              mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>


  <!-- Headers Main Row -->
  <ng-container matColumnDef="header-row-id">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell>
      id
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-emoji">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell>

    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-username">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell>
      username
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-email">
    <th *matHeaderCellDef
        class="text-start px-1"
        mat-header-cell>
      email
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-successful-login-attempts">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      Logins
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-uuid">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      uuid
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-wants-emails">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      <mat-icon class="inline-icon">mark_email_read</mat-icon>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-enabled">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      <mat-icon class="inline-icon">verified_user</mat-icon>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-locked">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      <mat-icon class="inline-icon">lock_open</mat-icon>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-locale">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      <mat-icon class="inline-icon">flag</mat-icon>
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-registration-date">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      registered
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-last-login-date">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      last login
    </th>
  </ng-container>

  <ng-container matColumnDef="header-row-edit">
    <th *matHeaderCellDef
        class="text-center px-1"
        mat-header-cell>
      edit
    </th>
  </ng-container>

  <tr *matHeaderRowDef="[
            'header-row-id',
            'header-row-emoji',
            'header-row-username',
            'header-row-email',
            'header-row-successful-login-attempts',
            'header-row-uuid',
            'header-row-wants-emails',
            'header-row-enabled',
            'header-row-locked',
            'header-row-locale',
            'header-row-registration-date',
            'header-row-last-login-date',
            'header-row-edit']"
      mat-header-row>
  </tr>

  <tr *matRowDef="let row; columns: displayedColumns;"
      mat-row>
  </tr>

</table>

