<mat-toolbar color="secondary">

    <img src="assets/img/squash_logo.svg" alt="App Logo">

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/home">
        <mat-icon>home</mat-icon>
      </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/leagues-view">
      <mat-icon>bar_chart</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/players-matches-view">
      <mat-icon>people</mat-icon>
    </button>

    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" routerLink="/xp-points-view">
        <mat-icon>sports_tennis</mat-icon>
    </button>

</mat-toolbar>

<mat-divider></mat-divider>