<div *ngIf="roundScoreboard; else loading" class="d-print-none">

    <div class="row justify-content-center mt-2">

        <div class="col-auto p-1 align-self-center">
            <button [routerLink]="['/round-edit', roundScoreboard.roundUuid]"
                    matTooltip="Edit round"
                    class="align-center"
                    color="warn"
                    mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="printRound()"
                    matTooltip="Print empty matches form"
                    class="align-center"
                    color="primary"
                    mat-icon-button>
                <mat-icon>print</mat-icon>
            </button>
        </div>

        <div class="col-auto p-1 align-self-center">
            <div class="my-awesome-header-small">
                Round {{ roundScoreboard.roundNumber }}
            </div>
        </div>

        <div class="col-auto p-1 align-self-center">
            <button [disabled]="this.roundScoreboard?.previousRoundUuid === null"
                    [routerLink]="['/round', this.roundScoreboard?.previousRoundUuid]"
                    color="primary"
                    mat-icon-button>
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button [routerLink]="['/season', this.roundScoreboard?.seasonUuid]"
                    color="primary"
                    mat-stroked-button>
                Season
            </button>
            <button [disabled]="this.roundScoreboard?.nextRoundUuid === null"
                    [routerLink]="['/round', this.roundScoreboard?.nextRoundUuid]"
                    color="primary"
                    mat-icon-button>
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                {{dateFormatted(roundScoreboard.roundDate)}}
            </div>
        </div>
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                Season {{roundScoreboard.seasonNumberRoman}}
            </div>
        </div>
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                {{roundScoreboard.leagueName}}
            </div>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col align-self-center">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Scoreboards">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div *ngFor="let roundGroupScoreboardElement of roundScoreboard.roundGroupScoreboards"
                                 class="row justify-content-center">
                                <div class="col">
                                    <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
                                    </app-round-group-scoreboard>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards">
                    <ng-template mat-tab-label>
                        <span class="tab-number">{{roundGroupScoreboardElement.getGroupNumberNumeral()}}</span>
                        <span class="tab-text">{{roundGroupScoreboardElement.getNumberOfPlayers()}} players</span>
                    </ng-template>

                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="row justify-content-center">
                                <div class="col">
                                    <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
                                    </app-round-group-scoreboard>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col">
                                    <app-round-group-matches [matches]="roundGroupScoreboardElement.matches">
                                    </app-round-group-matches>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>

<app-round-matches-printable-view [roundScoreboard]="roundScoreboard">
</app-round-matches-printable-view>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>
