<div *ngIf="roundScoreboard; else loading" class="d-print-none">

  <app-page-header title="{{'round.singular' | translate}} {{ roundScoreboard.roundNumber }}">
  </app-page-header>

  <app-league-logo [logo]="leagueLogoBytes">
  </app-league-logo>

  <div class="row justify-content-center">
    <div class="col-auto p-1 align-self-center">
      <button [routerLink]="['/round-edit', roundScoreboard.roundUuid]"
              class="align-middle"
              color="warn"
              mat-icon-button
              matTooltip="{{'round.editTooltip' | translate}}">
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div class="col-auto p-1 align-self-center">
      <button [disabled]="this.roundScoreboard?.previousRoundUuid === null"
              [routerLink]="['/round', this.roundScoreboard?.previousRoundUuid]"
              color="primary"
              mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button [routerLink]="['/season', this.roundScoreboard?.seasonUuid]"
              color="primary"
              mat-stroked-button>
        {{'season.singular' | translate}}
      </button>
      <button [disabled]="this.roundScoreboard?.nextRoundUuid === null"
              [routerLink]="['/round', this.roundScoreboard?.nextRoundUuid]"
              color="primary"
              mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <div class="col-auto p-1 align-self-center">
      <button (click)="printRound()"
              class="align-middle"
              color="primary"
              mat-icon-button
              matTooltip="{{'round.printEmptyMatchesTooltip' | translate}}">
        <mat-icon>print</mat-icon>
      </button>
    </div>
  </div>

  <div class="row justify-content-center m-1">
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{roundScoreboard.roundDate | date:'dd.MM.y'}}
      </div>
    </div>
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{'season.singular' | translate}} {{roundScoreboard.seasonNumberRoman}}
      </div>
    </div>
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{roundScoreboard.leagueName}}
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col align-self-center">
      <mat-tab-group (selectedTabChange)="switchTab($event.index)"
                     [selectedIndex]="tab"
                     mat-stretch-tabs>
        <mat-tab label="{{'scoreboard.plural' | translate}}">
          <div class="row justify-content-center">
            <div class="col-auto">
              <div *ngFor="let roundGroupScoreboardElement of roundScoreboard.roundGroupScoreboards"
                   class="row justify-content-center">
                <div class="col">
                  <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
                  </app-round-group-scoreboard>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards">
          <ng-template mat-tab-label>
                        <span>
                            {{'numeral.dynamic' | translate: {count: roundGroupScoreboardElement.roundGroupNumber} }}
                          {{'group.singular' | translate}}
                        </span>
            <span>
                            {{'player.count' | translate: {count: roundGroupScoreboardElement.getNumberOfPlayers()} }}
                        </span>
          </ng-template>

          <div class="row justify-content-center">
            <div class="col-auto">
              <div class="row justify-content-center">
                <div class="col">
                  <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
                  </app-round-group-scoreboard>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col">
                  <app-round-group-matches [matches]="roundGroupScoreboardElement.matches">
                  </app-round-group-matches>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

</div>

<app-round-matches-printable-view [roundScoreboard]="roundScoreboard">
</app-round-matches-printable-view>

<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
