<div *ngIf="roundScoreboard"
     class="main-content">
    <h1>
        Round {{roundScoreboard.roundNumber}}

        <button
                [disabled]="this.roundScoreboard?.previousRoundUuid === null"
                [routerLink]="['/round', this.roundScoreboard?.previousRoundUuid]"
                class="align-center margin-left"
                color="primary"
                mat-icon-button
        >
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <button
                [routerLink]="['/season', this.roundScoreboard?.seasonUuid]"
                class="align-center margin-left"
                color="primary"
                mat-stroked-button
        >
            Season
        </button>

        <button
                [disabled]="this.roundScoreboard?.nextRoundUuid === null"
                [routerLink]="['/round', this.roundScoreboard?.nextRoundUuid]"
                class="align-center margin-left"
                color="primary"
                mat-icon-button
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>

        <button
                [routerLink]="['/round-edit', roundScoreboard.roundUuid]"
                class="align-center margin-left"
                color="warn"
                mat-stroked-button
        >
            Edit
        </button>

    </h1>

    <span class="non-break-large">
                {{dateFormatted(roundScoreboard.roundDate)}}
        <mat-icon class="align-center">keyboard_arrow_right</mat-icon>
                Season {{roundScoreboard.seasonNumberRoman}}
        <mat-icon class="align-center">keyboard_arrow_right</mat-icon>
        {{roundScoreboard.leagueName}}
            </span>

</div>


<mat-tab-group
        *ngIf="roundScoreboard; else loading"
        mat-stretch-tabs>

    <mat-tab label="Scoreboards">
        <div
                *ngFor="let roundGroupScoreboardElement of roundScoreboard.roundGroupScoreboards"
                class="table-content-standalone mat-elevation-z3">
            <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
            </app-round-group-scoreboard>
        </div>
    </mat-tab>

    <mat-tab *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards">
        <ng-template mat-tab-label>
            <span class="tab-number">{{roundGroupScoreboardElement.getGroupNumberNumeral()}}</span>
            <span class="tab-text">{{roundGroupScoreboardElement.getNumberOfPlayers()}} players</span>
        </ng-template>

        <div class="table-content-standalone mat-elevation-z3">
            <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
            </app-round-group-scoreboard>
        </div>

        <div class="table-content-standalone mat-elevation-z3">
            <app-round-group-matches [matches]="roundGroupScoreboardElement.matches">
            </app-round-group-matches>
        </div>

    </mat-tab>

</mat-tab-group>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>
