<div *ngIf="leagueOveralStats; else loading">

  <app-page-header subtitle="{{leagueOveralStats.leagueName}}"
                   title="{{'stats.league.title' | translate}}">
  </app-page-header>

  <div class="text-center info-text m-1">
    ({{'establishedAbbreviation' | translate}} {{leagueOveralStats.dateOfCreation | localizedDate:'MM.y'}})
  </div>

  <app-league-logo [logo]="leagueLogoBytes">
  </app-league-logo>

  <div class="row justify-content-center mx-1 p-0">
    <div class="col-auto m-0 p-0">
      <button [routerLink]="['/league-players', uuid]"
              class="m-1"
              color="primary"
              mat-stroked-button>
        <mat-icon class="mr-2">groups</mat-icon>
        {{'player.plural' | translate}}
      </button>
    </div>
    <div class="col-auto m-0 p-0">
      <button [routerLink]="['/league-rounds', uuid]"
              class="m-1"
              color="primary"
              mat-stroked-button>
        <mat-icon class="mr-2">man</mat-icon>
        {{'round.plural' | translate}}
      </button>
    </div>
    <div class="col-auto m-0 p-0">
      <button [routerLink]="['/league-additional-matches', uuid]"
              class="m-1"
              color="primary"
              mat-stroked-button>
        <mat-icon class="mr-2">self_improvement</mat-icon>
        {{'match.additionalMatches' | translate}}
      </button>
    </div>
    <div class="col-auto m-0 p-0">
      <button *ngIf="leagueDetailedStats" [matMenuTriggerFor]="menu"
              class="m-1"
              color="primary"
              mat-stroked-button>
        {{'season.plural' | translate}}
        <mat-icon class="font-large"
                  inline=true>
          expand_more
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let season of leagueDetailedStats?.perSeasonStats"
                mat-menu-item
                routerLink="/season/{{season.seasonUuid}}">
          {{season.seasonStartDate | localizedDate}}
          <mat-icon class="align-middle mx-1">arrow_forward_ios</mat-icon>
          {{'season.singular' | translate}} {{season.seasonNumberRoman}}
        </button>
        <button [queryParams]="{ leagueUuid: leagueOveralStats.leagueUuid }"
                [routerLink]="['/new-season']"
                color="accent"
                mat-menu-item>
          <mat-icon class="align-middle mx-1">add</mat-icon>
          {{'season.add' | translate}}
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col align-self-center">
      <mat-tab-group (selectedTabChange)="switchTab($event.index)"
                     [selectedIndex]="selectedTabIndex"
                     mat-stretch-tabs>

        <mat-tab label="{{'stats.tabs.overal' | translate}}">
          <app-league-board [overalStats]="leagueOveralStats"
                            [uuid]="uuid">
          </app-league-board>
        </mat-tab>

        <mat-tab label="{{'stats.tabs.seasons' | translate}}">
          <div *ngIf="leagueDetailedStats"
               class="row justify-content-center">
            <div class="col-auto">
              <app-per-season-stats [perSeasonStats]="leagueDetailedStats.perSeasonStats">
              </app-per-season-stats>
            </div>
          </div>
          <app-css-spinner *ngIf="!leagueDetailedStats" class="m-3">
          </app-css-spinner>
        </mat-tab>

        <mat-tab label="{{'stats.league.hallOfFame' | translate}}">
          <div *ngIf="seasonTrophies"
               class="row justify-content-center">
            <div class="col-auto">
              <app-hall-of-fame [leagueUuid]="leagueOveralStats.leagueUuid"
                                [isModerator]="isModerator"
                                [seasonTrophies]="seasonTrophies">
              </app-hall-of-fame>
            </div>
          </div>
          <app-css-spinner *ngIf="!seasonTrophies" class="m-3">
          </app-css-spinner>
        </mat-tab>

        <mat-tab label="{{'stats.league.scoreboard' | translate}}">
          <div *ngIf="leagueDetailedStats"
               class="row justify-content-center">
            <div class="col-auto">
              <app-league-scoreboard [leagueScoreboardRows]="leagueDetailedStats.scoreboard.rows">
              </app-league-scoreboard>
            </div>
          </div>
          <app-css-spinner *ngIf="!leagueDetailedStats" class="m-3">
          </app-css-spinner>
        </mat-tab>

        <mat-tab label="{{'league.rules' | translate}}">
          <div class="header-small p-2">
            <app-rules [isModerator]="isModerator"
                       [rules]="leagueRules">
            </app-rules>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>