
<mat-form-field class="m-2">
    <mat-label>
        Filter
    </mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
</mat-form-field>

<table [dataSource]="dataSource" mat-table matSort matSortStart="desc">

    <ng-container matColumnDef="number-column">
        <td *matCellDef="let row; index as i"
            class="even-distributed left-aligned-cell first-cell-in-row"
            mat-cell>
            {{i + 1}}
        </td>
    </ng-container>

    <ng-container matColumnDef="league-name-column">
        <td *matCellDef="let league"
            class="left-aligned no-wrap"
            mat-cell>
            {{league.leagueName}}
        </td>
    </ng-container>

    <ng-container matColumnDef="seasons-column">
        <td *matCellDef="let league"
            class="left-aligned no-wrap"
            mat-cell>
            {{league.seasons.length}}
        </td>
    </ng-container>

    <ng-container matColumnDef="league-logo-column">
        <td *matCellDef="let league"
            class="center-aligned no-wrap"
            mat-cell>
            <img *ngIf="logosMap"
                 [src]="logosMap.get(league.leagueUuid) | logoSanitizedPipe"
                 alt="League Logo"
                 height="40px">
        </td>
    </ng-container>

    <ng-container matColumnDef="uuid-column">
        <td *matCellDef="let league"
            class="left-aligned no-wrap"
            mat-cell>
            {{league.leagueUuid}}
        </td>
    </ng-container>

    <ng-container matColumnDef="edit-button-column">
        <td *matCellDef="let league"
            class="center-aligned p-0"
            mat-cell>
            <button [routerLink]="['/league-edit', league.leagueUuid]"
                    class="align-center m-0"
                    color="warn"
                    mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>


    <!-- Headers Main Row -->
    <ng-container matColumnDef="header-row-number">
        <th *matHeaderCellDef
            class="even-distributed left-aligned-cell first-cell-in-row"
            mat-header-cell>

        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-league-name">
        <th *matHeaderCellDef
            class="left-aligned"
            mat-header-cell>
            name
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-seasons">
        <th *matHeaderCellDef
            class="left-aligned"
            mat-header-cell>
            seasons
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-league-logo">
        <th *matHeaderCellDef
            class="center-aligned"
            mat-header-cell>
            logo
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-uuid">
        <th *matHeaderCellDef
            class="center-aligned"
            mat-header-cell>
            uuid
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-edit">
        <th *matHeaderCellDef
            class="center-aligned"
            mat-header-cell>
            edit
        </th>
    </ng-container>

    <tr *matHeaderRowDef="['header-row-number', 'header-row-league-name', 'header-row-seasons', 'header-row-league-logo', 'header-row-uuid', 'header-row-edit']"
        mat-header-row>
    </tr>

    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>

