<table [dataSource]="dataSource" mat-table matSort matSortStart="desc">

    <ng-container matColumnDef="position-column">
        <td *matCellDef="let row; index as i"
            class="even-distributed left-aligned-cell first-cell-in-row"
            mat-cell>
            {{i + 1}} </td>
    </ng-container>

    <!-- Players -->
    <ng-container matColumnDef="player-column">
        <td *matCellDef="let scoreboardRow"
            class="left-aligned no-wrap"
            mat-cell>
            {{scoreboardRow.player.username}}
        </td>
    </ng-container>

    <!-- Matches -->
    <ng-container matColumnDef="matches-plus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned left-border plus-column even-distributed"
            mat-cell>
            {{scoreboardRow.matchesWon}}
        </td>
    </ng-container>
    <ng-container matColumnDef="matches-minus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned minus-column even-distributed"
            mat-cell>
            {{scoreboardRow.matchesLost}}
        </td>
    </ng-container>
    <ng-container matColumnDef="matches-balance-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned balance-column even-distributed"
            mat-cell>
            {{scoreboardRow.matchesBalance | balancePipe}}
        </td>
    </ng-container>

    <!-- Sets -->
    <ng-container matColumnDef="sets-plus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned left-border plus-column even-distributed"
            mat-cell>
            {{scoreboardRow.setsWon}}
        </td>
    </ng-container>
    <ng-container matColumnDef="sets-minus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned minus-column even-distributed"
            mat-cell>
            {{scoreboardRow.setsLost}}
        </td>
    </ng-container>
    <ng-container matColumnDef="sets-balance-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned balance-column even-distributed"
            mat-cell>
            {{scoreboardRow.setsBalance | balancePipe}}
        </td>
    </ng-container>


    <!-- Points -->
    <ng-container matColumnDef="points-plus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned left-border plus-column even-distributed"
            mat-cell>
            {{scoreboardRow.pointsWon}}
        </td>
    </ng-container>
    <ng-container matColumnDef="points-minus-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned minus-column even-distributed"
            mat-cell>
            {{scoreboardRow.pointsLost}}
        </td>
    </ng-container>
    <ng-container matColumnDef="points-balance-column">
        <td *matCellDef="let scoreboardRow"
            class="center-aligned balance-column even-distributed last-cell-in-row"
            mat-cell>
            {{scoreboardRow.pointsBalance | balancePipe}}
        </td>
    </ng-container>


    <!-- Headers Main Row -->
    <ng-container matColumnDef="header-row-place">
        <th *matHeaderCellDef [attr.colspan]="1"
            class="even-distributed left-aligned-cell first-cell-in-row"
            mat-header-cell>
            {{'season.abbreviation.position' | translate}}
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-players">
        <th *matHeaderCellDef [attr.colspan]="1"
            class="left-aligned"
            mat-header-cell>
            {{'player.singular' | translate}}
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-matches">
        <th *matHeaderCellDef [attr.colspan]="3"
            class="center-aligned left-border bottom-border"
            mat-header-cell>
            {{'match.plural' | translate}}
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-sets">
        <th *matHeaderCellDef [attr.colspan]="3"
            class="center-aligned left-border bottom-border"
            mat-header-cell>
            {{'set.plural' | translate}}
        </th>
    </ng-container>

    <ng-container matColumnDef="header-row-points">
        <th *matHeaderCellDef [attr.colspan]="3"
            class="center-aligned left-border bottom-border last-cell-in-row"
            mat-header-cell>
            {{'rally.plural' | translate}}
        </th>
    </ng-container>

    <tr *matHeaderRowDef="['header-row-place', 'header-row-players', 'header-row-matches', 'header-row-sets', 'header-row-points']"
        mat-header-row>
    </tr>

    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
