<div *ngIf="league">

  <app-page-header subtitle="{{league.leagueName}}"
                   title="{{'stats.rounds.title' | translate}}">
  </app-page-header>

  <app-league-logo [logo]="league.leagueLogo">
  </app-league-logo>

    <app-league-actions-buttons [leagueUuid]="league.leagueUuid"
                                [showRounds]="false">
    </app-league-actions-buttons>

  <!-- Player select -->
  <div *ngIf="players" class="row justify-content-center g-0">
    <div class="col-auto py-1 px-3">
          <mat-form-field appearance="outline" class="mt-4">
            <mat-label>
              {{'player.select' | translate}}
            </mat-label>
            <mat-select (selectionChange)="loadStatsForPlayerAndGo(selectedPlayer)"
                        [(value)]="selectedPlayer">
              <mat-option
                      *ngFor="let player of players"
                      [value]="player">
                {{player.emoji}}
                {{player.username}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  </div>

</div>


<!-- Loader, error -->
<div *ngIf="leagueLoading">
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</div>
<div *ngIf="statsLoading && !noStatsAvailable"
     class="row justify-content-center">
  <app-bouncing-balls-loader-sync class="loading-balls-css">
  </app-bouncing-balls-loader-sync>
</div>
<div *ngIf="noStatsAvailable && !statsLoading"
     class="error-message">
  <app-not-found-message message="{{'stats.notAvailableYet' | translate}}">
  </app-not-found-message>
</div>

<div class="my-4"></div>

<div class="row justify-content-center g-0 m-1"
     *ngIf="stats">

    <div class="col-auto">
        <div class="display-6 text-center my-2">
            {{'summary' | translate}}
        </div>
    </div>

    <div class="w-100"></div>

    <div class="col-md-4">
        <div class="material-frame-no-margin m-1">
            <div class="display-6 text-center m-1">
                {{'match.plural' | translate}}
            </div>
            <app-score-balance [minus]="stats.scoreboardRow.matchesLost"
                               [plus]="stats.scoreboardRow.matchesWon">
            </app-score-balance>
        </div>
    </div>

    <div class="col-md-4">
        <div class="material-frame-no-margin m-1">
            <div class="display-6 text-center m-1">
                {{'set.plural' | translate}}
            </div>
            <app-score-balance [minus]="stats.scoreboardRow.setsLost"
                               [plus]="stats.scoreboardRow.setsWon">
            </app-score-balance>
        </div>
    </div>

    <div class="col-md-4">
        <div class="material-frame-no-margin m-1">
            <div class="display-6 text-center m-1">
                {{'rally.plural' | translate}}
            </div>
            <app-score-balance [minus]="stats.scoreboardRow.pointsLost"
                               [plus]="stats.scoreboardRow.pointsWon">
            </app-score-balance>
        </div>
    </div>
</div>

<div class="my-5"></div>

<!-- Stats: slider, charts, table -->
  <div class="row justify-content-center g-0 m-1"
       *ngIf="stats && !statsLoading && !noStatsAvailable">

      <div class="col-auto">
          <div class="display-6 text-center my-2">
              {{'details' | translate}}
          </div>
      </div>

      <div class="w-100"></div>

      <div class="col-md-6 col-12 px-3">
        <ngx-slider [(value)]="value"
                    [(highValue)]="highValue"
                    [options]="roundRangeSliderOptions"
                    (valueChange)="recreateCharts()"
                    (highValueChange)="recreateCharts()">
        </ngx-slider>
      </div>

      <div class="w-100"></div>

      <div class="col-md-3 col-6 text-start ps-3 info-text">
        {{stats.playerSingleRoundStats[this.value - 1].round.roundDate | localizedDate}}
      </div>

      <div class="col-md-3 col-6 text-end pe-3 info-text">
        {{stats.playerSingleRoundStats[this.highValue-1].round.roundDate | localizedDate}}
      </div>

      <div class="w-100 mb-2"></div>

      <div class="col-md-6 col-12 p-1">
        <div echarts
             class="material-frame-no-margin"
             [options]="perGroupOccurrencesChartOptions"
             style="height: 200px">
        </div>
      </div>
      <div class="col-md-6 col-12 p-1">
        <div echarts
             class="material-frame-no-margin"
             [options]="winningRoundsChartOptions"
             style="height: 200px">
        </div>
      </div>
      <div class="col-12 p-1">
        <div echarts
             class="material-frame-no-margin"
             [options]="roundsHistoryChartOptions"
             style="height: 400px">
        </div>
      </div>
      <div class="col-12 p-1">
        <div echarts
             class="material-frame-no-margin"
             [options]="placesHistogramOptions"
             style="height: 400px">
        </div>
      </div>

    <app-rounds-stats-scoreboard [rows]="stats.playerSingleRoundStats"
                                 [selectedPlayer]="selectedPlayer">
    </app-rounds-stats-scoreboard>

</div>
