.not-found-main {
    text-align: center;
    overflow: auto;
}

.large-styled-font {
    margin: 50px 0 100px 0;
    font-size: 120px;
    font-weight: 300;
}

.larger-font {
    font-size: larger;
}

.greyed-out {
    font-weight: 200;
    color: gray;
}

.small-font {
    font-weight: 200;
    padding: 10px;
    margin: 30px 0 30px 0;
    font-size: large;
    color: gray;
}

h3 {
    margin-bottom: 30px;
}

