<div class="header-large text-center mb-4" mat-card-title>
  {{title}}
</div>
<div class="row">
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value1"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle1}}
                </span>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value2"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle2}}
                </span>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value3"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle3}}
                </span>
      </div>
    </div>
  </div>
  <div class="d-md-none my-3"></div>
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value4"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle4}}
                </span>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value5"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle5}}
                </span>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-4">
    <div class="row justify-content-center">
      <div class="col-auto p-1 header-large">
                <span [countUp]="value6"
                      [options]="{separator: ' ', decimalPlaces: decimalPlaces}"
                      class="plus-column text-nowrap">
                    0
                </span>
      </div>
      <div class="w-100"></div>
      <div class="col-auto p-1 header-large text-center">
                <span class="header-tiny">
                    {{subtitle6}}
                </span>
      </div>
    </div>
  </div>
</div>