<div class="main-content">

    <h1>XP Points</h1>

    <table mat-table [dataSource]="this.xpPointsPerRound" class="mat-elevation-z3">

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

        <!-- Split Column -->
        <ng-container matColumnDef="split" sticky>
            <th mat-header-cell *matHeaderCellDef class="fixed-width-100 left-aligned"> Split </th>
            <td mat-cell *matCellDef="let element" class="fixed-width-100 left-aligned">
                {{element.split}} </td>
        </ng-container>

        <!-- Number Of Players Column -->
        <ng-container matColumnDef="numberOfPlayers">
            <th mat-header-cell *matHeaderCellDef class="fixed-width-50 left-aligned"> Players </th>
            <td mat-cell *matCellDef="let element" class="fixed-width-50 left-aligned">
                {{element.numberOfPlayers}} </td>
        </ng-container>



        <!-- <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container> -->

        <!-- Per place -->
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedNumericPerPlaceColumns; let i = index">
            <th mat-header-cell *matHeaderCellDef class="even-distributed center-aligned"> {{column}} </th>
            <td mat-cell *matCellDef="let element" class="even-distributed right-aligned"
                [class.group-1st-background]="element.xpPoints[i]?.groupNumber === 1"
                [class.group-2nd-background]="element.xpPoints[i]?.groupNumber === 2"
                [class.group-3rd-background]="element.xpPoints[i]?.groupNumber === 3">
                <table style="width:100%">
                    <td class="half-distributed right-aligned-no-padding">{{element.xpPoints[i]?.points}}</td>
                    <td class="half-distributed small-grey left-aligned-small-padding">{{element.xpPoints[i]?.placeInGroup}}</td>
                </table>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAllColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAllColumns;"></tr>
    </table>

</div>