.main-content {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.margin-right {
    margin-right: 20px;
}

.on-header {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
}

.align-center {
    vertical-align: middle !important;
    margin-bottom: 5px;
}