<div class="main-content" *ngIf="leagueStats; else loading">
    <h1>
        <img [src]="sanitizeLogo(leagueStats)" alt="League Logo" height="50px" class="margin-right">
        <b>{{leagueStats.leagueName}}</b> stats
    </h1>
</div>

<mat-tab-group mat-stretch-tabs *ngIf="leagueStats">

    <mat-tab label="Overal / Hall of fame">
        <app-overal-stats [leagueOveralStats]="leagueStats.overalStats">
        </app-overal-stats>
        <app-hall-of-fame [hallOfFameRows]="leagueStats.hallOfFame">
        </app-hall-of-fame>
    </mat-tab>

    <mat-tab label="Per Season">
        <app-per-season-stats [perSeasonStats]="leagueStats.perSeasonStats">
        </app-per-season-stats>
    </mat-tab>

    <mat-tab label="Scoreboard">
        <app-league-scoreboard [leagueScoreboardRows]="leagueStats.scoreboard.rows">
        </app-league-scoreboard>
    </mat-tab>

</mat-tab-group>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>