<div *ngIf="leagueStats; else loading"
     class="main-content">

    <img [src]="sanitizeLogo(leagueStats)"
         alt="League Logo"
         class="on-header">

    <h1>
        Stats
        <mat-icon class="align-center">keyboard_arrow_right</mat-icon>
        {{leagueStats.leagueName}}

        <button [queryParams]="{ expand: leagueStats.leagueUuid}"
                [routerLink]="['/leagues']"
                class="align-center margin-left"
                color="primary"
                mat-stroked-button>
            League
        </button>

    </h1>

</div>

<mat-tab-group *ngIf="leagueStats" mat-stretch-tabs>

    <mat-tab label="Overal">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="row justify-content-center">
                        <div class="col p-1">
                            <app-overal-stats [leagueOveralStats]="leagueStats.overalStats">
                            </app-overal-stats>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col p-1">
                            <app-per-season-stats [perSeasonStats]="leagueStats.perSeasonStats">
                            </app-per-season-stats>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Hall of fame">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto p-1">
                    <app-hall-of-fame [hallOfFameRows]="leagueStats.hallOfFame">
                    </app-hall-of-fame>
                </div>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Scoreboard">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-auto p-1">
                    <app-league-scoreboard [leagueScoreboardRows]="leagueStats.scoreboard.rows">
                    </app-league-scoreboard>
                </div>
            </div>
        </div>
    </mat-tab>

</mat-tab-group>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>