<div *ngIf="leagueStats; else loading">

    <div class="row justify-content-center mt-2">
        <div *ngIf="leagueStats.logoBytes"
             class="col-auto p-1 align-self-center">
            <img [src]="leagueStats.logoBytes | logoSanitizedPipe"
                 alt="League Logo"
                 style="height: 4rem">
        </div>
        <div *ngIf="!leagueStats.logoBytes"
             class="col-auto p-1 align-self-center"
             style="height: 4rem">
            <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="w-100"></div>
        <div class="col-auto align-self-center">
            <app-page-header title="{{'stats.league.title' | translate}}">
            </app-page-header>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                {{leagueStats.leagueName}}
            </div>
        </div>
        <div class="col-auto p-2 align-self-center">
            <button [queryParams]="{ expand: leagueStats.leagueUuid}"
                    [routerLink]="['/leagues']"
                    class="align-center margin-left"
                    color="primary"
                    mat-stroked-button>
                {{'league.singular' | translate}}
            </button>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col align-self-center">
            <mat-tab-group mat-stretch-tabs>

                <mat-tab label="{{'stats.league.overal' | translate}}">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="row justify-content-center g-0">
                                <div class="col-12">
                                    <app-overal-stats [leagueOveralStats]="leagueStats.overalStats">
                                    </app-overal-stats>
                                </div>
                                <div class="col-12">
                                    <app-per-season-stats [perSeasonStats]="leagueStats.perSeasonStats">
                                    </app-per-season-stats>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="{{'stats.league.hallOfFame' | translate}}">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="row justify-content-center g-0">
                                <div class="col">
                                    <app-hall-of-fame [hallOfFameRows]="leagueStats.hallOfFame">
                                    </app-hall-of-fame>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="{{'stats.league.scoreboard' | translate}}">
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <div class="row justify-content-center g-0">
                                <div class="col">
                                    <app-league-scoreboard [leagueScoreboardRows]="leagueStats.scoreboard.rows">
                                    </app-league-scoreboard>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>

            </mat-tab-group>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>