<div class="row justify-content-center mx-1 my-2">
    <div class="col-auto">
        <div class="row px-1">

            <!-- visible only on small screens - truncate league name to 100px -->
            <div class="col material-frame-no-margin p-0 align-self-center text-nowrap overflow-auto d-md-none d-inline-block">
                <button [routerLink]="['/league', leagueUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span class="d-inline-block text-truncate ms-1"
                          style="max-width: 100px;">
                        {{leagueName}}
                    </span>
                </button>
                <mat-icon *ngIf="seasonUuid"
                          class="align-middle"
                          fontSet="material-symbols-rounded">
                    chevron_right
                </mat-icon>
                <button *ngIf="seasonUuid"
                        [routerLink]="['/season', seasonUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span>
                        {{'season.singular' | translate}} {{seasonNumberRoman}}
                    </span>
                </button>
                <mat-icon class="align-middle"
                          fontSet="material-symbols-rounded">
                    chevron_right
                </mat-icon>
                <span class="align-middle pe-2">
                    {{date | localizedDate}}
                </span>
            </div>

            <!-- visible on >= medium - show full league name -->
            <div class="col material-frame-no-margin p-0 align-self-center text-nowrap overflow-auto d-none d-md-block">
                <button [routerLink]="['/leagues']"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span class="ms-1">
                        {{'league.all' | translate}}
                    </span>
                </button>
                <mat-icon class="align-middle"
                          fontSet="material-symbols-rounded">
                    chevron_right
                </mat-icon>
                <button [routerLink]="['/league', leagueUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span class="ms-1">
                        {{leagueName}}
                    </span>
                </button>
                <mat-icon *ngIf="seasonUuid"
                          class="align-middle"
                          fontSet="material-symbols-rounded">
                    chevron_right
                </mat-icon>
                <button *ngIf="seasonUuid"
                        [routerLink]="['/season', seasonUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span>
                        {{'season.singular' | translate}} {{seasonNumberRoman}}
                    </span>
                </button>
                <mat-icon class="align-middle"
                          fontSet="material-symbols-rounded">
                    chevron_right
                </mat-icon>
                <span class="align-middle pe-2">
                    {{date | localizedDate}}
                </span>
            </div>

            <!-- menu - show always -->
            <div *ngIf="menu"
                 class="col-auto p-0 ps-1">
                <button [matMenuTriggerFor]="menu"
                        class="m-0"
                        color="primary"
                        mat-icon-button>
                    <mat-icon fontSet="material-symbols-rounded">
                        touch_app
                    </mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
