<div class="row justify-content-center mx-1 my-2">
    <div class="col-auto">
        <div class="row px-1">
            <div class="col material-frame-no-margin p-0 align-self-center text-nowrap overflow-auto">
                <button [routerLink]="['/leagues']"
                        class="ms-1 m-0 px-1 py-0 d-none d-md-inline"
                        color="primary"
                        mat-button>
                    {{'league.all' | translate}}
                </button>
                <mat-icon class="align-middle d-none d-md-inline">
                    chevron_right
                </mat-icon>
                <button [routerLink]="['/league', leagueUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <!-- visible only on small screens - truncate to 100px -->
                    <span class="d-md-none d-inline-block text-truncate ms-1"
                          style="max-width: 100px;">
                        {{leagueName}}
                    </span>
                    <!-- visible on >= medium - show full name -->
                    <span class="d-none d-md-block">
                        {{leagueName}}
                    </span>
                </button>
                <mat-icon *ngIf="seasonUuid"
                          class="align-middle">
                    chevron_right
                </mat-icon>
                <button *ngIf="seasonUuid"
                        [routerLink]="['/season', seasonUuid]"
                        class="m-0 px-1 py-0"
                        color="primary"
                        mat-button>
                    <span>
                        {{'season.singular' | translate}} {{seasonNumberRoman}}
                    </span>
                </button>
                <mat-icon class="align-middle">
                    chevron_right
                </mat-icon>
                <span class="align-middle pe-2">
                    {{date | localizedDate}}
                </span>
            </div>
            <div *ngIf="menu"
                 class="col-auto p-0 ps-1">
                <button [matMenuTriggerFor]="menu"
                        class="m-0"
                        color="primary"
                        mat-icon-button>
                    <mat-icon fontSet="material-symbols-rounded">touch_app</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
