<div class="main-content"
    fxLayout="row"
    fxLayoutAlign="center center"
    *ngIf="registering === false; else loading">

    <img src="assets/img/squash_logo.svg"
         alt="Logo"
         class="picture-style" />

    <mat-card class="example-card mat-elevation-z3">
        <mat-card-header>
            <mat-card-title class="large-font">
                {{'signUp.createAccount' | translate}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="example-form">
                <div class="centered-margin-top">
                    <mat-form-field class="example-full-width"
                        appearance="standard">
                        <mat-label>
                            {{'player.username' | translate}}
                        </mat-label>
                        <input matInput
                            name="username"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="off"
                            spellcheck="false"
                            [formControl]="usernameField"/>
                        <mat-error *ngIf="usernameField.invalid">
                            {{ getErrorMessageForUsernameField() }}
                        </mat-error>
                        <button mat-icon-button matSuffix disabled>
                            <mat-icon class="black-color">person</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="centered-zero-margin zero-padding-bottom">
                    <mat-form-field class="example-full-width"
                        appearance="standard">
                        <mat-label>
                            Email
                        </mat-label>
                        <input matInput
                            name="email"
                            autocorrect="off"
                            autocapitalize="off"
                            autocomplete="off"
                            spellcheck="false"
                            [formControl]="emailField"/>
                        <mat-error *ngIf="emailField.invalid">
                            {{ getErrorMessageForEmailField() }}
                        </mat-error>
                        <button mat-icon-button matSuffix disabled>
                            <mat-icon class="black-color">email</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="centered-zero-margin zero-padding-bottom">
                    <mat-form-field class="example-full-width"
                        appearance="standard">
                        <mat-label>
                            {{'signUp.password' | translate}}
                        </mat-label>
                        <input matInput
                            #input
                            name="password"
                            [type]="hide ? 'password' : 'text'"
                            autocomplete="off"
                            autocorrect="off"
                            autocapitalize="off"
                            spellcheck="false"
                            [formControl]="passwordField"/>
                        <mat-error *ngIf="passwordField.invalid">
                            {{ getErrorMessageForPasswordField() }}
                        </mat-error>
                        <button mat-icon-button
                            matSuffix
                            (click)="hide = !hide"
                            [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>
                                {{ hide ? 'visibility_off' : 'visibility' }}
                            </mat-icon>
                        </button>
                        <mat-hint align="end">
                            {{ input.value?.length || 0 }}
                        </mat-hint>
                        <mat-hint
                            align="start"
                            *ngIf="passwordField.valid">
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="centered">
                <button mat-raised-button
                    (click)="signup()"
                    color="primary"
                    class="full-width"
                    [disabled]="!isValidInput()">
                    {{'signUp.createAccount' | translate}}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

    <div class="centered">
        {{'signUp.haveAccount' | translate}}
        <a [routerLink]="['/login']" class="right-aligned">
            {{'login.title' | translate}}
        </a>
    </div>
</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync message="{{'signUp.signingUp' | translate}}">
    </app-bouncing-balls-loader-sync>
</ng-template>
