<table [dataSource]="bonusPoints"
       mat-table
       matSort>

    <ng-container matColumnDef="date">
        <th *matHeaderCellDef class="first-cell-in-row text-center px-2"
            mat-header-cell>
            Date
        </th>
        <td *matCellDef="let bonusPoint"
            class="first-cell-in-row px-2"
            mat-cell>
            {{utils.formatDate(bonusPoint.date)}}
        </td>
    </ng-container>

    <ng-container matColumnDef="winner">
        <th *matHeaderCellDef class="text-right px-2"
            mat-header-cell>
            Winner
        </th>
        <td *matCellDef="let bonusPoint"
            class="text-right px-2 no-wrap winner"
            mat-cell>
            {{bonusPoint.winner.username}}
        </td>
    </ng-container>

    <ng-container matColumnDef="points">
        <th *matHeaderCellDef class="text-center"
            mat-header-cell>
        </th>
        <td *matCellDef="let bonusPoint"
            class="text-center"
            mat-cell>
            {{bonusPoint.points}}
        </td>
    </ng-container>

    <ng-container matColumnDef="looser">
        <th *matHeaderCellDef class="text-left px-2"
            mat-header-cell>
            Looser
        </th>
        <td *matCellDef="let bonusPoint"
            class="text-left px-2 no-wrap looser"
            mat-cell>
            {{bonusPoint.looser.username}}
        </td>
    </ng-container>

    <ng-container matColumnDef="remove">
        <th *matHeaderCellDef
            [hidden]="removalColumnHidden"
            mat-header-cell>
        </th>
        <td *matCellDef="let bonusPoint"
            [hidden]="removalColumnHidden"
            class="text-center p-0"
            mat-cell>
            <button (click)="submitRemoval(bonusPoint)"
                    color="warn"
                    mat-icon-button>
                <mat-icon>
                    delete
                </mat-icon>
            </button>
        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
