<app-trophy-icon [trophy]="trophyType">
</app-trophy-icon>
<mat-form-field appearance="outline" class="m-1">
    <mat-label>
        {{'hallOfFame.label.' + this.trophyType | translate}}
    </mat-label>
    <mat-select (selectionChange)="changeTrophy($event.value)"
                [value]="getMatchingPlayer()">
        <mat-option *ngFor="let player of leaguePlayers"
                    [value]="player">
            {{player.emoji}} {{player.username}}
        </mat-option>
        <mat-option [value]="null"
                    class="highlight-red text-center text-uppercase m-1 rounded-2">
            {{'remove' | translate}}
        </mat-option>
    </mat-select>
</mat-form-field>