<div class="row">
  <div class="col-auto">
    <pre *ngIf="logAggregateByUser">{{logAggregateByUser | json}}</pre>
  </div>
  <div class="col-auto">
    <pre *ngIf="logAggregateByMethod">{{logAggregateByMethod | json}}</pre>
  </div>
  <div class="col-auto">
    <pre *ngIf="allLogStats">{{allLogStats | json}}</pre>
  </div>
  <div class="col-auto">
    <pre *ngIf="filteredLogStats">{{filteredLogStats | json}}</pre>
  </div>
</div>

<div class="row">
  <div class="col-auto">
    <pre *ngIf="logEntriesPaginated">{{logEntriesPaginated | json}}</pre>
  </div>
</div>