<div *ngIf="league">

    <app-page-header subtitle="{{league.leagueName}}"
                     title="{{'stats.seasons.title' | translate}}">
    </app-page-header>

    <app-league-logo [logo]="league.leagueLogo">
    </app-league-logo>

    <app-league-actions-buttons [leagueUuid]="league.leagueUuid"
                                [showSeasons]="false">
    </app-league-actions-buttons>

    <!-- Player select -->
    <div *ngIf="players" class="row justify-content-center g-0">
        <div class="col-auto py-1 px-3">
            <mat-form-field appearance="outline" class="mt-4">
                <mat-label>
                    {{'player.select' | translate}}
                </mat-label>
                <mat-select (selectionChange)="loadStatsForPlayerAndGo(selectedPlayer)"
                            [(value)]="selectedPlayer">
                    <mat-option
                            *ngFor="let player of players"
                            [value]="player">
                        {{player.emoji}}
                        {{player.username}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

</div>


<!-- Loader, error -->
<div *ngIf="leagueLoading">
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</div>
<div *ngIf="statsLoading && !noStatsAvailable"
     class="row justify-content-center">
    <app-bouncing-balls-loader-sync class="loading-balls-css">
    </app-bouncing-balls-loader-sync>
</div>
<div *ngIf="noStatsAvailable && !statsLoading"
     class="error-message">
    <app-not-found-message message="{{'stats.notAvailableYet' | translate}}">
    </app-not-found-message>
</div>

<div class="my-4"></div>


<!-- Charts -->
<div class="row justify-content-center g-0 m-1"
     *ngIf="stats && !statsLoading && !noStatsAvailable">

    <div class="col-12 p-1">
        <div echarts
             class="material-frame-no-margin"
             [options]="seasonsHistoryChartOptions"
             style="height: 400px">
        </div>
    </div>

</div>


<!-- Stats scoreboards -->
<div class="row justify-content-center g-0 m-1"
     *ngIf="stats && !statsLoading && !noStatsAvailable">
    <app-seasons-stats-scoreboard [stats]="stats">
    </app-seasons-stats-scoreboard>
</div>

<div class="my-4"></div>

<ng-container *ngIf="otherTrophies?.length > 0">
    <div class="header-small text-center mb-3">
        {{'stats.seasons.otherTrophies' | translate}}
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <div *ngFor="let seasonTrophies of otherTrophies"
                 class="row">
                <div class="col-5 pb-1 header-tiny text-nowrap">
                    {{'season.singular' | translate}} {{seasonTrophies.seasonNumber}}
                </div>
                <div *ngFor="let trophy of seasonTrophies.trophies"
                     class="col-1 pb-1 mx-1 d-flex justify-content-center">
                    <app-trophy-icon [trophy]="trophy.trophy">
                    </app-trophy-icon>
                </div>
                <div class="w-100"></div>
            </div>
        </div>
    </div>
</ng-container>

<div class="my-5"></div>
