<div class="row justify-content-center m-1 p-1">

    <div *ngIf="showModeratorEdit" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-moderating', leagueUuid]"
                class="w-100"
                color="warn"
                mat-stroked-button>
            <mat-icon class="m-0 p-0" fontSet="material-symbols-rounded">edit</mat-icon>
        </button>
    </div>

    <div class="d-md-none d-inline-block w-100"></div>

    <div *ngIf="showLeague" class="col-auto m-1 p-0">
        <button [routerLink]="['/league', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2" fontSet="material-symbols-rounded">sports_tennis</mat-icon>
            {{'league.singular' | translate}}
        </button>
    </div>

    <div *ngIf="showPlayers" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-players', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2" fontSet="material-symbols-rounded">groups</mat-icon>
            {{'player.plural' | translate}}
        </button>
    </div>

    <div *ngIf="showAdditionalMatches" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-additional-matches', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2" fontSet="material-symbols-rounded">self_improvement</mat-icon>
            {{'match.additionalMatches' | translate}}
        </button>
    </div>

    <div *ngIf="showStats" class="col-auto m-1 p-0">
        <button [matMenuTriggerFor]="menu"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2" fontSet="material-symbols-rounded">leaderboard</mat-icon>
            {{'charts.plural' | translate}}
            <mat-icon inline="true"
                      fontSet="material-symbols-rounded">
                expand_more
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button [routerLink]="['/league-rounds', leagueUuid]"
                    class="w-100"
                    color="primary"
                    mat-menu-item>
                {{'round.plural' | translate}}
            </button>
            <button [routerLink]="['/league-seasons', leagueUuid]"
                    class="w-100"
                    color="primary"
                    mat-menu-item>
                {{'season.plural' | translate}}
            </button>
            <button [routerLink]="['/league-set-results-histogram', leagueUuid]"
                    class="w-100"
                    color="primary"
                    mat-menu-item>
                {{'stats.setResults.histogram' | translate}}
            </button>
            <button [routerLink]="['/league-match-results-distribution', leagueUuid]"
                    class="w-100"
                    color="primary"
                    mat-menu-item>
                {{'stats.matchResults.distribution' | translate}}
            </button>
        </mat-menu>
    </div>

    <div *ngIf="seasons" class="col-auto m-1 p-0">
        <button [matMenuTriggerFor]="menu"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2" fontSet="material-symbols-rounded">calendar_month</mat-icon>
            {{'season.plural' | translate}}
            <mat-icon inline="true" fontSet="material-symbols-rounded">expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let season of seasons"
                    mat-menu-item
                    routerLink="/season/{{season.seasonUuid}}">
                {{season.seasonStartDate | localizedDate}}
                <mat-icon class="align-middle mx-1" fontSet="material-symbols-rounded">arrow_forward_ios</mat-icon>
                {{'season.singular' | translate}} {{season.seasonNumberRoman}}
            </button>
            <button [queryParams]="{ leagueUuid: leagueUuid }"
                    [routerLink]="['/new-season']"
                    color="accent"
                    mat-menu-item>
                <mat-icon class="align-middle mx-1" fontSet="material-symbols-rounded">add</mat-icon>
                {{'season.add' | translate}}
            </button>
        </mat-menu>
    </div>

</div>
