<div class="row justify-content-center m-1 p-1">

    <div *ngIf="showModeratorEdit" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-moderating', leagueUuid]"
                class="w-100"
                color="warn"
                mat-stroked-button>
            <mat-icon class="m-0 p-0">edit</mat-icon>
        </button>
    </div>

    <div class="d-md-none d-inline-block w-100"></div>

    <div *ngIf="showLeague" class="col-auto m-1 p-0">
        <button [routerLink]="['/league', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2">leaderboard</mat-icon>
            {{'league.singular' | translate}}
        </button>
    </div>

    <div *ngIf="showPlayers" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-players', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2">groups</mat-icon>
            {{'player.plural' | translate}}
        </button>
    </div>

    <div *ngIf="showAdditionalMatches" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-additional-matches', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2">self_improvement</mat-icon>
            {{'match.additionalMatches' | translate}}
        </button>
    </div>

    <div *ngIf="showRounds" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-rounds', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2">man</mat-icon>
            {{'round.plural' | translate}}
        </button>
    </div>

    <div *ngIf="showSeasons" class="col-auto m-1 p-0">
        <button [routerLink]="['/league-seasons', leagueUuid]"
                class="w-100"
                color="primary"
                mat-stroked-button>
            <mat-icon class="mr-2">man</mat-icon>
            {{'season.plural' | translate}}
        </button>
    </div>

    <div *ngIf="seasons" class="col-auto m-0 p-0">
        <button [matMenuTriggerFor]="menu"
                class="m-1"
                color="primary"
                mat-stroked-button>
            {{'season.plural' | translate}}
            <mat-icon class="font-large"
                      inline=true>
                expand_more
            </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button *ngFor="let season of seasons"
                    mat-menu-item
                    routerLink="/season/{{season.seasonUuid}}">
                {{season.seasonStartDate | localizedDate}}
                <mat-icon class="align-middle mx-1">arrow_forward_ios</mat-icon>
                {{'season.singular' | translate}} {{season.seasonNumberRoman}}
            </button>
            <button [queryParams]="{ leagueUuid: leagueUuid }"
                    [routerLink]="['/new-season']"
                    color="accent"
                    mat-menu-item>
                <mat-icon class="align-middle mx-1">add</mat-icon>
                {{'season.add' | translate}}
            </button>
        </mat-menu>
    </div>

</div>
