
<div class="row justify-content-center mx-1 my-2">
  <div class="col-12 text-center">
    <div class="header-small text-center my-2">
      {{'courtCalculator.rateCourtPerHour' | translate}}
    </div>
    <div class="with-icon-centered">
      <button (click)="courtPay.ratePerCourtPerHour = courtPay.ratePerCourtPerHour-5"
              color="primary" mat-icon-button>
        <mat-icon>
          remove
        </mat-icon>
      </button>
      <span class="slight-bold">
      {{courtPay.ratePerCourtPerHour}} zł
      </span>
      <button (click)="courtPay.ratePerCourtPerHour = courtPay.ratePerCourtPerHour+5"
              color="primary" mat-icon-button>
        <mat-icon>
          add
        </mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col py-1 px-3">
    <div class="mat-elevation-z3 overflow-auto">
      <table [dataSource]="dataSource"
             mat-table>

        <!-- Players -->
        <ng-container matColumnDef="player-column">
          <td *matCellDef="let player"
              class="text-center px-1"
              mat-cell>
            <div class="form-group m-1">
              <input [(ngModel)]="player.name"
                     class="form-control form-control-sm transparent-input width-extended">
            </div>
          </td>
        </ng-container>

        <!-- To pay -->
        <ng-container matColumnDef="to-pay-column">
          <td *matCellDef="let player"
              class="text-center text-nowrap left-border px-1"
              mat-cell>
            {{player.toPay | number:'1.2-2'}} zł
          </td>
        </ng-container>

        <!-- Hours 1,2,3 -->
        <ng-container matColumnDef="hour-1-column">
          <td *matCellDef="let player"
              class="text-center text-nowrap left-border p-1"
              mat-cell>
            <mat-checkbox [(ngModel)]="player.presences[0].isPresent" class="m-2">
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="player.presences[0].hasMultisport" class="m-2"
                          color="accent">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="hour-2-column">
          <td *matCellDef="let player"
              class="text-center text-nowrap left-border p-1"
              mat-cell>
            <mat-checkbox [(ngModel)]="player.presences[1].isPresent" class="m-2">
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="player.presences[1].hasMultisport" class="m-2"
                          color="accent">
            </mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="hour-3-column">
          <td *matCellDef="let player"
              class="text-center text-nowrap left-border p-1"
              mat-cell>
            <mat-checkbox [(ngModel)]="player.presences[2].isPresent" class="m-2"
                          color="primary">
            </mat-checkbox>
            <mat-checkbox [(ngModel)]="player.presences[2].hasMultisport" class="m-2"
                          color="accent">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Delete -->
        <ng-container matColumnDef="delete-column">
          <td *matCellDef="let player"
              class="text-center p-0 left-border"
              mat-cell>
            <button (click)="deletePlayer(player)"
                    color="warn"
                    mat-icon-button>
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </td>
        </ng-container>


        <!-- Headers -->
        <ng-container matColumnDef="header-row-player">
          <th *matHeaderCellDef
              class="text-center px-1 bottom-border"
              mat-header-cell>
            Name
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-to-pay">
          <th *matHeaderCellDef
              class="text-center text-nowrap left-border px-1 bottom-border"
              mat-header-cell>
            To pay
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-hour-1">
          <th *matHeaderCellDef
              class="text-center left-border px-1 bottom-border"
              mat-header-cell>
            Hour 1
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-hour-2">
          <th *matHeaderCellDef
              class="text-center left-border px-1 bottom-border"
              mat-header-cell>
            Hour 2
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-hour-3">
          <th *matHeaderCellDef
              class="text-center left-border px-1 bottom-border"
              mat-header-cell>
            Hour 3
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-empty">
          <th *matHeaderCellDef
              class="text-center left-border px-0 bottom-border"
              mat-header-cell>

          </th>
        </ng-container>


        <!-- Footers -->
        <ng-container matColumnDef="footer-row-add-player">
          <th *matFooterCellDef [colSpan]="1"
              class="text-center px-1 bottom-border"
              mat-footer-cell>
            <button (click)="addPlayer()"
                    class="mx-1"
                    color="primary"
                    mat-stroked-button>
              Add player
            </button>
            <button (click)="save()"
                    class="mx-1"
                    color="accent"
                    mat-stroked-button>
              Save
            </button>
          </th>
        </ng-container>

        <ng-container matColumnDef="footer-row-courts">
          <th *matFooterCellDef
              class="text-center px-1 bottom-border"
              mat-footer-cell>
            Courts:
          </th>
        </ng-container>

        <ng-container matColumnDef="footer-row-hour-1">
          <th *matFooterCellDef
              class="text-center text-nowrap left-border px-1 bottom-border"
              mat-footer-cell>

            <button (click)="courtPay.courtsPerHour[0] = courtPay.courtsPerHour[0]-1"
                    color="primary" mat-icon-button>
              <mat-icon>
                remove
              </mat-icon>
            </button>

            {{courtPay.courtsPerHour[0]}}

            <button (click)="courtPay.courtsPerHour[0] = courtPay.courtsPerHour[0]+1"
                    color="primary" mat-icon-button>
              <mat-icon>
                add
              </mat-icon>
            </button>

          </th>
        </ng-container>

        <ng-container matColumnDef="footer-row-hour-2">
          <th *matFooterCellDef
              class="text-center text-nowrap left-border px-1 bottom-border"
              mat-footer-cell>
            <button (click)="courtPay.courtsPerHour[1] = courtPay.courtsPerHour[1]-1"
                    color="primary" mat-icon-button>
              <mat-icon>
                remove
              </mat-icon>
            </button>

            {{courtPay.courtsPerHour[1]}}

            <button (click)="courtPay.courtsPerHour[1] = courtPay.courtsPerHour[1]+1"
                    color="primary" mat-icon-button>
              <mat-icon>
                add
              </mat-icon>
            </button>
          </th>
        </ng-container>

        <ng-container matColumnDef="footer-row-hour-3">
          <th *matFooterCellDef
              class="text-center text-nowrap left-border px-1 bottom-border"
              mat-footer-cell>
            <button (click)="courtPay.courtsPerHour[2] = courtPay.courtsPerHour[2]-1"
                    color="primary" mat-icon-button>
              <mat-icon>
                remove
              </mat-icon>
            </button>

            {{courtPay.courtsPerHour[2]}}

            <button (click)="courtPay.courtsPerHour[2] = courtPay.courtsPerHour[2]+1"
                    color="primary" mat-icon-button>
              <mat-icon>
                add
              </mat-icon>
            </button>
          </th>
        </ng-container>

        <ng-container matColumnDef="footer-row-empty">
          <th *matFooterCellDef
              class="text-center text-nowrap left-border px-0 bottom-border"
              mat-footer-cell>

          </th>
        </ng-container>


        <tr *matHeaderRowDef="[
            'header-row-player',
            'header-row-to-pay',
            'header-row-hour-1',
            'header-row-hour-2',
            'header-row-hour-3',
            'header-row-empty'
            ]"
            mat-header-row>
        </tr>

        <tr *matRowDef="let row; columns: displayedColumns;"
            mat-row>
        </tr>

        <tr *matFooterRowDef="[
            'footer-row-add-player',
            'footer-row-courts',
            'footer-row-hour-1',
            'footer-row-hour-2',
            'footer-row-hour-3',
            'footer-row-empty'
            ]"
            mat-footer-row>
        </tr>
      </table>
    </div>
  </div>
</div>



<div class="row justify-content-center mx-1">
  <div class="col-auto text-center my-3">
    <button (click)="calculate()"
            class="mx-1"
            color="accent"
            mat-stroked-button>
      Calculate
    </button>
  </div>

  <div class="w-100"></div>

  <div class="col-auto text-center">
    <div class="material-frame p-2 m-1 header-tiny">
      <table>
        <tr>
          <td class="text-start p-2">
            totalPay
          </td>
          <td *ngIf="true" class="text-end p-2 plus-column">
            {{courtPay.totalPay | number:'1.0'}} zł
          </td>
        </tr>
        <tr>
          <td class="text-start p-2">
            multisportDeduct
          </td>
          <td *ngIf="2 > 0" class="text-end p-2 plus-column">
            {{courtPay.multisportDeduct | number:'1.0'}} zł
          </td>
        </tr>
        <tr>
          <td class="text-start p-2">
            totalPayMultisportDeducted
          </td>
          <td *ngIf="2 > 0" class="text-end p-2 plus-column">
            {{courtPay.totalPayMultisportDeducted | number:'1.0'}} zł
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>



<br>
<pre>
{{courtPay | json}}
</pre>
