.transparent-input {
  background-color: rgba(0, 0, 0, 0);
}
.width-extended {
  min-width: 200px;
}
.with-icon-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slight-bold {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}