.transparent-input {
    background-color: rgba(0, 0, 0, 0);
    border-color: var(--table-border-color);
    color: var(--text-main);
}

.slight-bold {
    font-size: 1.25rem !important;
    font-weight: 400 !important;
}

.hour-select {
    min-width: 50px !important;
    text-align-last: center;
    border-radius: 3px;
}
