
.player-width {
    flex: none;
    min-width: 150px;
    max-width: 250px;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.center-aligned {
    text-align: center;
    padding: 4px;
    align-self: stretch;
}

.left-aligned {
    text-align: left;
    padding: 4px;
}

.right-aligned {
    text-align: right;
    padding: 4px;
}

.no-wrap {
    white-space: nowrap;
}