<div *ngIf="seasonScoreboard" class="mt-3">

  <div class="row justify-content-center my-3">
    <div class="col-auto header-large">
      {{'league.currentSeason' | translate}}
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-auto header-tiny">
      {{'season.singular' | translate}}
      {{seasonScoreboard.season.seasonNumberRoman}} -
      {{seasonScoreboard.season.seasonStartDate | localizedDate}}
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-auto header-tiny">
      {{'player.plural' | translate}}: <b>{{seasonScoreboard.seasonScoreboardRows.length}}</b>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-auto header-tiny">
      {{'round.plural' | translate}}: <b>{{seasonScoreboard.rounds.length}}</b>
    </div>
  </div>

  <div class="row justify-content-center my-2">
    <div class="col-auto">
      <button [routerLink]="['/season', this.seasonScoreboard.season.seasonUuid]"
              color="primary"
              mat-stroked-button>
        {{'details' | translate}}
      </button>
    </div>
  </div>

  <div style="height:53px; width:100%; clear:both;"></div>

  <div class="row justify-content-center">
    <div class="col">
      <div *ngIf="seasonScoreboard.rounds.length > 0"
           class="mat-elevation-z3 overflow-auto">
        <app-season-scoreboard-table [hideRounds]="true"
                                     [seasonScoreboard]="seasonScoreboard">
        </app-season-scoreboard-table>
      </div>
    </div>
  </div>

</div>
