<div class="material-frame-no-margin overflow-auto m-1">
    <table [dataSource]="dataSource"
           mat-table
           matSort>

        <ng-container matColumnDef="timestamp-column">
            <td *matCellDef="let logEntry"
                class="text-center text-nowrap p-2 small-width"
                mat-cell>
                {{logEntry.timestamp | date: 'dd.MM.yyyy'}}
                <span class="text-muted font-small">{{logEntry.timestamp | date: 'EE':'':'pl'}}</span>
                <br/>
                <span>{{logEntry.timestamp | date: 'HH:mm:'}}</span><!--
                --><span class="text-muted font-small">{{logEntry.timestamp | date: 'ss.SSS'}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="message-column">
            <td *matCellDef="let logEntry"
                class="text-start left-border p-2"
                mat-cell
                style="line-height: 1.9">

                <span *ngIf="logEntry.isException"
                      class="bg-danger bg-opacity-50 rounded-2 p-1 me-1 font-monospace">{{'logs.error' | translate}}</span>

                <span class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">{{'logs.type' | translate}}</span>
                <span class="p-1 me-2">{{logEntry.type}}</span>

                <span class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">{{'logs.user' | translate}}</span>
                <span class="p-1 me-2">{{logEntry.username}}</span>

                <span *ngIf="logEntry.duration"
                      class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">{{'logs.duration' | translate}}</span>
                <span *ngIf="logEntry.duration" class="p-1 me-2">{{logEntry.duration | number:'':'pl'}}ms</span>

                <span class="text-nowrap">
                    <span *ngIf="logEntry.queryCount !== undefined"
                          class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">{{'logs.queries' | translate}}</span>
                    <span *ngIf="logEntry.queryCount !== undefined"
                          class="p-1 me-2">{{logEntry.queryCount}}</span>
                </span>

                <span *ngIf="logEntry.requestMapping"
                      class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">REST</span>
                <span *ngIf="logEntry.requestMapping" class="p-1 me-2">{{logEntry.requestMapping}}</span>

                <br/>

                <span class="bg-info bg-opacity-25 rounded-2 p-1 font-monospace">{{'logs.message' | translate}}</span>
                <span class="p-1 me-1 word-wrap-message">{{logEntry.message}}</span>

            </td>
        </ng-container>

        <!-- HEADERS -->

        <ng-container matColumnDef="header-row-timestamp">
            <th *matHeaderCellDef
                [attr.colspan]="1"
                class="text-center bottom-border p-2 small-width"
                mat-header-cell>
                {{'logs.timestamp' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-message">
            <th *matHeaderCellDef
                [attr.colspan]="1"
                class="text-start left-border bottom-border p-2"
                mat-header-cell>
                {{'logs.entry' | translate}}
            </th>
        </ng-container>

        <tr *matHeaderRowDef="[
                'header-row-timestamp',
                'header-row-message'
                ]"
            mat-header-row>
        </tr>
        <tr *matRowDef="let row; columns: displayedColumns"
            mat-row>
        </tr>
    </table>
</div>
<mat-paginator
        [hidePageSize]="true"
        [length]="logEntriesPaginated?.total"
        [pageIndex]="logEntriesPaginated?.page"
        [pageSize]="logEntriesPaginated?.size"
        class="material-frame-no-margin overflow-auto m-1"
        showFirstLastButtons>
</mat-paginator>

