<div *ngIf="validating === false; else loading"
     class="main-content"
     fxLayout="row"
     fxLayoutAlign="center center">

    <img alt="Logo" class="picture-style" src="assets/img/squash_logo.svg">

    <mat-card class="example-card mat-elevation-z3">
        <mat-card-content>
            <div *ngIf="status === 'SUCCESS'" class="regular-font">
                {{'confirmRegistration.messageSuccess' | translate}}
            </div>
            <div *ngIf="status === 'ERROR'" class="regular-font">
                {{'confirmRegistration.messageFailure' | translate}}
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="centered-top-margin">
                <button class="full-width" color="primary" mat-raised-button routerLink="/login">
                    {{"GoToLoginView" | translate}}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>
