<div class="main-content" fxLayout="row" fxLayoutAlign="center center" *ngIf="validating === false; else loading">

    <img src="assets/img/squash_logo.svg" alt="Logo" class="picture-style">

    <mat-card class="example-card mat-elevation-z3">
        <mat-card-content>
            <div class="regular-font">{{messageToBeShown}}</div>
        </mat-card-content>
        <mat-card-actions>
            <div class="centered-top-margin">
                <button mat-raised-button color="primary" class="full-width" routerLink="/login">
                    Go to login view
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>
