<div class="flex-element-standalone"
     fxLayout="row"
     fxLayoutAlign="center center">

    <img alt="App logo"
         class="app-logo-style"
         src="assets/img/squash_logo.svg">

    <mat-card class="fit-content mx-auto mat-elevation-z3">
        <mat-card-content>
            <div>
                {{'resetPassword.description' | translate}}
            </div>
            <div class="mx-3">
                <div class="text-center">
                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>
                            {{'player.username' | translate}}
                        </mat-label>
                        <input disabled
                               matInput
                               value="{{username}}">
                        <button disabled
                                mat-icon-button
                                matSuffix>
                            <mat-icon color="primary">person</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="text-center m-0 pb-0">
                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>
                            Email
                        </mat-label>
                        <input disabled
                               matInput
                               value="{{email}}">
                        <button disabled
                                mat-icon-button
                                matSuffix>
                            <mat-icon color="primary">email</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="text-center m-0 pb-0">
                    <mat-form-field appearance="outline"
                                    class="w-100">
                        <mat-label>
                            {{'resetPassword.newPassword' | translate}}
                        </mat-label>
                        <input #input
                               [errorStateMatcher]="matcher"
                               [formControl]="passwordField"
                               [type]="hide ? 'password' : 'text'"
                               autocapitalize="off"
                               autocomplete="off"
                               autocorrect="off"
                               matInput
                               name="password"
                               spellcheck="false"/>
                        <mat-error *ngIf="passwordField.invalid">
                            {{ getErrorMessageForPasswordField() | translate }}
                            <mat-icon color="primary"
                                      matTooltip="{{ 'fieldValidation.error.commonPasswordTooltip' | translate }}">
                                info
                            </mat-icon>
                        </mat-error>
                        <button (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide"
                                mat-icon-button
                                matSuffix>
                            <mat-icon color="primary">
                                {{hide ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                        <mat-hint align="end">
                            {{input.value?.length || 0}}
                        </mat-hint>
                        <mat-hint *ngIf="passwordField.valid"
                                  align="start">
                            {{'fieldValidation.passwordOk' | translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions>
            <div class="text-center">
                <button (click)="resetPassword()"
                        [disabled]="!this.passwordField.valid && isLoading"
                        class="w-100"
                        color="primary"
                        mat-raised-button>
                    {{'resetPassword.title' | translate}}
                </button>
                <mat-progress-bar *ngIf="isLoading"
                                  class="my-2"
                                  mode="indeterminate">
                </mat-progress-bar>
            </div>
        </mat-card-actions>

    </mat-card>

</div>
