<div class="main-content" fxLayout="row" fxLayoutAlign="center center">

    <img src="assets/img/squash_logo.svg" alt="Logo" class="picture-style">


    <mat-card class="example-card mat-elevation-z3">
        <mat-card-content>

            <div class="regular-font">
                {{'resetPassword.description' | translate}}
            </div>

            <div class="example-form">

                <div class="centered-margin-top">
                    <mat-form-field class="example-full-width" appearance="standard" >
                        <mat-label>
                            {{'player.username' | translate}}
                        </mat-label>
                        <input matInput disabled value="{{username}}">
                        <button mat-icon-button matSuffix disabled>
                            <mat-icon class="black-color">person</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="centered-zero-margin zero-padding-bottom">
                    <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Email</mat-label>
                        <input matInput disabled value="{{email}}">
                        <button mat-icon-button matSuffix disabled>
                            <mat-icon class="black-color">email</mat-icon>
                        </button>
                    </mat-form-field>
                </div>

                <div class="centered-zero-margin zero-padding-bottom">
                    <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>
                            {{'resetPassword.newPassword' | translate}}
                        </mat-label>
                        <input matInput #input name="password" [type]="hide ? 'password' : 'text'" autocomplete="off"
                            autocorrect="off" autocapitalize="off" spellcheck="false" [formControl]="passwordField">
                        <mat-error *ngIf="passwordField.invalid">{{getErrorMessageForPasswordField()}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint align="end">{{input.value?.length || 0}}</mat-hint>
                        <mat-hint align="start" *ngIf="passwordField.valid">
                            {{'resetPassword.passwordOk' | translate}}
                        </mat-hint>
                    </mat-form-field>
                </div>

            </div>

        </mat-card-content>
        <mat-card-actions>
            <div class="centered">
                <button mat-raised-button (click)="resetPassword()" color="primary" class="full-width"
                    [disabled]="!this.passwordField.valid">
                    {{'resetPassword.title' | translate}}
                </button>
            </div>
        </mat-card-actions>
    </mat-card>

</div>