<div *ngIf="roundScoreboard">

    <app-page-header subtitle="{{'round.singular' | translate}} {{roundScoreboard.roundNumber}},
{{'season.singular' | translate}} {{roundScoreboard.seasonNumber}},
{{roundScoreboard.leagueName}}"
                     title="{{'round.recreate' | translate}}">
    </app-page-header>

    <app-league-logo [logo]="leagueLogoBytes">
    </app-league-logo>

    <div class="row justify-content-center m-2">
        <div class="col-auto p-2 align-self-center">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{'date' | translate}}
                </mat-label>
                <input [(ngModel)]="roundDate"
                       [matDatepicker]="picker"
                       matInput>
                <mat-datepicker-toggle [for]="picker"
                                       matSuffix>
                </mat-datepicker-toggle>
                <mat-datepicker #picker
                                touchUi>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-2 text-center">
            <button (click)="sendRecreateRoundRequest()"
                    [disabled]="!isSelectionValid() || isLoading"
                    color="primary"
                    mat-raised-button
                    type="button">
                {{'round.recreate' | translate}}
            </button>
            <mat-progress-bar *ngIf="isLoading"
                              class="my-2"
                              mode="indeterminate">
            </mat-progress-bar>
            <div *ngIf="!isSelectionValid()" class="m-1">
                ({{'round.new.selectPlayersProperly' | translate}})
            </div>
            <div *ngIf="isSelectionValid()" class="m-1">
                {{this.currentSplit}}
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div *ngFor="let item of [].constructor(numberOfGroups); let i = index"
             class="col-auto m-1 p-0">
            <mat-card class="mat-elevation-z3">
                <mat-card-content>

                    <h1>
                        {{'group.singular' | translate}} {{i + 1 | roundGroupNumberToLetter}}
                        <span class="font-small-grey">
              ({{selectedPlayersGroup.get(i + 1).length}})
            </span>
                    </h1>

                    <ul *ngIf="seasonScoreboard">
                        <li *ngFor="let row of seasonScoreboard.seasonScoreboardRows">
                            <mat-checkbox #checkbox
                                          (change)="onCheckboxChange(row.player, i+1, $event.checked)"
                                          [checked]="shouldBeChecked(row, i+1)"
                                          color="primary">
                                {{row.player.emoji}}
                                {{row.player.username}}
                                <span *ngIf="getStarForPlayer(row.player.uuid); let star"
                                      [ngClass]="star.type === 'UBER'
                    ? 'uber-star-color'
                    : star.type === 'PROMOTION'
                    ? 'plus-column'
                    : 'minus-column'"
                                      class="fw-normal">
                  ({{star.groupCharacter}}<sub>{{star.roundNumber}}</sub>)
                </span>
                            </mat-checkbox>
                        </li>
                    </ul>

                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
