<div class="mat-elevation-z3 overflow-auto m-1 my-2">

    <table [dataSource]="stats" mat-table>
        <ng-container matColumnDef="stat-column">
            <td *matCellDef="let scoreboardRow"
                class="left-aligned first-cell-in-row"
                mat-cell>
                {{scoreboardRow.stat | translate}}
            </td>
        </ng-container>

        <ng-container matColumnDef="value-column">
            <td *matCellDef="let scoreboardRow"
                class="center-aligned left-border last-cell-in-row"
                mat-cell>
                {{scoreboardRow.value}}
            </td>
        </ng-container>

        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

</div>
