.mat-icon-button:focus,
.mat-button-toggle-button:focus,
.mat-stroked-button:focus,
.mat-mini-fab:focus,
.mat-fab:focus,
.mat-menu-item:focus {
    outline: none;
}

/* TODO: check why it's needed here!! */
.mat-tab-body-content {
    overflow: hidden !important;
}

/*.mat-card-header {*/
/*    flex-shrink: 0;*/
/*}*/

/*.card-content {*/
/*    height: fit-content;*/
/*    width: fit-content;*/
/*    border-radius: 1px;*/
/*}*/

.mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-sort-header-button {
    outline: none !important;
}

.error-message {
    font-size: x-large;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 300;
    color: gray;
}

.large-font {
    font-size: 50px;
    margin-right: 25px;
    text-align: center;
}

.font-large {
    font-size: large;
}

.loading-balls-css {
    height: 200px;
    width: 200px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.no-wrap {
    white-space: nowrap;
}

.my-awesome-header-large {
    font-size: 2rem !important;
    font-weight: 300 !important;
}

.my-awesome-header-small {
    font-size: 1.5rem !important;
    font-weight: 300 !important;
}

.my-awesome-header-tiny {
    font-size: 1.25rem !important;
    font-weight: 300 !important;
}

.on-header-absolute-league-logo {
    position: absolute;
    right: 45px;
    top: 5px;
    height: 40px;
}

.on-header-absolute-dashboard-button {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 40px;
}