.mat-icon-button:focus,
.mat-button-toggle-button:focus,
.mat-stroked-button:focus,
.mat-mini-fab:focus,
.mat-fab:focus,
.mat-menu-item:focus {
  outline: none;
}

.material-frame {
  border-radius: 5px;
  border: 1px solid var(--table-border-color);
  margin: 2rem 1rem;
}

.material-frame-no-margin {
  border-radius: 5px;
  border: 1px solid var(--table-border-color);
  margin: 0;
}

.full-width-field {
  display: block !important;
}

/* TODO: check why it's needed here!! */
.mat-tab-body-content {
  overflow: hidden !important;
}

.success-icon {
  color: var(--plus-column-color);
}

.in-progress-icon {
  color: lightslategray;
}

.empty-icon {
  color: lightgrey;
}

.error-icon {
  color: var(--minus-column-color);
}

.icon-button {
  cursor: pointer;
  vertical-align: middle;
}

.align-middle {
  vertical-align: middle;
}

.flex-element-standalone {
  margin: 10px;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.fit-content {
  width: fit-content;
}

.mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-sort-header-button {
  outline: none !important;
}

.error-message {
  font-size: x-large;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

.font-large {
  font-size: large;
}

.font-small {
  font-size: small;
}

.loading-balls-css {
  height: 200px;
  width: 200px;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.app-logo-style {
  margin: 15px;
  height: 50px;
}

.app-logo-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.info-text {
  color: var(--text-info) !important;
}

.inline-icon {
  vertical-align: bottom;
}

.small-icon {
  transform: scale(0.75);
}

.large-icon {
  transform: scale(3);
}

.cursor-default {
  cursor: default;
}

.highlight-red {
  background-color: var(--minus-column-color) !important;
}

@media print {

  .header,
  .footer,
  mat-tooltip-component {
    display: none !important;
  }

  .mat-drawer-container,
  .mat-drawer-content {
    overflow: visible !important;
  }

}

.small-grey {
  font-size: x-small;
  font-weight: 300;
  color: gray;
}

.color-grey {
  color: gray;
}

.small-font {
  font-size: x-small;
}

.with-icon-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.large-icon-button {
  width: calc(1.375rem + 1.5vw) !important;
  height: calc(1.375rem + 1.5vw) !important;
  line-height: 1.2 !important;

  .mat-icon {
    width: calc(1rem + 1.5vw) !important;
    height: calc(1rem + 1.5vw) !important;
    line-height: calc(1rem + 1.5vw) !important;
  }

  .material-icons {
    font-size: calc(1rem + 1.5vw) !important;
  }
}

@media (min-width: 1200px) {
  .large-icon-button {
    width: 2.5rem !important;
    height: 2.5rem !important;

    .mat-icon {
      width: 2rem !important;
      height: 2rem !important;
      line-height: 2rem !important;
    }

    .material-icons {
      font-size: 2rem !important;
    }
  }
}

.height-almost-100vh {
  max-height: calc(100vh - 50px) !important;
}
