.header-large {
  font-size: 2rem !important;
  font-weight: 300 !important;
}

.header-small {
  font-size: 1.5rem !important;
  font-weight: 300 !important;
}

.header-tiny {
  font-size: 1.25rem !important;
  font-weight: 300 !important;
}
