table {
    width: 100%;
}

.table-content-standalone {
    margin: 10px 5px 5px 5px;
    overflow: auto;
}

.mat-sort-header-arrow {
    margin: 0 !important;
}

.mat-header-row:nth-child(even) {
    background-color: var(--even-row-color) !important;
}

.mat-header-row:nth-child(odd) {
    background-color: var(--odd-row-color) !important;
}

.mat-row:nth-child(even) {
    background-color: var(--even-row-color) !important;
}

.mat-row:nth-child(odd) {
    background-color: var(--odd-row-color) !important;
}

.mat-row:hover {
    background-color: var(--table-hover-color) !important;
}

tr.mat-header-row,
tr.mat-row {
    height: 30px!important;
}

th.mat-sort-header-sorted {
    color: black;
}

.align-center {
    vertical-align: middle !important;
    margin-bottom: 5px;
}
  
.last-cell-in-row {
    padding-right: 4px !important;
}
  
.first-cell-in-row {
    padding-left: 4px !important;
}

.plus-column {
    font-weight: 300;
    color: var(--plus-column-color) !important;
}

.minus-column {
    font-weight: 300;
    color: var(--minus-column-color) !important;
}

.left-border {
    border-left: 1px solid var(--table-border-color);
}

.bottom-border {
    border-bottom: 1px solid var(--table-border-color) !important;
}

.balance-column {
    font-weight: 400;
}

.score-winning {
    font-weight: 600;
}

.winner {
    font-weight: 500;
    color: black;
}

.looser {
    font-weight: 300;
    color: slategray;
}