table {
    width: 100%;
}

.mat-table {
    border-radius: 5px;
}

table tr:last-child td {
    border-bottom: 0 solid;
}

.mat-sort-header-arrow {
    margin: 0 !important;
}

.mat-header-row:nth-child(even) {
    background-color: var(--even-row-color) !important;
}

.mat-header-row:nth-child(odd) {
    background-color: var(--odd-row-color) !important;
}

.mat-row:nth-child(even) {
    background-color: var(--even-row-color) !important;
}

.mat-row:nth-child(odd) {
    background-color: var(--odd-row-color) !important;
}

.mat-row:hover {
    background-color: var(--table-hover-color) !important;
}

tr.mat-header-row,
tr.mat-row {
    @media screen and (max-width: 991.98px) {
        height: 32px !important;
        .mat-header-cell {
            font-size: 13px !important;
        }
        .mat-cell {
            font-size: 14px !important;
        }
    }
    @media screen and (min-width: 992px) {
        height: 38px !important;
        .mat-header-cell {
            font-size: 15px !important;
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
        }
        .mat-cell {
            font-size: 16px !important;
            padding-left: 0.5rem !important;
            padding-right: 0.5rem !important;
        }
    }
}

th.mat-sort-header-sorted {
    color: black;
}

.uber-star-color {
    color: var(--uber-star-color) !important;
}

.promotion-color {
    color: var(--plus-column-color) !important;
}

.relegation-color {
    color: var(--minus-column-color) !important;
}

.plus-column {
    font-weight: 300;
    color: var(--plus-column-color) !important;
}

.minus-column {
    font-weight: 300;
    color: var(--minus-column-color) !important;
}

.plus-background {
    background-color: var(--plus-column-color) !important;
}

.minus-background {
    background-color: var(--minus-column-color) !important;
}

.left-border {
    border-left: 1px solid var(--table-border-color);
}

.bottom-border {
    border-bottom: 1px solid var(--table-border-color) !important;
}

.balance-column {
    font-weight: 400;
}

.winner {
    font-weight: 500;
    color: black;
}

.looser {
    font-weight: 300;
    color: slategray;
}
