<div *ngIf="leagues; else loading">

    <app-page-header title="{{'league.all' | translate}}">
    </app-page-header>

    <div class="row justify-content-center">
        <div class="col align-self-center py-1 px-3">

            <mat-accordion *ngIf="leagues; else loading">

                <mat-expansion-panel (afterExpand)="replaceLeagueUuidQueryParam(true, leagueDtoElement.leagueUuid)"
                                     (closed)="replaceLeagueUuidQueryParam(false, leagueDtoElement.leagueUuid)"
                                     *ngFor="let leagueDtoElement of leagues"
                                     [expanded]="leagueDtoElement.leagueUuid === selectedLeagueUuid"
                                     id="{{leagueDtoElement.leagueUuid}}">

                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-nowrap">
                            {{leagueDtoElement.leagueName}}
                        </mat-panel-title>
                        <mat-panel-description>
                            <div class="d-md-none">
                                ({{leagueDtoElement.seasons.length}})
                            </div>
                            <div class="d-none d-md-block">
                                {{'season.count' | translate : {count: leagueDtoElement.seasons.length} }}
                            </div>
                            <img *ngIf="logosMap"
                                 [src]="logosMap.get(leagueDtoElement.leagueUuid) | logoSanitizedPipe"
                                 alt="App Logo"
                                 height="25px">
                            <div *ngIf="!logosMap"
                                 class="d-flex justify-content-center align-items-center"
                                 style="height: 25px; width: 25px">
                                <mat-icon>hourglass_bottom</mat-icon>
                            </div>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <img *ngIf="logosMap"
                         [src]="logosMap.get(leagueDtoElement.leagueUuid) | logoSanitizedPipe"
                         alt="App Logo"
                         class="m-1"
                         height="100px">
                    <div *ngIf="!logosMap"
                         class="d-flex justify-content-center align-items-center"
                         style="height: 100px; width: 100px">
                        <mat-icon>hourglass_bottom</mat-icon>
                    </div>

                    <mat-divider class="m-1"></mat-divider>

                    <button class="m-1"
                            color="primary"
                            mat-stroked-button
                            routerLink="/league/{{leagueDtoElement.leagueUuid}}">
                        <mat-icon class="align-middle mx-1">leaderboard</mat-icon>
                        {{'league.singular' | translate}}
                    </button>

                    <button [matMenuTriggerFor]="menu"
                            class="m-1"
                            color="primary"
                            mat-stroked-button>
                        {{'season.plural' | translate}}
                        <mat-icon class="font-large"
                                  inline=true>
                            expand_more
                        </mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button *ngFor="let season of leagueDtoElement.seasons.slice().reverse()"
                                mat-menu-item
                                routerLink="/season/{{season.seasonUuid}}">
                            {{season.seasonStartDate | date:'dd.MM.y'}}
                            <mat-icon class="align-middle mx-1">arrow_forward_ios</mat-icon>
                            {{'season.singular' | translate}} {{season.seasonNumberRoman}}
                        </button>
                        <button [queryParams]="{ leagueUuid: leagueDtoElement.leagueUuid }"
                                [routerLink]="['/new-season']"
                                color="accent"
                                mat-menu-item>
                            <mat-icon class="align-middle mx-1">add</mat-icon>
                            {{'season.add' | translate}}
                        </button>
                    </mat-menu>
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>

    <div class="row justify-content-center ">
        <div class="col-auto align-self-center">
            <button class="m-2" color="primary" mat-stroked-button>
                <mat-icon>add</mat-icon>
                {{'league.add' | translate}}
            </button>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>
