<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
<div *ngIf="league; else loading">

  <app-page-header [subtitle]="league.leagueName"
                   title="{{'league.moderate' | translate}}">
  </app-page-header>

  <app-league-logo [logo]="league.leagueLogo">
  </app-league-logo>

  <div class="row justify-content-center m-3">
    <div class="col-auto">

      <div class="header-small text-center m-3">
        Moderators
      </div>
      <ol>
        <li *ngFor="let player of leagueModerators()" class="lead m-2">
          {{player.emoji}}
          {{player.username}}
        </li>
      </ol>

      <mat-divider class="my-3">
      </mat-divider>

      <div class="header-small text-center m-3">
        Players
      </div>
      <ol>
        <li *ngFor="let player of leaguePlayers()" class="lead m-2">
          {{player.emoji}}
          {{player.username}}
        </li>
      </ol>

    </div>
  </div>
</div>
