<div *ngIf="league; else loading">

    <app-page-header [subtitle]="league.leagueName"
                     title="{{'league.moderate.title' | translate}}">
    </app-page-header>

    <app-league-logo [logo]="league.leagueLogo">
    </app-league-logo>

    <app-league-actions-buttons [leagueUuid]="uuid">
    </app-league-actions-buttons>

    <div class="row justify-content-center">
        <div class="col align-self-center">
            <mat-tab-group (selectedTabChange)="switchTab($event.index)"
                           [selectedIndex]="selectedTabIndex"
                           mat-stretch-tabs>
                <mat-tab
                        label="{{'league.moderate.players' | translate}} / {{'league.moderate.permissions' | translate}}">
                    <div class="row justify-content-center">
                        <app-players-moderate [isModerator]="isModerator"
                                              [isOwner]="isOwner"
                                              [leagueUuid]="uuid">
                        </app-players-moderate>
                    </div>
                </mat-tab>
                <mat-tab label="{{'league.moderate.permissionDetails' | translate}}">
                    <div class="row justify-content-center">
                        <app-role-details>
                        </app-role-details>
                    </div>
                </mat-tab>
                <mat-tab label="{{'league.moderate.details' | translate}}">
                    <div class="row justify-content-center">
                        <app-league-moderate (update)="updating($event)"
                                             [isModerator]="isModerator"
                                             [isOwner]="isOwner"
                                             [leagueUuid]="uuid">
                        </app-league-moderate>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>
