@media screen and (orientation: landscape) {
    .max-width-username {
        max-width: 36vw;
    }
    .square {
        width: 36vw;
        height: 36vw;
    }
    .square-button {
        width: 22vw;
        height: 22vw;
        font-size: 18vw;
    }
    .corner-button {
        width: 7vw;
        height: 7vw;
        font-size: 5vw;
    }
    .game-result-font {
        font-size: 4vw;
    }
}

@media screen and (orientation: portrait) {
    .max-width-username {
        max-width: 40vh;
    }
    .square {
        width: 40vh;
        height: 40vh;
    }
    .square-button {
        width: 25vh;
        height: 25vh;
        font-size: 20vh;
    }
    .corner-button {
        width: 8vh;
        height: 8vh;
        font-size: 6vh;
    }
    .game-result-font {
        font-size: 4vh;
    }
}

.square {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.square-button {
    padding: 0;
    font-weight: 100 !important;
}

.corner-button {
    font-weight: 100 !important;
}

.game-result-font {
    font-weight: 200 !important;
}

.flip-horizontal {
    transform: scaleX(-1);
}

.right-upper {
    position:absolute;
    top:0;
    right:0;
}

.left-upper {
    position:absolute;
    top:0;
    left:0;
}

.bottom-center {
    position: absolute;
    bottom: 5%;
}
