// laptops, tablets
@media only screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 2/1) {
  .player-name-style {
    top: 0.5vh;
    max-width: 56vh;
    height: 10vh;
    line-height: 10vh;
    font-size: 7vh;
  }
  .right {
    right: 4vh;
  }
  .left {
    left: 4vh;
  }
  .square {
    width: 60vh;
    height: 60vh;
  }
  .square-button-left {
    width: 46vh;
    height: 47vh;
    font-size: 40vh;
    left: 2vh;
    bottom: 2vh;
  }
  .square-button-right {
    width: 46vh;
    height: 47vh;
    font-size: 40vh;
    right: 2vh;
    bottom: 2vh;
  }
  .action-button {
    font-size: 10vh;
    line-height: 12vh;
  }
  .small-icon-button {
    width: 12vh !important;
    height: 12vh !important;
    line-height: 10vh !important;
    font-size: 8vh !important;

    .mat-icon {
      width: 8vh !important;
      height: 8vh !important;
      line-height: 8vh !important;
      font-size: 8vh !important;
    }
  }
  .game-result-font {
    font-size: 4vh;
  }
}

// phones, landscape
@media only screen and (min-aspect-ratio: 2/1) {
  .player-name-style {
    top: 0.5vh;
    max-width: 56vh;
    height: 10vh;
    line-height: 10vh;
    font-size: 7vh;
  }
  .right {
    right: 4vh;
  }
  .left {
    left: 4vh;
  }
  .square {
    width: 74vh;
    height: 70vh;
  }
  .square-button-left {
    width: 58vh;
    height: 58vh;
    font-size: 52vh;
    left: 2vh;
    bottom: 2vh;
  }
  .square-button-right {
    width: 58vh;
    height: 58vh;
    font-size: 52vh;
    right: 2vh;
    bottom: 2vh;
  }
  .action-button {
    font-size: 10vh;
    line-height: 12vh;
  }
  .small-icon-button {
    width: 14vh !important;
    height: 14vh !important;
    line-height: 12vh !important;
    font-size: 9vh !important;

    .mat-icon {
      width: 9vh !important;
      height: 9vh !important;
      line-height: 9vh !important;
      font-size: 9vh !important;
    }
  }
  .game-result-font {
    font-size: 4vh;
  }
}

// portrait
@media only screen and (max-aspect-ratio: 5/4) {
  .player-name-style {
    top: 1vw;
    max-width: 56vw;
    height: 8vw;
    line-height: 10vw;
    font-size: 8vw;
  }
  .right {
    right: 4vw;
  }
  .left {
    left: 4vw;
  }
  .square {
    width: 84vw;
    height: 80vw;
  }
  .square-button-left {
    width: 66vw;
    height: 64vw;
    font-size: 52vw;
    left: 2vw;
    bottom: 2vw;
  }
  .square-button-right {
    width: 66vw;
    height: 64vw;
    font-size: 52vw;
    right: 2vw;
    bottom: 2vw;
  }
  .action-button {
    font-size: 8vw;
    line-height: 10vw;
  }
  .small-icon-button {
    width: 16vw !important;
    height: 16vw !important;
    line-height: 13vw !important;
    font-size: 10vw !important;

    .mat-icon {
      width: 10vw !important;
      height: 10vw !important;
      line-height: 10vw !important;
      font-size: 10vw !important;
    }
  }
  .game-result-font {
    font-size: 4vw;
  }
}

// common properties for all aspect ratios

.action-button {
  padding: 0.75rem !important;
  font-weight: 200;
  height: auto;
  width: auto;
}

.player-name-style {
  position: absolute;
  margin: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.square {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.square-button-left {
  position: absolute;
  padding: 0;
  font-weight: 100 !important;
}

.square-button-right {
  position: absolute;
  padding: 0;
  font-weight: 100 !important;
}

.corner-button {
  font-weight: 100 !important;
}

.game-result-font {
  font-weight: 200 !important;
}

.flip-horizontal {
  transform: scaleX(-1);
}

.right-upper {
  position: absolute;
  top: 0;
  right: 0;
}

.left-upper {
  position: absolute;
  top: 0;
  left: 0;
}

.left-center {
  position: absolute;
  display: inline-block;
  left: 0;
}

.right-center {
  position: absolute;
  display: inline-block;
  right: 0;
}

.right-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.right-bottom-fixed {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.left-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}

.on-top {
  z-index: 1000;
}

.absolute-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
