<div
    class="main-content"
    *ngIf="league; else loading"
>

    <img
        [src]="sanitizeLogo(league)"
        alt="League Logo"
        class="on-header"
    >

    <h1>
        Players
        <mat-icon class="align-center">keyboard_arrow_right</mat-icon>
        {{league.leagueName}}

        <button
            mat-stroked-button
            color="primary"
            class="align-center margin-left"
            [routerLink]="['/leagues']"
            [queryParams]="{ expand: league.leagueUuid}"
        >
            League
        </button>

    </h1>

    <h3 class="no-margin">
        Select any number of players to see individual or group statistics.
        You can also select/deselect all:
        <button
            mat-icon-button
            class="align-center"
            (click)="selectAll()"
        >
            <mat-icon color="primary">check_box</mat-icon>
        </button>
        <button
            mat-icon-button
            class="align-center"
            (click)="deselectAll()"
        >
            <mat-icon>check_box_outline_blank</mat-icon>
        </button>
    </h3>

</div>

<mat-card class="mat-elevation-z3 sharp-edges table-content-standalone">
    <mat-card-content>
        <mat-checkbox
            class="checkbox-layout"
            color="primary"
            *ngFor="let player of players"
            [ngModel]="selectionMap.get(player)"
            (ngModelChange)="onChange(player, $event)"
        >
            {{player.username}}
        </mat-checkbox>
    </mat-card-content>
</mat-card>

<div *ngIf="playersScoreboard">
    <app-players-scoreboard [roundGroupScoreboardRows]="playersScoreboard.scoreboardRows"></app-players-scoreboard>
    <app-players-matches
        [leagueUuid]="uuid"
        [commaSeparatedPlayersIds]="commaSeparatedPlayersIds"
    >
    </app-players-matches>
</div>

<div *ngIf="isLoading">
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</div>

<div
    *ngIf="noMatchesPlayed"
    class="error-message"
>
    <p>
        Seems that selected players have not played with each other at all
    </p>
    <p>
        <mat-icon class="large-font">mood_bad</mat-icon>
    </p>
</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>
