<div
        *ngIf="league; else loading"
        class="main-content">
    <img
            [src]="sanitizeLogo(league)"
            alt="League Logo"
            class="on-header">
    <h1>
        Players
        <mat-icon class="align-center">keyboard_arrow_right</mat-icon>
        {{league.leagueName}}

        <button
                [queryParams]="{ expand: league.leagueUuid}"
                [routerLink]="['/leagues']"
                class="align-center margin-left"
                color="primary"
                mat-stroked-button>
            League
        </button>
    </h1>
</div>

<mat-tab-group
        *ngIf="league; else loading"
        mat-stretch-tabs>
    <mat-tab label="Individual/Group">
        <app-individual-group-stats [league]="league"
                                    [players]="players">
        </app-individual-group-stats>
    </mat-tab>
    <mat-tab label="Rounds">
        <app-rounds-stats [league]="league"
                          [players]="players">
        </app-rounds-stats>
    </mat-tab>
</mat-tab-group>

<ng-template #loading>
    <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
</ng-template>

