<div *ngIf="league; else loading">

    <div class="row justify-content-center mt-2">
        <div *ngIf="league.leagueLogo"
             class="col-auto p-1 align-self-center">
            <img [src]="league.leagueLogo | logoSanitizedPipe"
                 alt="League Logo"
                 style="height: 4rem">
        </div>
        <div *ngIf="!league.leagueLogo"
             class="col-auto p-1 align-self-center"
             style="height: 4rem">
            <mat-icon>hourglass_bottom</mat-icon>
        </div>
        <div class="w-100"></div>
        <div class="col-auto align-self-center">
            <app-page-header title="{{'player.stats' | translate}}">
            </app-page-header>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                {{league.leagueName}}
            </div>
        </div>
        <div class="col-auto p-2 align-self-center">
            <button [queryParams]="{ expand: league.leagueUuid}"
                    [routerLink]="['/leagues']"
                    class="align-center margin-left"
                    color="primary"
                    mat-stroked-button>
                {{'league.singular' | translate}}
            </button>
        </div>
    </div>

    <div class="row justify-content-center g-0">
        <div class="col align-self-center">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="{{'stats.tabs.individualGroup' | translate}}">
                    <app-individual-group-stats [league]="league"
                                                [players]="players">
                    </app-individual-group-stats>
                </mat-tab>
                <mat-tab label="{{'stats.tabs.rounds' | translate}}">
                    <app-rounds-stats [league]="league"
                                      [players]="players">
                    </app-rounds-stats>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>
