.vertical-center-aligned {
    vertical-align: middle;
    margin-right: 10px;
}

.small-grey {
    font-size: small;
    font-weight: 300;
    color: gray;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 5px;
}
