<div class="main-content">

    <div class="center-aligned">
        <div class="main-content">
            <h3>
                Creating:
                <br> round <b>{{roundNumber}}</b> for season <b>{{seasonNumber}}</b> of <b>{{leagueName}}</b>
            </h3>
        </div>
        <label class="vertical-center-aligned">Groups: </label>
        <mat-radio-group (change)="onNumberOfGroupsChange($event.value)"
                         [(ngModel)]="numberOfGroups">
            <mat-radio-button *ngFor="let number of availableNumberOfGroups"
                              [value]="number"
                              color="primary">
                {{number}}
            </mat-radio-button>
        </mat-radio-group>

        <div class="main-content">
            <mat-form-field appearance="outline">
                <mat-label>Choose round date</mat-label>
                <input [(ngModel)]="roundDate"
                       [matDatepicker]="picker"
                       matInput>
                <mat-datepicker-toggle [for]="picker"
                                       matSuffix
                ></mat-datepicker-toggle>
                <mat-datepicker #picker touchUi
                ></mat-datepicker>
            </mat-form-field>
        </div>

        <button (click)="sendCreateRoundRequest()"
                [disabled]="!isSelectionValid()"
                color="primary"
                mat-raised-button
                type="button">
            Create new round
        </button>

        <div *ngIf="!isSelectionValid(); else split"
             class="main-content">
            (select players properly)
        </div>

        <ng-template #split
                     class="main-content">
            <div class="main-content">
                {{this.currentSplit}}
            </div>
        </ng-template>

    </div>

</div>


<div class="container-fluid">
    <div class="row justify-content-center">
        <div *ngFor="let item of [].constructor(numberOfGroups); let i = index"
             class="col-auto m-1 p-0">
            <mat-card class="mat-elevation-z4">
                <mat-card-content>

                    <h1>
                        Group {{i + 1}}
                        <span class="small-grey">
                        ({{selectedPlayersGroup.get(i + 1).length}})
                    </span>
                    </h1>

                    <ul>
                        <li *ngFor="let player of players">
                            <mat-checkbox #checkbox
                                          (change)="onCheckboxChange(player, i+1, $event.checked)"
                                          color="primary">
                                {{player.username}}
                            </mat-checkbox>
                        </li>
                    </ul>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

