<div *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards" class="group">

    <div class="row justify-content-center px-5 py-2">
        <div class="col-auto align-self-center">
            <div class="my-awesome-header-tiny">
                Round {{ roundScoreboard.roundNumber }}
            </div>
        </div>
        <div class="col-auto align-self-center">
            <div class="my-awesome-header-tiny">
                {{dateFormatted(roundScoreboard.roundDate)}}
            </div>
        </div>
        <div class="col-auto align-self-center">
            <div class="my-awesome-header-tiny">
                Season {{roundScoreboard.seasonNumberRoman}}
            </div>
        </div>
        <div class="col-auto align-self-center">
            <div class="my-awesome-header-tiny">
                {{roundScoreboard.leagueName}}
            </div>
        </div>
    </div>

    <div class="row justify-content-center p-3">
        <div class="col-auto align-self-center">
            <div class="my-awesome-header-large">
                Group {{roundGroupScoreboardElement.roundGroupNumber}}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th class="text-center" scope="col">#</th>
                    <th class="text-center" colspan="2" scope="col">Players</th>
                    <th class="text-center" scope="col">1st set</th>
                    <th class="text-center" scope="col">2nd set</th>
                    <th class="text-center" scope="col">3rd set</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let match of roundGroupScoreboardElement.matches; index as i">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="text-right">{{ match.firstPlayer.username }}</td>
                    <td class="text-left">{{ match.secondPlayer.username }}</td>
                    <td class="text-center">:</td>
                    <td class="text-center">:</td>
                    <td class="text-center">:</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-5">
            <table class="table table-sm table-bordered">
                <thead>
                <tr>
                    <th class="text-center" scope="col">R</th>
                    <th class="text-center" scope="col">G</th>
                    <th class="text-center" scope="col">XP</th>
                    <th class="text-center" scope="col">Player</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of roundGroupScoreboardElement.scoreboardRows; index as i">
                    <td class="text-center">{{ row.placeInRound }}</td>
                    <td class="text-center">{{ row.placeInGroup }}</td>
                    <td class="text-center">{{ row.xpEarned }}</td>
                    <td class="text-center"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
