select {
    text-align-last: center;
    background-color: transparent;
    margin-bottom: 10px;
    margin-left: 10px;
}

.result-select {
    width: 80px !important;
    color: var(--text-main);
    background-color: var(--odd-row-color);
    border-radius: 3px;
    border-style: none;
}
