<div class="row justify-content-center g-0 mb-2">
    <div class="col-auto p-3">
        <div *ngIf="league" class="my-3">

            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false"
                                 [expanded]="panelOpenState">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="panelOpenState === true">
                            {{'filters' | translate}}
                        </span>
                        <span *ngIf="panelOpenState === false">
                            {{'expandFilters' | translate}}
                        </span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                {{'season.singular' | translate}}
                            </mat-label>
                            <mat-select (selectionChange)="onSeasonSelectChange($event.value)"
                                        [(ngModel)]="selectedSeasonUuid">
                                <mat-option [value]="'0'">
                                    {{'all' | translate}}
                                </mat-option>
                                <mat-option *ngFor="let season of league.seasons.reverse()" [value]="season.seasonUuid">
                                    {{season.seasonNumber}}
                                    <span class="small-grey">
                                    ({{season.seasonStartDate | localizedDate}})
                                </span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                {{'group.singular' | translate}}
                            </mat-label>
                            <mat-select (selectionChange)="onGroupSelectChange($event.value)"
                                        [(ngModel)]="selectedGroupNumber">
                                <mat-option [value]="0">
                                    {{'all' | translate}}
                                </mat-option>
                                <mat-option *ngFor="let number of [1,2,3,4]" [value]="number">
                                    {{number}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>
                                {{'match.additionalMatches' | translate}}
                            </mat-label>
                            <mat-select (selectionChange)="onAdditionalMatchesSelectChange($event.value)"
                                        [ngModel]="selectedAdditionalMatches">
                                <mat-option [value]="false">
                                    {{'no' | translate}}
                                </mat-option>
                                <mat-option [value]="true">
                                    {{'yes' | translate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'logs.start' | translate}}</mat-label>
                            <input [(ngModel)]="selectedRangeStart"
                                   (dateChange)="onDateChange()"
                                   [matDatepicker]="pickerStart"
                                   [placeholder]="'logs.chooseDate' | translate"
                                   matInput>
                            <mat-datepicker-toggle [for]="pickerStart"
                                                   matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerStart
                                            touchUi>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-auto">
                        <mat-form-field appearance="outline">
                            <mat-label>{{'logs.end' | translate}}</mat-label>
                            <input [(ngModel)]="selectedRangeEnd"
                                   (dateChange)="onDateChange()"
                                   [matDatepicker]="pickerEnd"
                                   [placeholder]="'logs.chooseDate' | translate"
                                   matInput>
                            <mat-datepicker-toggle [for]="pickerEnd"
                                                   matSuffix>
                            </mat-datepicker-toggle>
                            <mat-datepicker #pickerEnd
                                            touchUi>
                            </mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="w-100"></div>

                    <div class="col-auto mb-2">
                        <button (click)="clearFilters()"
                                color="warn"
                                mat-button>
                            <mat-icon inline="true">clear</mat-icon>
                            {{'logs.clearFilters' | translate}}
                        </button>
                    </div>


                    <div class="w-100"></div>

                    <div class="col-auto">
                        <button (click)="selectAll()"
                                class="mb-1"
                                mat-button>
                            <mat-icon class="mr-2 icon-button">check_box</mat-icon>
                            {{'stats.selectAll' | translate}}
                        </button>
                    </div>
                    <div class="col-auto">
                        <button (click)="deselectAll()"
                                class="mb-1"
                                mat-button>
                            <mat-icon class="mr-2">check_box_outline_blank</mat-icon>
                            {{'stats.deselectAll' | translate}}
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>

        </div>

        <mat-checkbox (ngModelChange)="onChange(player, $event)"
                      *ngFor="let player of players"
                      [ngModel]="selectionMap.get(player)"
                      class="ms-0 me-3 text-nowrap"
                      color="primary">
            {{player.emoji}}
            {{player.username}}
        </mat-checkbox>

        <div *ngIf="playersScoreboard?.numberOfMatches > 0"
             class="text-center mb-0 mt-2">
            <button (click)="showCopyStats()"
                    [cdkCopyToClipboard]="buildCurrentUrl()"
                    [matTooltip]="buildCurrentUrl()"
                    class="m-1"
                    mat-button>
                <mat-icon class="mr-2">content_copy</mat-icon>
                {{'stats.players.clickToCopyLink' | translate}}
            </button>
        </div>
    </div>
</div>

<div class="row justify-content-center g-0">
    <div *ngIf="playersScoreboard" class="col-auto">

        <div class="row justify-content-center">
            <div class="col header-tiny text-center my-3">
                {{'match.plural' | translate}}: {{playersScoreboard.numberOfMatches}}
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <app-players-scoreboard [roundGroupScoreboardRows]="playersScoreboard.scoreboardRows">
                </app-players-scoreboard>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col">
                <div class="header-tiny text-center my-3">
                    {{'match.leagueMatches' | translate}}
                </div>
                <app-players-matches [additionalMatches]="false"
                                     [groupNumber]="selectedGroupNumber"
                                     [leagueUuid]="league.leagueUuid"
                                     [playersUuids]="selectedPlayersUuids"
                                     [seasonUuid]="selectedSeasonUuid"
                                     [selectedRangeStart]="selectedRangeStart"
                                     [selectedRangeEnd]="selectedRangeEnd">
                </app-players-matches>
            </div>
        </div>

        <div *ngIf="selectedAdditionalMatches"
             class="row justify-content-center">
            <div class="col">
                <div class="header-tiny text-center my-3">
                    {{'match.additionalMatches' | translate}}
                </div>
                <app-players-matches [additionalMatches]="true"
                                     [groupNumber]="selectedGroupNumber"
                                     [leagueUuid]="league.leagueUuid"
                                     [playersUuids]="selectedPlayersUuids"
                                     [seasonUuid]="selectedSeasonUuid"
                                     [selectedRangeStart]="selectedRangeStart"
                                     [selectedRangeEnd]="selectedRangeEnd">
                </app-players-matches>
            </div>
        </div>
    </div>

    <div class="w-100"></div>
    <div *ngIf="isLoading"
         class="col p-1">
        <div class="loading-balls-css">
            <app-bouncing-balls-loader-sync>
            </app-bouncing-balls-loader-sync>
        </div>
    </div>
    <div class="w-100"></div>
    <div *ngIf="noMatchesPlayed"
         class="col p-1">
        <app-not-found-message message="{{'stats.noMatchFoundForCriteria' | translate}}">
        </app-not-found-message>
    </div>

</div>
