<div class="row justify-content-center g-0">
  <div class="col-auto p-1">
    <mat-card *ngIf="league" class="mat-elevation-z3 mb-2">
      <mat-card-content>
        <div>
          <button (click)="selectAll()"
                  class="align-middle"
                  mat-icon-button>
            <mat-icon color="primary">
              check_box
            </mat-icon>
          </button>
          {{'stats.selectAll' | translate}}

          <button (click)="deselectAll()"
                  class="align-middle"
                  mat-icon-button>
            <mat-icon>
              check_box_outline_blank
            </mat-icon>
          </button>
          {{'stats.deselectAll' | translate}}

          <br/>

          <select (change)="onSeasonSelectChange($event.target.value)"
                  class="result-select">
            <option [value]="0">S: --</option>
            <option *ngFor="let season of league.seasons" [value]="season.seasonUuid">
              S: {{season.seasonNumber}}
            </option>
          </select>


          <select (change)="onGroupSelectChange($event.target.value)"
                  class="result-select">
            <option [value]="0">G: --</option>
            <option *ngFor="let number of [1,2,3]" [value]="number">
              G: {{number}}
            </option>
          </select>


          <span class="ms-2 me-0">
                        {{'additional' | translate}}:
                    </span>

          <select (change)="onAdditionalMatchesSelectChange($event.target.value)"
                  class="result-select ms-0">
            <option [value]="false">{{'no' | translate}}</option>
            <option [value]="true">{{'yes' | translate}}</option>
          </select>

        </div>

        <mat-checkbox (ngModelChange)="onChange(player, $event)"
                      *ngFor="let player of players"
                      [ngModel]="selectionMap.get(player)"
                      class="ms-0 me-3 text-nowrap"
                      color="primary">
          {{player.emoji}}
          {{player.username}}
        </mat-checkbox>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div class="row justify-content-center g-0">
  <div *ngIf="playersScoreboard" class="col-auto">

    <div class="row justify-content-center">
      <div class="col">
        <app-players-scoreboard [roundGroupScoreboardRows]="playersScoreboard.scoreboardRows">
        </app-players-scoreboard>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col">
        <div class="header-tiny text-center mt-2">
          {{'match.leagueMatches' | translate}}
        </div>
        <app-players-matches [additionalMatches]="false"
                             [groupNumber]="selectedGroupNumber"
                             [leagueUuid]="league.leagueUuid"
                             [playersUuids]="selectedPlayersUuids"
                             [seasonUuid]="selectedSeasonUuid">
        </app-players-matches>
      </div>
    </div>

    <div *ngIf="selectedAdditionalMatches"
         class="row justify-content-center">
      <div class="col">
        <div class="header-tiny text-center mt-2">
          {{'match.additionalMatches' | translate}}
        </div>
        <app-players-matches [additionalMatches]="true"
                             [groupNumber]="selectedGroupNumber"
                             [leagueUuid]="league.leagueUuid"
                             [playersUuids]="selectedPlayersUuids"
                             [seasonUuid]="selectedSeasonUuid">
        </app-players-matches>
      </div>
    </div>
  </div>

  <div class="w-100"></div>
  <div *ngIf="isLoading"
       class="col p-1">
    <div class="loading-balls-css">
      <app-bouncing-balls-loader-sync>
      </app-bouncing-balls-loader-sync>
    </div>
  </div>
  <div class="w-100"></div>
  <div *ngIf="noMatchesPlayed"
       class="col p-1">
    <app-not-found-message message="{{'stats.noMatchFoundForCriteria' | translate}}">
    </app-not-found-message>
  </div>

</div>
