<div class="main-content">

    <h1>Cookie Policy</h1>

    <h3>
        <img src="/assets/img/wegorz.gif" alt="" height="50px">
        We use cookies in order to keep you logged in, otherwise you would need to type your password on each request.
    </h3>

    <h3>
        <img src="/assets/img/wegorz.gif" alt="" height="50px">
        Of course it doesn't mean that we store your credentials. Only the JWT (token) is stored within the app and it's not possible to extract credentials from it.
    </h3>

    <h4>
        <img src="/assets/img/wegorz.gif" alt="" height="20px">
        The end of cookie policy. I'm glad that you spent your time reading it. Enjoy using the app!
        <br />
        <img src="/assets/img/wegorz.gif" alt="" height="20px">
        Our app has been tested by Cookiebot and fulfills the requirements of General Data Protection Regulation (GDPR)
        and the ePrivacy Directive 2009/136/EC (ePR).
    </h4>

</div>