<app-page-header title="{{'cookiePolicy.title' | translate}}">
</app-page-header>

<div class="row m-1">
    <div class="col">
        <h3>
            <ul>
                <li>
                    {{'cookiePolicy.first' | translate}}
                </li>
                <li>
                    {{'cookiePolicy.second' | translate}}
                </li>
                <li [innerHTML]="'cookiePolicy.third' | translate">
                </li>
                <li [innerHTML]="'cookiePolicy.fourth' | translate">
                </li>
            </ul>
        </h3>
    </div>
</div>

<div class="row m-1">
    <div class="col">
        <h4>
            {{'cookiePolicy.theEnd' | translate}}
        </h4>
        <h4 [innerHTML]="'cookiePolicy.cookiebotTested' | translate">
        </h4>
        <h4>
            <i>{{'cookiePolicy.yourDeveloper' | translate}} - Piotr Choczyński</i>
        </h4>
    </div>
</div>

