
.side-menu a div {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 20px;
}

.side-menu a mat-icon {
    margin-right: 10px;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.app-name {
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #ffff00;
}

.raleway-font-light {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.padding {
    padding: 10px;
}

.right-aligned {
    text-align: right;
}

.header {
    height: 50px;
    padding: 0;
    color: white;
}

.separator {
    margin-left: 5px;
}

.picture-style {
    /* margin-left: auto; */
    /* margin-right: auto; */
    margin: 15px;
    height: 50px;
}

.side-picture-header-style {
    height: 48px;
    margin-right: 1px;
    margin-left: -1px;
}

.footer {
    height: 40px;
}

.small-text {
    font-size: small;
    font-weight: 300;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.medium-text {
    font-size: medium;
    font-weight: 300;
}

.grey {
    color: darkslategrey;
}

.fixed-width-1200px {
    max-width: 1200px;
}

.content-height {
    min-height: calc(100vh - 100px);
}

a:link,
a:visited,
a:hover,
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
