<!-- DRAWER COMPONENT -->
<mat-drawer-container class="w-100 h-100 bg-light">

    <!-- HEADER -->
    <mat-toolbar class="header mat-elevation-z3 bg-color-primary">
        <button (click)="drawer.toggle()"
                class="p-0"
                mat-icon-button
                style="color: yellow">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="app-name flex-grow-1"> Squash </span>
        <button [routerLink]="'/dashboard'"
                class="p-0"
                mat-icon-button
                style="color: yellow">
            <mat-icon>dashboard</mat-icon>
        </button>
    </mat-toolbar>

    <!-- SIDE NAV BAR -->
    <mat-drawer #drawer
                class="p-0 bg-light mat-elevation-z3"
                mode="push">
        <mat-nav-list class="side-menu">
            <img alt="Logo"
                 class="picture-style"
                 src="assets/img/squash_logo.svg"/>

            <mat-divider></mat-divider>

            <a (click)="drawer.toggle()"
               [routerLink]="'/dashboard'"
               mat-list-item>
                <mat-icon>
                    dashboard
                </mat-icon>
                <div>
                    Dashboard
                </div>
            </a>

            <mat-divider></mat-divider>

            <a (click)="drawer.toggle()"
               [routerLink]="'/leagues'"
               mat-list-item>
                <mat-icon>
                    sports_tennis
                </mat-icon>
                <div>
                    All leagues
                </div>
            </a>

            <a (click)="drawer.toggle()"
               [routerLink]="'/xp-points'"
               mat-list-item>
                <mat-icon>
                    format_list_numbered
                </mat-icon>
                <div>
                    XP points
                </div>
            </a>

            <mat-divider></mat-divider>

            <a (click)="drawer.toggle()"
               [routerLink]="'/about-app'"
               mat-list-item>
                <mat-icon>
                    info
                </mat-icon>
                <div>
                    About app
                </div>
            </a>

            <a (click)="drawer.toggle()"
               [routerLink]="'/cookie-policy'"
               mat-list-item>
                <mat-icon>
                    settings_input_svideo
                </mat-icon>
                <div>
                    Cookie policy
                </div>
            </a>

            <mat-divider></mat-divider>

            <a (click)="drawer.toggle()"
               *ngIf="!hasToken()"
               [routerLink]="'/login'"
               mat-list-item>
                <mat-icon>
                    login
                </mat-icon>
                <div>
                    Sign in
                </div>
            </a>

            <a (click)="drawer.toggle()"
               *ngIf="hasToken()"
               [routerLink]="'/logout'"
               mat-list-item>
                <mat-icon>
                    close
                </mat-icon>
                <div>
                    Log out
                </div>
            </a>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <div class="raleway-font-light">
            <div *ngIf="tokenDecodeService.currentPlayer" class="text-muted mx-2 my-4">
                Logged in as:
                <p class="my-1 ml-3">
                    {{tokenDecodeService.currentPlayer.username}}
                    <br>
                    {{tokenDecodeService.currentPlayer.email}}
                </p>
            </div>
            <div *ngIf="this.tokenDecodeService.currentPlayer" class="text-muted mx-2 my-4">
                Token valid until:
                <p class="my-1 ml-3">
                    {{tokenDecodeService.expiryDate | date:'MMM dd, HH:mm'}}
                </p>
            </div>
            <div *ngIf="tokenDecodeService.currentPlayer === null" class="text-muted mx-2 my-4">
                You are not logged in yet!
            </div>
        </div>

        <mat-divider></mat-divider>

        <mat-nav-list *ngIf="tokenDecodeService.currentPlayer?.isAdmin()" class="side-menu">
            <a (click)="drawer.toggle()"
               *ngIf="hasToken()"
               [routerLink]="'/admin-panel'"
               mat-list-item>
                <mat-icon class="text-danger">
                    admin_panel_settings
                </mat-icon>
                <div class="text-danger">
                    Admin panel
                </div>
            </a>
        </mat-nav-list>

        <mat-nav-list *ngIf="tokenDecodeService.currentPlayer?.moderatesLeagues().length > 0" class="side-menu">

            <div *ngIf="tokenDecodeService.currentPlayer" class="raleway-font-light ml-2 mt-0 mb-1">
                Moderating:
            </div>

            <a (click)="drawer.toggle()"
               *ngFor="let league of tokenDecodeService.currentPlayer.moderatesLeagues()"
               [routerLink]="'/admin-panel'"
               mat-list-item>
                <mat-icon class="text-danger">
                    admin_panel_settings
                </mat-icon>
                <div class="text-danger">
                    {{league.leagueName}}
                </div>
            </a>
        </mat-nav-list>

    </mat-drawer>

    <!-- MAIN CONTENT -->
    <div class="content-height fixed-width-1200px container-fluid g-0 overflow-hidden">
        <router-outlet></router-outlet>
    </div>

    <!-- FOOTER -->
    <div class="footer medium-text w-100 p-1">
        <mat-divider></mat-divider>
        <div class="fixed-width-1200px container-fluid py-2">
            <div class="row">
                <div class="col-4 text-left">
                    v {{ version }}
                </div>
                <div class="col-8 text-right">
                    <a href="https://www.choczynski.pl/"><b>Piotr Choczyński</b></a> &#169; 2020
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>
