<div class="header-large text-center" mat-dialog-title>
    {{'league.rule.add' | translate}}
</div>

<div class="text-center"
     mat-dialog-content>

    <div class="row justify-content-center">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>
                    {{'league.rule.singular' | translate}}
                </mat-label>
                <mat-error>{{'fieldValidation.error.min5Max1000' | translate}}</mat-error>
                <textarea [formControl]="ruleField"
                          autocapitalize="off"
                          autocorrect="off"
                          rows="4"
                          matInput
                          spellcheck="false"></textarea>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{'league.rule.type.title' | translate}}
                </mat-label>
                <mat-select [(value)]="selectedType">
                    <mat-option *ngFor="let type of types"
                                [value]="type">
                        {{'league.rule.type.' + type | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="justify-content-end"
     mat-dialog-actions>
    <button (click)="onCancelClick()"
            [mat-dialog-close]="false"
            mat-button>
        {{'cancel' | translate}}
    </button>
    <button (click)="onConfirmClick()"
            [disabled]="anyFieldInvalid()"
            [mat-dialog-close]="true"
            color="primary"
            mat-button>
        {{'add' | translate}}
    </button>
</div>
