<div class="row justify-content-center">
    <div class="col-auto mt-4">
        <button *ngIf="isOwner && !isLoading"
                (click)="openAddDialog()"
                color="primary"
                mat-stroked-button>
            <mat-icon fontSet="material-symbols-rounded">add_circle_outline</mat-icon>
            {{'league.rule.add' | translate}}
        </button>
    </div>
</div>

<div *ngIf="!isLoading && !noData">
    <div *ngFor="let type of types">
        <div class="mat-divider my-4"></div>
        <div class="header-large text-center my-4">
            {{'league.rule.type.' + type | translate}}
        </div>
        <ul>
            <li *ngFor="let rule of getRulesOfType(type)"
                class="lead p-2">
                {{rule.rule}}
                <mat-icon *ngIf="isOwner"
                          (click)="openModifyDialog(rule)"
                          class="icon-button small-icon"
                          fontSet="material-symbols-rounded"
                          color="accent">
                    edit
                </mat-icon>
                <mat-icon *ngIf="isOwner"
                          (click)="onDeleteClick(rule)"
                          class="icon-button small-icon"
                          fontSet="material-symbols-rounded"
                          color="accent">
                    delete
                </mat-icon>
            </li>
        </ul>
    </div>
    <div class="mb-5"></div>
</div>

<div *ngIf="isLoading"
     class="mt-3 loading-balls-css">
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</div>

<div *ngIf="noData && !isLoading" class="error-message">
    <app-not-found-message message="{{'league.rule.notFound' | translate}}">
    </app-not-found-message>
</div>
