
.even-distributed {
    width: 5%;
    flex: auto;
}

.no-wrap {
    white-space: nowrap;
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned {
    text-align: left;
    padding: 5px;
}

.right-aligned {
    text-align: right;
    padding: 5px;
}