
.main-content {
    margin: 5px;
    padding: 5px 0px 10px 0px;
    overflow: auto;
}

.table-content-standalone {
    margin: 10px 5px 5px 5px;
    overflow: auto;
}


.non-break {
    white-space: nowrap;
    font-size: large;
}

.separator {
    margin-left: 10px;
    margin-right: 5px;
}

.align-center {
    vertical-align: middle !important;
    margin-bottom: 5px;
}

.margin-left {
    margin-left: 10px;
}

.snackbar-pre-wrap {
    white-space: pre-wrap
  }