<div class="main-content" *ngIf="roundScoreboard; else loading">

    <h1>
        Round Scoreboard

        <!-- <button mat-icon-button color="primary" class="nofocus align-center margin-left"
        [disabled]="roundScoreboard.previousRoundUuid === null"
        [routerLink]="['/round-edit', roundScoreboard.previousRoundUuid]">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button> -->

        <button mat-stroked-button color="primary" class="nofocus align-center margin-left"
            [routerLink]="['/season', roundScoreboard.seasonUuid]">
            Season
        </button>

        <!-- <button mat-icon-button color="primary" class="nofocus align-center margin-left"
        [disabled]="roundScoreboard.nextRoundUuid === null"
        [routerLink]="['/round-edit', roundScoreboard.nextRoundUuid]">
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button> -->
    </h1>

    <span class="non-break">
        Round: <b>{{roundScoreboard.roundNumber}}</b> <span class="separator">|</span>
    </span>
    <span class="non-break">
        Date: <b>{{dateFormatted(roundScoreboard.roundDate)}}</b> <span class="separator">|</span>
    </span>
    <span class="non-break">
        Season: <b>{{roundScoreboard.seasonNumber}}</b> <span class="separator">|</span>
    </span>
    <span class="non-break">
        League: <b>{{roundScoreboard.leagueName}}</b>
    </span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
        class="nofocus align-center">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="nofocus" (click)="deleteRound()">
            <mat-icon>delete_forever</mat-icon>
            <span>Delete Round</span>
        </button>
    </mat-menu>

    <mat-checkbox color="primary" #isFinishedCheckbox id="isFinishedCheckbox" [checked]="roundScoreboard.finishedState"
        (change)="onUpdate(isFinishedCheckbox.checked)">
        Finished
    </mat-checkbox>

</div>

<div *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards">
    <ng-template mat-tab-label>
        <span class="tab-number">{{roundGroupScoreboardElement.getGroupNumberNumeral()}}</span>
        <span class="tab-text">{{roundGroupScoreboardElement.getNumberOfPlayers()}} players</span>
    </ng-template>

    <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
    </app-round-group-scoreboard>

    <app-round-group-matches-editable [matches]="roundGroupScoreboardElement.matches" (update)="updating($event)">
    </app-round-group-matches-editable>
</div>

<ng-template #loading>
    <app-circle-spinner></app-circle-spinner>
</ng-template>