<div *ngIf="roundScoreboard; else loading">

  <app-page-header title="{{'round.singular' | translate}} {{ roundScoreboard.roundNumber }}">
  </app-page-header>

  <app-league-logo [logo]="leagueLogoBytes">
  </app-league-logo>


  <div class="row justify-content-center">
    <div class="col-auto p-1 align-self-center">
      <button [routerLink]="['/round', roundScoreboard.roundUuid]"
              color="primary"
              mat-icon-button
              matTooltip="{{'round.back' | translate}}">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-slide-toggle #isFinishedCheckbox
                        (change)="onUpdate(isFinishedCheckbox.checked)"
                        [checked]="roundScoreboard.finishedState"
                        color="primary"
                        matTooltip="{{'round.changeState' | translate}}">
      </mat-slide-toggle>
      <button (click)="openDialog()"
              color="warn"
              mat-icon-button
              matTooltip="{{'round.remove.whole' | translate}}">
        <mat-icon>block</mat-icon>
      </button>
    </div>
    <div class="col-auto p-1 align-self-center">
      <button [disabled]="this.roundScoreboard.previousRoundUuid === null"
              [routerLink]="['/round-edit', this.roundScoreboard.previousRoundUuid]"
              color="primary"
              mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button [routerLink]="['/season', this.roundScoreboard.seasonUuid]"
              color="primary"
              mat-stroked-button>
        {{'season.singular' | translate}}
      </button>
      <button [disabled]="this.roundScoreboard.nextRoundUuid === null"
              [routerLink]="['/round-edit', this.roundScoreboard.nextRoundUuid]"
              color="primary"
              mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="row justify-content-center m-1">
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{roundScoreboard.roundDate | localizedDate}}
      </div>
    </div>
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{'season.singular' | translate}} {{roundScoreboard.seasonNumberRoman}}
      </div>
    </div>
    <div class="col-auto p-2 align-self-center">
      <div class="header-tiny">
        {{roundScoreboard.leagueName}}
      </div>
    </div>
  </div>


  <div class="row justify-content-center">
    <div *ngFor="let roundGroupScoreboardElement of roundScoreboard?.roundGroupScoreboards" class="col-auto">
      <div class="row justify-content-center mt-5">
        <div class="col-auto p-2 align-self-center">
          <div class="header-small">
            {{'group.singular' | translate}} {{roundGroupScoreboardElement.roundGroupNumber}}
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <app-round-group-scoreboard [roundGroupScoreboard]="roundGroupScoreboardElement">
          </app-round-group-scoreboard>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col">
          <div class="info-text text-center m-1">
            <mat-icon class="inline-icon">info</mat-icon>
            {{'match.fillInstructions' | translate}}
          </div>
          <app-round-group-matches-editable (update)="updating($event)"
                                            [matches]="roundGroupScoreboardElement.matches">
          </app-round-group-matches-editable>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="mb-5"></div>

<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
