

tr.mat-header-row,
tr.mat-row {
    height: 30px!important;
}

.mat-row:hover {
    background-color: #fcf6bd !important;
  }

.main-content {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.table-content {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

table {
    width: 100%;
    /* table-layout: fixed; */
}

.mat-row:nth-child(even) {
    background-color: #ffffff;
}

.mat-row:nth-child(odd) {
    background-color: #f5f5f5;
}

.player-width {
    flex: none;
    min-width: 150px;
    max-width: 250px;
}

.no-wrap {
    white-space: nowrap;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.left-border {
    border-left: 1px solid rgb(224, 224, 224);
}

.bottom-border {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned {
    text-align: left;
    padding: 5px;
}

.right-aligned {
    text-align: right;
    padding: 5px;
}