<div class="material-frame-no-margin overflow-auto m-1">

    <table [dataSource]="roundGroupScoreboard.scoreboardRows"
           mat-table>

        <ng-container matColumnDef="place-in-round-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center px-1"
                mat-cell>
                {{scoreboardRow.placeInRound}}
            </td>
        </ng-container>

        <ng-container matColumnDef="place-in-group-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center px-1"
                mat-cell>
                {{scoreboardRow.placeInGroup}}
            </td>
        </ng-container>

        <ng-container matColumnDef="xp-earned-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center px-1"
                mat-cell>
                {{scoreboardRow.xpEarned}}
            </td>
        </ng-container>

        <ng-container matColumnDef="emoji-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center text-nowrap px-0"
                mat-cell>
                {{scoreboardRow.player.emoji}}
            </td>
        </ng-container>

        <ng-container matColumnDef="player-column">
            <td *matCellDef="let scoreboardRow"
                class="text-start text-nowrap px-1"
                mat-cell>
                {{scoreboardRow.player.username}}
            </td>
        </ng-container>

        <!-- Matches -->
        <ng-container matColumnDef="matches-plus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center left-border plus-column px-1"
                mat-cell>
                {{scoreboardRow.matchesWon}}
            </td>
        </ng-container>
        <ng-container matColumnDef="matches-minus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center minus-column px-1"
                mat-cell>
                {{scoreboardRow.matchesLost}}
            </td>
        </ng-container>
        <ng-container matColumnDef="matches-balance-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center balance-column px-1"
                mat-cell>
                {{scoreboardRow.matchesBalance | balancePipe}}
            </td>
        </ng-container>

        <!-- Sets -->
        <ng-container matColumnDef="sets-plus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center left-border plus-column px-1"
                mat-cell>
                {{scoreboardRow.setsWon}}
            </td>
        </ng-container>
        <ng-container matColumnDef="sets-minus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center minus-column px-1"
                mat-cell>
                {{scoreboardRow.setsLost}}
            </td>
        </ng-container>
        <ng-container matColumnDef="sets-balance-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center balance-column px-1"
                mat-cell>
                {{scoreboardRow.setsBalance | balancePipe}}
            </td>
        </ng-container>

        <!-- Points -->
        <ng-container matColumnDef="points-plus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center left-border plus-column px-1"
                mat-cell>
                {{scoreboardRow.pointsWon}}
            </td>
        </ng-container>
        <ng-container matColumnDef="points-minus-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center minus-column px-1"
                mat-cell>
                {{scoreboardRow.pointsLost}}
            </td>
        </ng-container>
        <ng-container matColumnDef="points-balance-column">
            <td *matCellDef="let scoreboardRow"
                class="text-center balance-column px-1"
                mat-cell>
                {{scoreboardRow.pointsBalance | balancePipe}}
            </td>
        </ng-container>


        <!-- Headers Main Row -->
        <ng-container matColumnDef="header-row-place-in-round">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                R
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-place-in-group">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                G
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-xp-earned">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                XP
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-emoji">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-start px-1"
                mat-header-cell>

            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-players">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-start px-1"
                mat-header-cell>
                {{'player.singular' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-matches-plus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center left-border px-1"
                mat-header-cell>
                +
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-matches-minus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                −
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-matches-balance">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                ±
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-sets-plus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center left-border px-1"
                mat-header-cell>
                +
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-sets-minus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                −
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-sets-balance">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                ±
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-points-plus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center left-border px-1"
                mat-header-cell>
                +
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-points-minus">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                −
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-points-balance">
            <th *matHeaderCellDef [attr.colspan]="1"
                class="text-center px-1"
                mat-header-cell>
                ±
            </th>
        </ng-container>


        <!-- Headers Secondary Row -->
        <ng-container matColumnDef="header-row-group-number">
            <th *matHeaderCellDef [attr.colspan]="5"
                class="text-center bottom-border balance-column px-1"
                mat-header-cell>

                <div class="row g-0">
                    <div class="col-1">
                        <button class="me-3"
                                (click)="navigateToPlayerStats()"
                                matTooltip="{{'group.navigateToStats' | translate}}"
                                mat-icon-button>
                            <mat-icon fontSet="material-symbols-rounded" color="primary">
                                groups
                            </mat-icon>
                        </button>
                    </div>
                    <div class="col-11 align-self-center">
                        {{'group.singular' | translate}} {{roundGroupScoreboard.roundGroupNumber | roundGroupNumberToLetter}}
                    </div>
                </div>
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-matches">
            <th *matHeaderCellDef [attr.colspan]="3"
                class="text-center left-border bottom-border px-1"
                mat-header-cell>
                {{'match.plural' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-sets">
            <th *matHeaderCellDef [attr.colspan]="3"
                class="text-center left-border bottom-border px-1"
                mat-header-cell>
                {{'set.plural' | translate}}
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-points">
            <th *matHeaderCellDef [attr.colspan]="3"
                class="text-center left-border bottom-border px-1"
                mat-header-cell>
                {{'rally.plural' | translate}}
            </th>
        </ng-container>

        <tr *matHeaderRowDef="[
                'header-row-group-number', 
                'header-row-matches', 
                'header-row-sets', 
                'header-row-points']"
            mat-header-row>
        </tr>

        <tr *matHeaderRowDef="[
                'header-row-place-in-round', 
                'header-row-place-in-group', 
                'header-row-xp-earned', 
                'header-row-emoji',
                'header-row-players',
                'header-row-matches-plus',
                'header-row-matches-minus', 
                'header-row-matches-balance', 
                'header-row-sets-plus', 
                'header-row-sets-minus', 
                'header-row-sets-balance', 
                'header-row-points-plus', 
                'header-row-points-minus', 
                'header-row-points-balance']"
            mat-header-row>
        </tr>

        <tr *matRowDef="let row; columns: displayedColumns;"
            mat-row>
        </tr>
    </table>

</div>