

.main-content {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.table-content {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
}

.player-width {
    flex: none;
    min-width: 150px;
    max-width: 250px;
}

.no-wrap {
    white-space: nowrap;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.center-aligned {
    text-align: center;
    padding: 4px;
    align-self: stretch;
}

.left-aligned {
    text-align: left;
    padding: 5px;
}

.right-aligned {
    text-align: right;
    padding: 5px;
}