<mat-form-field appearance="outline"
                class="m-0">
    <mat-label>
        {{description}}
    </mat-label>
    <input [formControl]="playerControl"
           aria-label="Player"
           autocapitalize="off"
           autocomplete="off"
           autocorrect="off"
           matInput
           spellcheck="false"
           type="text">
</mat-form-field>

<div class="m-0 text-center">
    <button (click)="addPlayer()"
            [disabled]="playerControl.invalid"
            class="mx-2"
            color="primary"
            mat-button>
        {{'add' | translate}}
    </button>
    <button (click)="removePlayer()"
            [disabled]="playerControl.invalid"
            class="mx-2"
            color="warn"
            mat-button>
        {{'remove' | translate}}
    </button>
</div>
