<div *ngIf="league; else loading" class="container-fluid">

    <div class="row justify-content-center m-2">
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-small">
                {{league.leagueName}}
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-2 align-self-center">
            <div class="my-awesome-header-tiny">
                {{'season.adding' | translate}} {{nextSeasonNumber()}}
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-4 align-self-center">
            <img [src]="league.leagueLogo | logoSanitizedPipe"
                 alt="App Logo"
                 height="70px">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto p-1 align-self-center">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{'season.new.chooseStartDate' | translate}}
                </mat-label>
                <input [(ngModel)]="newSeasonDate"
                       [matDatepicker]="picker"
                       [min]="nextSeasonSoonestDate()"
                       matInput>
                <mat-datepicker-toggle
                        [for]="picker"
                        matSuffix>
                </mat-datepicker-toggle>
                <mat-datepicker
                    #picker
                    touchUi>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-1 align-self-center">
            <button (click)="createNewSeason()"
                    color="primary"
                    mat-raised-button>
                {{'season.create' | translate}}
            </button>
        </div>

        <div class="col-auto p-1 align-self-center">
            <button [queryParams]="{ expand: league?.leagueUuid }"
                    [routerLink]="['/leagues']"
                    color="primary"
                    mat-stroked-button>
                {{'league.back' | translate}}
            </button>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>
