<div *ngIf="league; else loading" class="container-fluid">

    <app-page-header title="{{'season.adding' | translate}} {{nextSeasonNumber()}}">
    </app-page-header>

    <app-league-logo [logo]="league.leagueLogo">
    </app-league-logo>


    <div class="row justify-content-center">
        <div class="col-auto p-1 align-self-center">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{'season.new.chooseStartDate' | translate}}
                </mat-label>
                <input [(ngModel)]="newSeasonDate"
                       [matDatepicker]="$any(picker)"
                       [min]="nextSeasonSoonestDate()"
                       matInput>
                <mat-datepicker-toggle
                        [for]="picker"
                        matSuffix>
                </mat-datepicker-toggle>
                <mat-datepicker
                    #picker
                    touchUi>
                </mat-datepicker>
            </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-1 align-self-center">
            <mat-form-field appearance="outline">
                <mat-label>
                    {{'xpPoints.availableTypes' | translate}}
                </mat-label>
                <mat-select [(value)]="selectedXpPointsType">
                    <mat-option
                            *ngFor="let type of xpPointsTypes"
                            [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-1 align-self-center">
            <button (click)="createNewSeason()"
                    color="primary"
                    mat-raised-button>
                {{'season.create' | translate}}
            </button>
        </div>

        <div class="col-auto p-1 align-self-center">
            <button [queryParams]="{ expand: league?.leagueUuid }"
                    [routerLink]="['/leagues']"
                    color="primary"
                    mat-stroked-button>
                {{'league.back' | translate}}
            </button>
        </div>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync>
    </app-bouncing-balls-loader-sync>
</ng-template>
