<div *ngIf="trophy === 'LEAGUE_1ST'">
    <mat-icon matTooltip="{{'trophy.tooltip.league' | translate: {place: 1} }}"
              style="color: #D6AF36"
              svgIcon="cup-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'LEAGUE_2ND'">
    <mat-icon matTooltip="{{'trophy.tooltip.league' | translate: {place: 2} }}"
              style="color: #A7A7AD"
              svgIcon="cup-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'LEAGUE_3RD'">
    <mat-icon matTooltip="{{'trophy.tooltip.league' | translate: {place: 3} }}"
              style="color: #A77044"
              svgIcon="cup-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'CUP_1ST'">
    <mat-icon matTooltip="{{'trophy.tooltip.cup' | translate: {place: 1} }}"
              style="color: #D6AF36"
              svgIcon="award-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'CUP_2ND'">
    <mat-icon matTooltip="{{'trophy.tooltip.cup' | translate: {place: 2} }}"
              style="color: #A7A7AD"
              svgIcon="award-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'CUP_3RD'">
    <mat-icon matTooltip="{{'trophy.tooltip.cup' | translate: {place: 3} }}"
              style="color: #A77044"
              svgIcon="award-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'SUPER_CUP'">
    <mat-icon matTooltip="{{'hallOfFame.superCup' | translate}}"
              style="color: #D6AF36"
              svgIcon="supercup-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'PRETENDERS_CUP'">
    <mat-icon matTooltip="{{'hallOfFame.pretendersCup' | translate}}"
              style="color: hotpink; height: 14px"
              svgIcon="cup-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'COVID'">
    <mat-icon matTooltip="{{'trophy.tooltip.covid' | translate}}"
              style="color: orangered"
              svgIcon="covid-icon">
    </mat-icon>
</div>

<div *ngIf="trophy === 'ALL_ROUNDS_ATTENDEE'">
    <mat-icon matTooltip="{{'trophy.tooltip.attendance100' | translate}}"
              svgIcon="100-icon">
    </mat-icon>
</div>