<div class="row justify-content-center mb-2">
    <div class="col-auto mt-4 mb-2 header-tiny info-text">
        {{'otherActions' | translate}}
    </div>
    <div class="w-100"></div>
    <div *ngIf="login" class="col-auto p-0">
        <button [routerLink]="['/login']"
                mat-button>
            <mat-icon class="me-2"
                      fontSet="material-symbols-rounded">
                login
            </mat-icon>
            {{'login.loginWithPassword' | translate}}
        </button>
    </div>
    <div class="w-100 d-md-none"></div>
    <div *ngIf="magicLinkLogin" class="col-auto p-0">
        <button [routerLink]="['/request-magic-link']"
                mat-button>
            <mat-icon class="me-2"
                      fontSet="material-symbols-rounded">
                auto_awesome
            </mat-icon>
            {{'login.loginWithMagicLink' | translate}}
        </button>
    </div>
    <div class="w-100 d-md-none"></div>
    <div *ngIf="signUp" class="col-auto p-0">
        <button [routerLink]="['/register']"
                mat-button>
            <mat-icon class="me-2"
                      fontSet="material-symbols-rounded">
                person_add
            </mat-icon>
            {{'signUp.title' | translate}}
        </button>
    </div>
    <div class="w-100 d-md-none"></div>
    <div *ngIf="passwordReset" class="col-auto p-0">
        <button [routerLink]="['/forgot-password']"
                mat-button>
            <mat-icon class="me-2"
                      fontSet="material-symbols-rounded">
                password
            </mat-icon>
            {{'forgotPassword.title' | translate}}
        </button>
    </div>
    <div class="w-100 d-md-none"></div>
    <div *ngIf="buyBeer" class="col-auto p-0">
        <mat-divider class="d-md-none my-2"></mat-divider>
        <a href="https://www.buymeacoffee.com/pChocz"
           mat-button
           target="_blank">
            <mat-icon class="me-2"
                      fontSet="material-symbols-rounded">
                sports_bar
            </mat-icon>
            {{'login.buyMeBeer' | translate}}
            <mat-icon class="ms-2"
                      inline="true"
                      fontSet="material-symbols-rounded">
                open_in_new
            </mat-icon>
        </a>
    </div>
</div>
