.button-colored {
    color: var(--link-color);
    background-color: var(--table-hover-color);
}

.green-background {
    border-color: greenyellow !important;
}

.red-background {
    background-color: orangered;
}

.mw-75 {
    max-width: 75% !important;
}
