table {
    width: 100%;
}

.main-content {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

tr.mat-header-row,
tr.mat-row {
    height: 30px!important;
    /* width: 5%;
    flex: auto; */
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.mat-row:nth-child(even) {
    background-color: #ffffff;
}

.mat-row:nth-child(odd) {
    background-color: #f5f5f5;
}

th.mat-sort-header-sorted {
    color: black;
}

.non-break-large {
    white-space: nowrap;
    font-size: large;
}

.non-break-small {
    white-space: nowrap;
    font-size: small;
}

.separator {
    margin-left: 10px;
    margin-right: 5px;
}

.button-toggle-full {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: auto;
}

.divider-margin {
    margin-top: 8px;
    margin-bottom: 4px;
}

div.horizontalgap {
    float: left;
    overflow: hidden;
    height: 1px;
    width: 0px;
}

.mat-column-player {
    flex: none;
    min-width: 150px;
}

.right-aligned {
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.left-aligned {
    text-align: left;
    padding-right: 10px;
    padding-left: 10px;
}

round-number {
    margin: 1px;
    padding: 1px;
}

round-date {
    margin: 1px;
    padding: 1px;
}