<div class="mat-elevation-z3 table-content">

    <table mat-table [dataSource]="hallOfFameRows">

        <!-- Season number -->
        <ng-container matColumnDef="season-number-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned first-cell-in-row">
                {{scoreboardRow.seasonNumber}}
            </td>
        </ng-container>

        <!-- League -->
        <ng-container matColumnDef="league-1st-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned left-border even-distributed first-cell-in-row">
                {{scoreboardRow.league1stPlace}}
            </td>
        </ng-container>
        <ng-container matColumnDef="league-2nd-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned even-distributed">
                {{scoreboardRow.league2ndPlace}}
            </td>
        </ng-container>
        <ng-container matColumnDef="league-3rd-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned even-distributed">
                {{scoreboardRow.league3rdPlace}}
            </td>
        </ng-container>

        <!-- Cup -->
        <ng-container matColumnDef="cup-1st-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned left-border even-distributed">
                {{scoreboardRow.cup1stPlace}}
            </td>
        </ng-container>
        <ng-container matColumnDef="cup-2nd-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned even-distributed">
                {{scoreboardRow.cup2ndPlace}}
            </td>
        </ng-container>
        <ng-container matColumnDef="cup-3rd-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned even-distributed">
                {{scoreboardRow.cup3rdPlace}}
            </td>
        </ng-container>

        <!-- Other -->
        <ng-container matColumnDef="super-cup-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned left-border even-distributed">
                {{scoreboardRow.superCupWinner}}
            </td>
        </ng-container>
        <ng-container matColumnDef="pretenders-cup-column">
            <!-- <th mat-header-cell *matHeaderCellDef class="right-aligned"> Player 1 </th> -->
            <td mat-cell *matCellDef="let scoreboardRow" class="center-aligned even-distributed last-cell-in-row">
                {{scoreboardRow.pretendersCupWinner}}
            </td>
        </ng-container>


        <!-- Headers Main Row -->
        <ng-container matColumnDef="header-row-season-number">
            <th mat-header-cell *matHeaderCellDef class="center-aligned first-cell-in-row" [attr.colspan]="1">
                Season
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-league-1st">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border" [attr.colspan]="1">
                1st
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-league-2nd">
            <th mat-header-cell *matHeaderCellDef class="center-aligned" [attr.colspan]="1">
                2nd
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-league-3rd">
            <th mat-header-cell *matHeaderCellDef class="center-aligned" [attr.colspan]="1">
                3rd
            </th>
        </ng-container>


        <ng-container matColumnDef="header-row-cup-1st">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border" [attr.colspan]="1">
                1st
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-cup-2nd">
            <th mat-header-cell *matHeaderCellDef class="center-aligned" [attr.colspan]="1">
                2nd
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-cup-3rd">
            <th mat-header-cell *matHeaderCellDef class="center-aligned" [attr.colspan]="1">
                3rd
            </th>
        </ng-container>


        <ng-container matColumnDef="header-row-super-cup">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border" [attr.colspan]="1">
                Super Cup
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-pretenders-cup">
            <th mat-header-cell *matHeaderCellDef class="center-aligned last-cell-in-row" [attr.colspan]="1">
                Pretenders Cup
            </th>
        </ng-container>



        <!-- Headers Secondary Row -->
        <ng-container matColumnDef="header-row-empty">
            <th mat-header-cell *matHeaderCellDef class="center-aligned bottom-border" [attr.colspan]="1">
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-league">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border bottom-border" [attr.colspan]="3">
                League
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-cup">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border bottom-border" [attr.colspan]="3">
                Cup
            </th>
        </ng-container>

        <ng-container matColumnDef="header-row-other">
            <th mat-header-cell *matHeaderCellDef class="center-aligned left-border bottom-border last-cell-in-row" [attr.colspan]="2">
                Other
            </th>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['header-row-empty', 'header-row-league', 'header-row-cup', 'header-row-other']"></tr>
        <tr mat-header-row *matHeaderRowDef="['header-row-season-number', 'header-row-league-1st', 'header-row-league-2nd', 'header-row-league-3rd', 'header-row-cup-1st', 'header-row-cup-2nd', 'header-row-cup-3rd', 'header-row-super-cup', 'header-row-pretenders-cup']"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>