<div class="row justify-content-center g-0">

    <div class="col d-flex justify-content-center m-2">
        <mat-radio-group (change)="changeLeague($event)"
                         [(ngModel)]="selectedLeague"
                         color="primary">
            <mat-radio-button class="m-2"
                              *ngFor="let league of availableLeagues"
                              [value]="league">
                {{league.leagueName}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <div class="w-100"></div>

    <div class="col p-0">
        <div *ngIf="playersScoreboard">
            <app-players-scoreboard [roundGroupScoreboardRows]="playersScoreboard.scoreboardRows">
            </app-players-scoreboard>
        </div>
        <app-css-spinner *ngIf="isLoading">
        </app-css-spinner>
        <app-not-found-message *ngIf="noStats"
                               message="{{'match.noPlayedYet' | translate}}">
        </app-not-found-message>
    </div>

</div>
