<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col d-flex justify-content-center">
            <mat-radio-group (change)="changeLeague($event)"
                             [(ngModel)]="selectedLeague"
                             color="primary">
                <mat-radio-button *ngFor="let league of availableLeagues"
                                  [value]="league">
                    {{league.leagueName}}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="row p-1">
        <div class="col p-0">
            <div *ngIf="playersScoreboard">
                <app-players-scoreboard [roundGroupScoreboardRows]="playersScoreboard.scoreboardRows">
                </app-players-scoreboard>
            </div>

            <div *ngIf="isLoading" class="loading-balls-css">
                <app-bouncing-balls-loader-sync></app-bouncing-balls-loader-sync>
            </div>

            <app-not-found-message *ngIf="noStats"
                                   message="No matches played yet!">
            </app-not-found-message>
        </div>
    </div>

</div>
