<div class="header-large text-center" mat-dialog-title>
    {{'myAccount.changePassword' | translate}}
</div>


<div class="text-center" mat-dialog-content>

    <!-- OLD PASSWORD -->

    <mat-form-field appearance="standard">
        <mat-label>
            {{'myAccount.oldPassword' | translate}}
        </mat-label>
        <input [(ngModel)]="oldPassword"
               [type]="hideOldPassword ? 'password' : 'text'"
               autocapitalize="off"
               autocorrect="off"
               matInput
               name="oldPassword"
               spellcheck="false"/>
        <button (click)="hideOldPassword = !hideOldPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideOldPassword"
                mat-icon-button
                matSuffix>
            <mat-icon color="primary">
                {{hideOldPassword ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
    </mat-form-field>




    <!-- NEW PASSWORD -->

    <mat-form-field appearance="standard">
        <mat-label>
            {{'myAccount.newPassword' | translate}}
        </mat-label>
        <input [formControl]="passwordField"
               [type]="hideNewPassword ? 'password' : 'text'"
               autocapitalize="off"
               autocomplete="off"
               autocorrect="off"
               matInput
               name="password"
               spellcheck="false"/>
        <mat-error *ngIf="passwordField.invalid">
            {{ getErrorMessageForPasswordField() | translate }}
        </mat-error>
        <button (click)="hideNewPassword = !hideNewPassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPassword"
                mat-icon-button
                matSuffix>
            <mat-icon color="primary">
                {{ hideNewPassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </button>
        <mat-hint align="end">
            {{ passwordField.value?.length || 0 }}
        </mat-hint>
        <mat-hint
                *ngIf="passwordField.valid"
                align="start">
        </mat-hint>
    </mat-form-field>

    <mat-form-field appearance="standard">
        <mat-label>
            {{'myAccount.newPasswordRepeat' | translate}}
        </mat-label>
        <input [(ngModel)]="newPasswordRepeat"
               [type]="hideNewPasswordRepeat ? 'password' : 'text'"
               autocapitalize="off"
               autocorrect="off"
               matInput
               name="newPasswordRepeat"
               spellcheck="false"/>
        <button (click)="hideNewPasswordRepeat = !hideNewPasswordRepeat"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideNewPasswordRepeat"
                mat-icon-button
                matSuffix>
            <mat-icon color="primary">
                {{hideNewPasswordRepeat ? 'visibility_off' : 'visibility'}}
            </mat-icon>
        </button>
    </mat-form-field>

    <div class="my-2"
         *ngIf="passwordMatches()">
        {{'myAccount.afterPasswordChangeInstruction' | translate}}
    </div>

</div>

<div mat-dialog-actions>
    <button (click)="onConfirmClick()"
            [disabled]="!passwordMatches()"
            color="warn"
            mat-raised-button>
        {{'myAccount.confirm' | translate}}
    </button>
    <button (click)="onNoClick()"
            mat-raised-button>
        {{'myAccount.cancel' | translate}}
    </button>
</div>
