<div class="header-large text-center" mat-dialog-title>

    {{'myAccount.emoji.change' | translate}}

    <div class="row p-2">
        <div class="col-6 header-tiny">
            {{'myAccount.emoji.current' | translate}}
            <div>
                {{currentEmoji}}
            </div>
        </div>
        <div *ngIf="newEmoji" class="col-6 header-tiny">
            {{'myAccount.emoji.new' | translate}}
            <div>
                {{newEmoji}}
            </div>
        </div>
    </div>

</div>

<div class="text-center" mat-dialog-content>
    <button (click)="chooseEmoji(emoji)"
            *ngFor="let emoji of emojis"
            class="p-0 m-0"
            mat-icon-button>
        {{emoji}}
    </button>
</div>

<div class="justify-content-end" mat-dialog-actions>
    <button (click)="onNoClick()"
            class="m-1"
            mat-button>
        {{'cancel' | translate}}
    </button>
    <button (click)="onConfirmClick()"
            [disabled]="newEmoji === undefined"
            class="m-1"
            color="primary"
            mat-button>
        {{'confirm' | translate}}
    </button>
</div>
