<div *ngIf="currentPlayer; else loading">

  <app-page-header title="{{'menu.myAccount' | translate}}">
  </app-page-header>


  <div class="row justify-content-center m-3">
    <div class="col-auto text-center">


      <!-- About me  -->
      <div class="material-frame">
        <div class="header-tiny m-3">
          {{'myAccount.aboutMe' | translate}}
        </div>

        <mat-form-field appearance="outline" class="mx-3 full-width-field">
          <mat-label>
            {{'myAccount.username' | translate}}
          </mat-label>
          <input disabled matInput value="{{currentPlayer.username}}">
          <button disabled mat-icon-button matSuffix>
            <mat-icon color="basic">
              person
            </mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mx-3 full-width-field">
          <mat-label>
            UUID
          </mat-label>
          <input disabled matInput value="{{currentPlayer.uuid}}">
          <button disabled mat-icon-button matSuffix>
            <mat-icon color="basic">
              fingerprint
            </mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline" class="mx-3 full-width-field">
          <mat-label>
            {{'myAccount.email' | translate}}
          </mat-label>
          <input [formControl]="emailField" class="header-tiny" matInput>
          <button disabled mat-icon-button matSuffix>
            <mat-icon color="primary">
              email
            </mat-icon>
          </button>
        </mat-form-field>
        <button (click)="changeEmail()"
                [disabled]='emailField.invalid || emailField.value === currentPlayer.email'
                class="mb-2"
                color="warn"
                mat-stroked-button>
          {{'myAccount.changeEmail' | translate}}
        </button>
        <div *ngIf="emailChangeStatus === 'SUCCESS'"
             class="plus-column">
          {{'myAccount.emailChangedProperly' | translate}}
        </div>
        <div *ngIf="emailChangeStatus === 'ERROR'"
             class="minus-column">
          {{'myAccount.emailChangeErrorAlreadyTaken' | translate}}
        </div>
        <div class="my-2"></div>
      </div>


      <!-- My leagues -->
      <div class="material-frame">
        <div class="header-tiny m-3">
          {{'myAccount.myLeagues' | translate}}
        </div>

        <ng-container *ngFor="let leagueRole of currentPlayer.leagueRoles">
          <button *ngIf="leagueRole.leagueRole === 'PLAYER'"
                  [routerLink]="['/league', leagueRole.leagueUuid]"
                  class="m-3"
                  color="primary"
                  mat-stroked-button>
            {{leagueRole.leagueName}}
          </button>
        </ng-container>

        <mat-form-field appearance="outline" class="mx-3 full-width-field">
          <mat-label>
            {{'league.name' | translate}}
          </mat-label>
          <input [(ngModel)]="leagueToJoinOrLeave"
                 class="header-tiny"
                 matInput>
        </mat-form-field>
        <button (click)="joinLeague()"
                [disabled]='leagueToJoinOrLeave.length === 0'
                class="me-1 mb-2"
                color="primary"
                mat-stroked-button>
          {{'myAccount.join' | translate}}
        </button>
        <button (click)="leaveLeague()"
                [disabled]='leagueToJoinOrLeave.length === 0'
                class="ms-1 mb-2"
                color="warn"
                mat-stroked-button>
          {{'myAccount.leave' | translate}}
        </button>

        <div class="info-text text-center m-1">
          <mat-icon class="inline-icon">info</mat-icon>
          {{'myAccount.joinOrLeageLeaguePlaceholder' | translate}}
        </div>
        <div class="my-2"></div>
      </div>

      <!-- Password -->
      <div class="material-frame">
        <div class="header-tiny m-3">
          {{'myAccount.password' | translate}}
        </div>
        <button (click)="openPasswordChangeDialog()"
                class="mb-2"
                color="warn"
                mat-stroked-button>
          {{'myAccount.changePassword' | translate}}
        </button>
        <div class="my-2"></div>
      </div>

    </div>
  </div>

</div>
<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
