<div class="main-content">

    <h1>Hi {{this.currentPlayer?.username}}</h1>
    <h3>We have chosen few actions for you that you may like:</h3>

    <button mat-stroked-button color="primary" class="button-margin" routerLink="/leagues">
        All leagues
    </button>

    <button mat-stroked-button color="primary" class="button-margin" routerLink="/xp-points">
       XP points
    </button>

    <button mat-stroked-button color="primary" class="button-margin" routerLink="/about-app">
        About app
     </button>

</div>