.main-content {
    margin: 10px;
    padding: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.picture-style {
    margin: 15px;
    height: 50px;
}

.width-fit {
    width: fit-content; 
    margin: auto;
    margin-bottom: 20px;
}

.black-color {
   color: black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.example-card {
    width: fit-content; 
    margin: auto;
    /* background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%); */
}

:host /deep/ .mat-card-header-text {
    font-size: x-large;
    font-weight: 300;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-bottom: 40px;
}

.large-font {
    font-size: x-large;
    font-weight: 300;
}

.bold-red {
    font-size: x-large;
    color: red;
    font-weight: 400;
}

.example-form {
    margin-left: 20px;
    margin-right: 20px;
}

.example-full-width {
    margin-top: 20px;
}

.zero-padding-bottom {
    margin-bottom: 0;
}

.right-aligned {
    text-align: right;
    margin-top: 0;
}

.centered {
    text-align: center;
    margin-top: 20px;
}

.centered-margin-top {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

.centered-zero-margin {
    text-align: center;
    margin: 0;
}

.full-width {
    width: 100%;
}