<div class="main-content" fxLayout="row" fxLayoutAlign="center center">

    <img src="assets/img/squash_logo.svg" alt="Logo" class="picture-style">

    <mat-card class="example-card mat-elevation-z3" *ngIf="isLoading === false; else loading">
        <mat-card-header>
            <mat-card-title class="large-font">Sign in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="example-form">
                <div class="centered-margin-top">
                    <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Username or Email</mat-label>
                        <input matInput [(ngModel)]="username" name="username" autocorrect="off" autocapitalize="off"
                            spellcheck="false">
                        <button mat-icon-button matSuffix disabled>
                            <mat-icon class="black-color">person</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="centered-zero-margin zero-padding-bottom">
                    <mat-form-field class="example-full-width" appearance="standard">
                        <mat-label>Password</mat-label>
                        <input matInput [(ngModel)]="password" name="password" [type]="hide ? 'password' : 'text'"
                            autocorrect="off" autocapitalize="off" spellcheck="false">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="right-aligned">
                    <a [routerLink]="['/forgot-password']" class="right-aligned">Forgot password?</a>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <div class="centered">
                <button mat-raised-button (click)="login()" color="primary" class="full-width"
                    [disabled]="isEmptyInput()">Login</button>
            </div>
        </mat-card-actions>
    </mat-card>

    <div class="centered" *ngIf="isLoading === false">
        Don't have an account?
        <a [routerLink]="['/register']" class="right-aligned">
            Sign up
        </a>
    </div>

</div>

<ng-template #loading>
    <app-bouncing-balls-loader-sync [message]="loadingMessage"></app-bouncing-balls-loader-sync>
</ng-template>