<div *ngIf="currentPlayer; else loading">

  <div class="my-3">
    <app-page-header subtitle="{{currentPlayer.emoji}} {{currentPlayer.username}}"
                     title="{{'menu.dashboard' | translate}}">
    </app-page-header>
  </div>

  <div class="row justify-content-center g-0 m-1">

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'match.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.matchesLost"
                           [plus]="playerSummary.scoreboardRow.matchesWon">
        </app-score-balance>
      </div>
    </div>

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'set.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.setsLost"
                           [plus]="playerSummary.scoreboardRow.setsWon">
        </app-score-balance>
      </div>
    </div>

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'rally.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.pointsLost"
                           [plus]="playerSummary.scoreboardRow.pointsWon">
        </app-score-balance>
      </div>
    </div>

    <div class="w-100 my-3"></div>

    <div class="col-md-6 col-auto">
        <div class="display-6 text-center m-1">
          {{'round.myLast' | translate}}
        </div>

        <div *ngIf="mostRecentRoundScoreboard">
          <div class="row p-1 justify-content-center">
            <div class="col-auto p-2 header-tiny text-nowrap">
              {{mostRecentRoundScoreboard.leagueName}}
            </div>
            <div class="col-auto">
              <button [routerLink]="['/round', mostRecentRoundScoreboard.roundUuid]"
                      class="me-1"
                      color="primary"
                      mat-stroked-button>
                {{'round.singular' | translate}} {{mostRecentRoundScoreboard.roundNumber}}
              </button>
              <button [routerLink]="['/season', mostRecentRoundScoreboard.seasonUuid]"
                      class="ms-1"
                      color="primary"
                      mat-stroked-button>
                {{'season.singular' | translate}} {{mostRecentRoundScoreboard.seasonNumberRoman}}
              </button>
            </div>
          </div>
          <div class="row g-0">
            <div class="col">
              <app-round-group-scoreboard [roundGroupScoreboard]="extractCorrectRoundGroup()">
              </app-round-group-scoreboard>
              <app-round-group-matches [matches]="extractMyMatches()">
              </app-round-group-matches>
            </div>
          </div>
        </div>

        <app-css-spinner *ngIf="isRoundLoading">
        </app-css-spinner>

        <app-not-found-message *ngIf="noRoundsPlayed"
                               message="{{'round.notPlayedYet' | translate}}">
        </app-not-found-message>

    </div>



    <div class="w-100 my-3"></div>



    <div class="col-md-6">
        <div class="display-6 text-center m-1">
          {{'league.my' | translate}}
        </div>
        <div class="m-2">
          <app-not-found-message *ngIf="noLeagues"
                                 message="{{'league.notMemberYet' | translate}}">
          </app-not-found-message>
          <app-leagues-summary *ngIf="!noLeagues"
                               [leagues]="leagues">
          </app-leagues-summary>
        </div>
    </div>



    <div class="w-100 my-3"></div>




    <div class="col-md-4">

        <div class="display-6 text-center m-1">
          {{'trophy.my' | translate}}
        </div>

        <div class="m-2">
          <app-css-spinner *ngIf="isTrophiesLoading">
          </app-css-spinner>

          <app-not-found-message *ngIf="noTrophiesWon"
                                 message="{{'trophy.notWonYet' | translate}}">
          </app-not-found-message>

          <div *ngIf="trophies" class="container-fluid">
            <div *ngFor="let leagueTrophies of trophies" class="row">
              <div class="col">
                <div class="row p-1">
                  <div class="col header-small p-1">
                    {{leagueTrophies.league.leagueName}}
                  </div>
                </div>
                <div *ngFor="let seasonTrophies of leagueTrophies.trophiesPerSeason" class="row">
                  <div class="col-5 pb-1 header-tiny text-nowrap">
                    {{'season.singular' | translate}} {{seasonTrophies.seasonNumber}}
                  </div>
                  <div *ngFor="let trophy of seasonTrophies.trophies"
                       class="col-1 pb-1 mx-1 d-flex justify-content-center">
                    <app-trophy-icon [trophy]="trophy">
                    </app-trophy-icon>
                  </div>
                </div>

              </div>
            </div>
            </div>
        </div>

    </div>





    <div class="col-md-8">

        <div class="display-6 text-center m-1">
          {{'league.myScoreboards' | translate}}
        </div>

        <div class="m-1">
          <div class="info-text text-center m-1">
            <mat-icon class="inline-icon">info</mat-icon>
            {{'league.myScoreboardsInfo' | translate}}
          </div>
        </div>

        <app-my-matches-stats [currentPlayer]="currentPlayer">
        </app-my-matches-stats>

      </div>
  </div>


</div>

<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
