<div class="container-fluid">

    <div class="row justify-content-center mt-2">
        <div class="col-auto">
            <h1 class="my-awesome-header-large">
                Hi User
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 p-1">
            <mat-card class="mat-elevation-z3 colored-my-leagues">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="primary">sports_tennis</mat-icon>
                    <div mat-card-title class="my-awesome-header-small">My leagues</div>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    gfdgfdgfdgfd fd sf
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 p-1">
            <mat-card class="mat-elevation-z3 colored-my-summary">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="primary">priority_high</mat-icon>
                    <div mat-card-title class="my-awesome-header-small">My summary</div>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-4 p-1">
            <mat-card class="mat-elevation-z3 colored-my-personal-data">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="primary">account_balance</mat-icon>
                    <div mat-card-title class="my-awesome-header-small">My personal data</div>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    gfdgfdgfdgfd fd sf
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 p-1">
            <mat-card class="mat-elevation-z3 colored-my-most-recent-rounds">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="primary">military_tech</mat-icon>
                    <div mat-card-title class="my-awesome-header-small">Most recent round</div>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    gfdgfdgfdgfdgfdgfd
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-md-6 p-1">
            <mat-card class="mat-elevation-z3">
                <mat-card-header>
                    <mat-icon mat-card-avatar color="primary">leaderboard</mat-icon>
                    <div mat-card-title class="my-awesome-header-small">Some table</div>
                </mat-card-header>
                <mat-card-content class="mt-2">
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                    gdfgfdgfdgd<br/>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

<!--    <div class="row">-->
<!--        <div class="col p-1">-->
<!--            <mat-card class="mat-elevation-z3">-->
<!--                <mat-card-header>-->
<!--                    <mat-icon mat-card-avatar color="primary">face</mat-icon>-->
<!--                    <div mat-card-title class="my-awesome-header-small">Some other stuff</div>-->
<!--                </mat-card-header>-->
<!--                <mat-card-content class="mt-2">-->
<!--                    fdsfdsfdsfsfsfsfsd-->
<!--                </mat-card-content>-->
<!--            </mat-card>-->
<!--        </div>-->
<!--    </div>-->

</div>
