mat-icon.mat-card-avatar {
    width: 40px;
    height: 40px;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}

div.mat-card-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radius-zero {
    border-radius: 0;
}

.colored-bg-first {
    background-color: #F1F8E9;
}

.colored-bg-second {
    background-color: #FFF8E1;
}

.colored-bg-third {
    background-color: #E1F5FE;
}

.colored-bg-fourth {
    background-color: #f2e4d5;
}
