<div *ngIf="currentPlayer; else loading">

  <div class="my-3">
    <app-page-header subtitle="{{currentPlayer.emoji}} {{currentPlayer.username}}"
                     title="{{'menu.dashboard' | translate}}">
    </app-page-header>
  </div>

  <div class="row justify-content-center g-0 m-1">

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'match.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.matchesLost"
                           [plus]="playerSummary.scoreboardRow.matchesWon">
        </app-score-balance>
      </div>
    </div>

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'set.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.setsLost"
                           [plus]="playerSummary.scoreboardRow.setsWon">
        </app-score-balance>
      </div>
    </div>

    <div class="col-md-4">
      <div class="material-frame-no-margin m-1">
        <div class="display-6 text-center m-1">
          {{'rally.plural' | translate}}
        </div>
        <div *ngIf="isSummaryLoading" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <app-score-balance *ngIf="playerSummary"
                           [minus]="playerSummary.scoreboardRow.pointsLost"
                           [plus]="playerSummary.scoreboardRow.pointsWon">
        </app-score-balance>
      </div>
    </div>

    <div class="w-100 my-3"></div>

    <div class="col-md-6 col-auto">
        <div class="display-6 text-center m-1">
          {{'me.summary' | translate}}
        </div>
        <div *ngIf="!playerSummary" class="m-1">
          <app-css-spinner>
          </app-css-spinner>
        </div>
        <div *ngIf="playerSummary"
             class="row justify-content-center my-3 px-5">
          <div class="col-4 text-center">
            <div [countUp]="playerSummary.leagues" [options]="{separator: ' '}"
                 class="header-large plus-column m-2">
              0
            </div>
            {{'league.plural' | translate}}
          </div>
          <div class="col-4 text-center">
            <div [countUp]="playerSummary.seasons" [options]="{separator: ' '}"
                 class="header-large plus-column m-2">
              0
            </div>
            {{'season.plural' | translate}}
          </div>
          <div class="col-4 text-center">
            <div [countUp]="playerSummary.rounds" [options]="{separator: ' '}"
                 class="header-large plus-column m-2">
              0
            </div>
            {{'round.plural' | translate}}
          </div>
        </div>
    </div>

    <div class="w-100 my-3"></div>

    <div class="col-md-6 col-auto">
        <div class="display-6 text-center m-1">
          {{'round.myLast' | translate}}
        </div>
        <div *ngIf="mostRecentRoundScoreboard">
          <div class="row p-0 justify-content-center">

            <div class="header-tiny text-center m-1 mb-3">
              {{mostRecentRoundScoreboard.leagueName}}
            </div>

            <div class="col-auto material-frame-no-margin p-0 align-self-center text-nowrap overflow-auto">
              <button [routerLink]="['/season', mostRecentRoundScoreboard.seasonUuid]"
                      class="ms-2 m-0 px-1 py-0"
                      color="primary"
                      mat-button>
                <span>
                    {{'season.singular' | translate}} {{mostRecentRoundScoreboard.seasonNumberRoman}}
                </span>
              </button>
              <mat-icon class="align-middle">
                chevron_right
              </mat-icon>
              <button [routerLink]="['/round', mostRecentRoundScoreboard.roundUuid]"
                      class="m-0 px-1 py-0"
                      color="primary"
                      mat-button>
            <span>
                {{'round.singular' | translate}} {{mostRecentRoundScoreboard.roundNumber}}
            </span>
              </button>
              <mat-icon class="align-middle">
                chevron_right
              </mat-icon>
              <span class="align-middle pe-2">
              {{mostRecentRoundScoreboard.roundDate | localizedDate}}
              </span>
            </div>

          </div>
          <div class="row g-0 justify-content-center">
            <div class="col-auto align-self-center header-tiny mt-2">
              {{'scoreboard.round' | translate}} <span class="fw-bolder">{{mostRecentRoundScoreboard.roundNumber}}</span>
            </div>
            <div class="col-auto align-self-center mt-2 pt-0">
              <button [routerLink]="['/round', mostRecentRoundScoreboard.roundUuid]"
                      color="primary"
                      class="p-0"
                      mat-icon-button>
                <mat-icon class="m-0">arrow_forward_ios_new</mat-icon>
              </button>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <app-round-group-scoreboard [roundGroupScoreboard]="extractCorrectRoundGroup()">
              </app-round-group-scoreboard>
              <div class="header-tiny text-center mt-3 mb-2">
                {{'match.plural' | translate}}
              </div>
              <app-round-group-matches [matches]="extractMyMatches()">
              </app-round-group-matches>
            </div>
            <div class="w-100"></div>
            <div class="col-auto align-self-center header-tiny mt-2">
              {{'scoreboard.season' | translate}} <span class="fw-bolder">{{mostRecentRoundScoreboard.seasonNumberRoman}}</span>
            </div>
            <div class="col-auto align-self-center mt-2">
              <button [routerLink]="['/season', mostRecentRoundScoreboard.seasonUuid]"
                      color="primary"
                      mat-icon-button>
                <mat-icon>arrow_forward_ios_new</mat-icon>
              </button>
            </div>
            <div class="w-100"></div>
             <app-season-scoreboard-table *ngIf="currentSeasonScoreboard?.rounds.length > 0"
                                           [hideRounds]="true"
                                           [seasonScoreboard]="currentSeasonScoreboard">
              </app-season-scoreboard-table>
            </div>
          </div>
        <app-css-spinner *ngIf="isRoundLoading">
        </app-css-spinner>

        <app-not-found-message *ngIf="noRoundsPlayed"
                               message="{{'round.notPlayedYet' | translate}}">
        </app-not-found-message>
    </div>


    <div class="w-100 my-3"></div>


    <div class="col-md-6">
        <div class="display-6 text-center m-1">
          {{'league.my' | translate}}
        </div>
        <div class="m-2">
          <app-not-found-message *ngIf="noLeagues"
                                 message="{{'league.notMemberYet' | translate}}">
          </app-not-found-message>
          <app-leagues-summary *ngIf="!noLeagues"
                               [leagues]="leagues">
          </app-leagues-summary>
        </div>
    </div>


    <div class="w-100 my-3"></div>


    <div class="col-md-6 col-auto">
        <div class="display-6 text-center m-1">
          {{'trophy.my' | translate}}
        </div>
        <div class="m-2">
          <app-css-spinner *ngIf="isTrophiesLoading">
          </app-css-spinner>

          <app-not-found-message *ngIf="noTrophiesWon"
                                 message="{{'trophy.notWonYet' | translate}}">
          </app-not-found-message>
          <div *ngIf="trophies" class="container-fluid">
            <div *ngFor="let leagueTrophies of trophies" class="row">
              <div class="col">
                <div class="row p-1">
                  <div class="col header-small mb-3 text-center">
                    {{leagueTrophies.league.leagueName}}
                  </div>
                </div>
                <div *ngFor="let seasonTrophies of leagueTrophies.trophiesPerSeason" class="row">
                  <div class="col-5 pb-1 header-tiny text-nowrap">
                    {{'season.singular' | translate}} {{seasonTrophies.seasonNumber}}
                  </div>
                  <div *ngFor="let trophy of seasonTrophies.trophies"
                       class="col-1 pb-1 mx-1 d-flex justify-content-center">
                    <app-trophy-icon [trophy]="trophy">
                    </app-trophy-icon>
                  </div>
                </div>

              </div>
            </div>
            </div>
        </div>
    </div>


    <div class="w-100 my-3"></div>


    <div class="col-md-8 col-auto">
        <div class="display-6 text-center m-1">
          {{'league.myScoreboards' | translate}}
        </div>
        <div class="m-1">
          <div class="info-text text-center m-1">
            <mat-icon class="inline-icon">info</mat-icon>
            {{'league.myScoreboardsInfo' | translate}}
          </div>
        </div>
        <app-my-matches-stats [currentPlayer]="currentPlayer">
        </app-my-matches-stats>
      </div>
  </div>

</div>

<ng-template #loading>
  <app-bouncing-balls-loader-sync>
  </app-bouncing-balls-loader-sync>
</ng-template>
