@use '@angular/material' as mat;
@import "assets/css/general-layout.css";
@import "assets/css/table.css";
@import "assets/css/headers.css";
@import '@angular/material/theming';

@include mat.core();

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.toolbar-style {
  background-color: #6200EE !important;
  height: 50px !important;
}

.toolbar-button-color {
  color: yellow !important;
}

$app-light-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$deep-purple-palette),
                warn: mat.define-palette(mat.$red-palette)
            ),
        )
);

$app-dark-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$gray-palette),
                accent: mat.define-palette(mat.$amber-palette),
                warn: mat.define-palette(mat.$orange-palette)
            )
        )
);

@include mat.all-component-themes($app-light-theme);

.lightMode {
  --spinner-color: #673ab7;
  --text-main: black;
  --text-info: #6c757d;
  --link-color: black;
  --uber-star-color: goldenrod;
  --plus-column-color: forestgreen;
  --minus-column-color: red;
  --odd-row-color: #f5f5f5;
  --even-row-color: #ffffff;
  --tile-bg-color-first: #F1F8E9;
  --tile-bg-color-second: #FFF8E1;
  --tile-bg-color-third: #E1F5FE;
  --tile-bg-color-fourth: #f2e4d5;
  --table-hover-color: #fcf6bd;
  --table-border-color: #E0E0E0;
  --group-1-background: forestgreen;
  --group-2-background: rgb(255, 140, 0);
  --group-3-background: rgb(230, 76, 76);
  --group-4-background: rgb(236, 6, 6);
}

.darkMode {
  @include mat.all-component-colors($app-dark-theme);
  --spinner-color: lightgray;
  --text-main: white;
  --text-info: lightgray;
  --link-color: lightgray;
  --uber-star-color: gold;
  --plus-column-color: #48e96a;
  --minus-column-color: tomato;
  --odd-row-color: #303030;
  --even-row-color: #424242;
  --tile-bg-color-first: #424242;
  --tile-bg-color-second: #424242;
  --tile-bg-color-third: #424242;
  --tile-bg-color-fourth: #424242;
  --table-hover-color: #494949;
  --table-border-color: #494949;
  --group-1-background: #48e96a;
  --group-2-background: rgb(255, 140, 0);
  --group-3-background: rgb(230, 76, 76);
  --group-4-background: rgb(236, 6, 6);
}
