<div class="container-fluid p-0">
    <div class="row justify-content-center m-0">
        <div class="col-md-5 p-1">
            <mat-card class="mat-elevation-z3">
                <mat-card-header>
                    <img mat-card-avatar
                         src="assets/img/avatar.png"/>
                    <mat-card-title>
                        Piotr Choczyński
                    </mat-card-title>
                    <mat-card-subtitle>
                        Full stack developer with advanced data analysis and problem solving skills
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <div class="centered">
                        <button
                                class="small-margin"
                                color="primary"
                                mat-fab
                                onClick="window.open('https://squash-app.win/CV_Piotr_Choczynski.pdf', '_blank')">
                            <mat-icon matTooltip="Open CV as pdf file in new tab">
                                text_snippet
                            </mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-7 p-1">
            <mat-card class="mat-elevation-z3">
                <mat-card-header class="justify-content-center">
                    <mat-card-title>This application</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            <i>Squash app</i> is an application for managing a squash league.
                        </li>
                        <li>
                            Development was driven by my self-development goals, to learn as much as possible and to
                            test my
                            knowledge and skills.
                        </li>
                        <li>
                            If you are interested in how the application works you can try it using following
                            credentials:
                            <ul>
                                <li>
                                    User: <i>recruiter</i>
                                </li>
                                <li>
                                    Password: <i>123qwe</i>
                                    <br/>
                                    <button
                                            [routerLink]="['/login']"
                                            class="button-margin"
                                            color="primary"
                                            mat-stroked-button>
                                        Login
                                    </button>
                                    <button
                                            [routerLink]="['/about-app']"
                                            class="button-margin"
                                            color="primary"
                                            mat-stroked-button>
                                        About app
                                    </button>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row justify-content-center m-0">
        <div class="col-md-7 p-1">
            <mat-card class="mat-elevation-z3">
                <mat-card-header class="justify-content-center">
                    <mat-card-title>
                        Professional profile
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul>
                        <li>
                            Java developer with more than 3 years of professional experience
                        </li>
                        <li>
                            Currently working as <i>Network Design Tools Engineer</i>
                            in ADVA Optical Networking where developing various
                            applications for planning fiber networks over the whole
                            application lifecycle
                            <ul>
                                <li>Gathering requirements</li>
                                <li>Implementing algorithms</li>
                                <li>Inventing GUI</li>
                                <li>Prototyping</li>
                                <li>Testing & implementation of testing frameworks</li>
                                <li>Bug fixing</li>
                                <li>Deployment and maintenance</li>
                            </ul>
                        </li>
                        <li>
                            Primary areas of expertise:
                            <ul>
                                <li>
                                    Backend<br/>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Java (8-14)"
                                            svgIcon="java-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Spring Boot, REST, JPA"
                                            svgIcon="spring-boot-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Hibernate"
                                            svgIcon="hibernate-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="PostgreSQL"
                                            svgIcon="postgresql-icon"
                                    ></mat-icon>
                                </li>
                                <li>
                                    Frontend<br/>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Angular"
                                            svgIcon="angular-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Vaadin"
                                            svgIcon="vaadin-icon"
                                    ></mat-icon>
                                </li>
                                <li>
                                    Devops<br/>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Jenkins"
                                            svgIcon="jenkins-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Gitlab"
                                            svgIcon="gitlab-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Docker"
                                            svgIcon="docker-icon"
                                    ></mat-icon>
                                </li>
                                <li>
                                    Tools<br/>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="IntelliJ IDEA"
                                            svgIcon="idea-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Visual Studio Code"
                                            svgIcon="vscode-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Visual Studio"
                                            svgIcon="visualstudio-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Postman"
                                            svgIcon="postman-icon"
                                    ></mat-icon>
                                    <mat-icon
                                            class="list-icon"
                                            matTooltip="Maven"
                                            svgIcon="maven-icon"
                                    ></mat-icon>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Minor experience areas:
                        </li>
                        VB.NET / Python / VBA / Latex
                        <li>
                            Prior developer career experience
                            <ul>
                                <li>
                                    Providing technical support for end customers
                                </li>
                                <li>
                                    Providing sales support (b2b, b2c)
                                </li>
                                <li>
                                    Experience in banking industry
                                </li>
                                <li>
                                    Experience in electronic components industry
                                </li>
                            </ul>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <div class="centered">
                        <button
                                class="small-margin"
                                color="primary"
                                mat-fab
                                onClick="window.open('//github.com/pChocz/')">
                            <mat-icon matTooltip="Github profile"
                                      svgIcon="github-mark"></mat-icon>
                        </button>
                        <button
                                class="small-margin"
                                color="primary"
                                mat-fab
                                onClick="window.open('//linkedin.com/in/piotr-choczynski/')">
                            <mat-icon matTooltip="LinkedIn profile"
                                      svgIcon="linkedin-mark">
                            </mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-md-5 p-1">
            <mat-card class="mat-elevation-z3">
                <mat-card-header class="justify-content-center">
                    <mat-card-title>Personal information & other</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="d-flex flex-column">
                        <div class="d-flex justify-content-center">
                            <mat-icon class="align-center">email</mat-icon>
                            <a href="mailto:piotr@choczynski.pl">piotr@choczynski.pl</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-icon class="align-center">phone</mat-icon>
                            +48 602 350 172
                        </div>
                        <div class="d-flex justify-content-center">
                            <mat-icon class="align-center">location_city</mat-icon>
                            Gdynia (Tricity)
                        </div>
                    </div>
                    <ul>
                        <li>
                            Interests
                            <ul>
                                <li>
                                    Squash
                                </li>
                                <li>
                                    Bicycle riding
                                </li>
                            </ul>
                        </li>
                        <li>
                            Honored blood donor (awarded with Polish Red Cross badge)
                        </li>
                        <li>
                            Master degree in technical physics, <i>Gdansk University of Technology</i>
                        </li>
                        <li>
                            Maths & physics tutor on levels of high school and technical universities with over 12 years
                            of
                            experience
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <div class="centered">
                        <button
                                class="small-margin"
                                color="primary"
                                mat-fab
                                onClick="window.open('//facebook.com/piotr.choczynski/')">
                            <mat-icon matTooltip="Facebook profile"
                                      svgIcon="facebook-mark">
                            </mat-icon>
                        </button>
                        <button
                                class="small-margin"
                                color="primary"
                                mat-fab
                                onClick="window.open('https://www.e-korepetycje.net/pjchocz')">
                            <mat-icon matTooltip="Tutor profile">
                                calculate
                            </mat-icon>
                        </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>
