.main-content {
    margin: 5px;
    padding: 5px 0px 10px 0px;
    overflow: auto;
}

.large-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}

.small-margin {
    margin: 10px;
}

.card-content {
    height: fit-content;
    width: fit-content;
    border-radius: 1px;
}

.some-page-wrapper {
    margin: 10px;
    height: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mat-card-header {
    flex-shrink: 0;
}

.list-icon {
    margin: 3px 5px 3px 8px;
}

.centered {
    text-align: center;
    margin-bottom: 20px;
}

.example-section {
    margin: 5px;
    justify-content: center;
}

.child {
    flex: 1 1 auto;
}

@media (max-width: 960px) {
    .container {
        width: 100%;
        justify-content: center;
        margin-bottom: 0px;
    }
}

@media (min-width: 960px) {
    .container {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 0px;
    }
}

.align-center {
    vertical-align: middle !important;
    margin-right: 5px;
    margin-left: 15px;
    color: rgb(103, 58, 183);
}

/* .container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
} */
