<div class="main-content">
    <div class="container">
        <mat-card class="mat-elevation-z3 example-section child">
            <mat-card-header>
                <img
                    mat-card-avatar
                    src="assets/img/avatar.png"
                />
                <mat-card-title>
                    Piotr Choczyński
                </mat-card-title>
                <mat-card-subtitle>
                    Full stack developer with advanced data analysis and problem solving skills
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <div class="centered">
                    <button
                        mat-fab
                        color="primary"
                        onClick="window.open('https://squash-app.win/CV_Piotr_Choczynski.pdf', '_blank')"
                        class="small-margin"
                    >
                        <mat-icon matTooltip="Open CV as pdf file in new tab">
                            text_snippet
                        </mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="container">
        <mat-card class="mat-elevation-z3 example-section child">
            <mat-card-header>
                <mat-card-title>
                    Professional profile
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                        Java developer with more than 3 years of professional experience
                    </li>
                    <li>
                        Currently working as <i>Network Design Tools Engineer</i>
                        in ADVA Optical Networking where developing various
                        applications for planning fiber networks over the whole
                        application lifecycle
                        <ul>
                            <li>Gathering requirements</li>
                            <li>Implementing algorithms</li>
                            <li>Inventing GUI</li>
                            <li>Prototyping</li>
                            <li>Testing & implementation of testing frameworks</li>
                            <li>Bug fixing</li>
                            <li>Deployment and maintenance</li>
                        </ul>
                    </li>
                    <li>
                        Primary areas of expertise:
                        <ul>
                            <li>
                                Backend<br />
                                <mat-icon
                                    matTooltip="Java (8-14)"
                                    svgIcon="java-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Spring Boot, REST, JPA"
                                    svgIcon="spring-boot-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Hibernate"
                                    svgIcon="hibernate-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="PostgreSQL"
                                    svgIcon="postgresql-icon"
                                    class="list-icon"
                                ></mat-icon>
                            </li>
                            <li>
                                Frontend<br />
                                <mat-icon
                                    matTooltip="Angular"
                                    svgIcon="angular-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Vaadin"
                                    svgIcon="vaadin-icon"
                                    class="list-icon"
                                ></mat-icon>
                            </li>
                            <li>
                                Devops<br />
                                <mat-icon
                                    matTooltip="Jenkins"
                                    svgIcon="jenkins-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Gitlab"
                                    svgIcon="gitlab-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Docker"
                                    svgIcon="docker-icon"
                                    class="list-icon"
                                ></mat-icon>
                            </li>
                            <li>
                                Tools<br />
                                <mat-icon
                                    matTooltip="IntelliJ IDEA"
                                    svgIcon="idea-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Visual Studio Code"
                                    svgIcon="vscode-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Visual Studio"
                                    svgIcon="visualstudio-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Postman"
                                    svgIcon="postman-icon"
                                    class="list-icon"
                                ></mat-icon>
                                <mat-icon
                                    matTooltip="Maven"
                                    svgIcon="maven-icon"
                                    class="list-icon"
                                ></mat-icon>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Minor experience areas:
                    </li>
                    VB.NET / Python / VBA / Latex
                    <li>
                        Prior developer career experience
                        <ul>
                            <li>
                                Providing technical support for end customers
                            </li>
                            <li>
                                Providing sales support (b2b, b2c)
                            </li>
                            <li>
                                Experience in banking industry
                            </li>
                            <li>
                                Experience in electronic components industry
                            </li>
                        </ul>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <div class="centered">
                    <button
                        mat-fab
                        color="primary"
                        onClick="window.open('//github.com/pChocz/')"
                        class="small-margin"
                    >
                        <mat-icon svgIcon="github-mark"></mat-icon>
                    </button>
                    <button
                        mat-fab
                        color="primary"
                        onClick="window.open('//linkedin.com/in/piotr-choczynski/')"
                        class="small-margin"
                    >
                        <mat-icon svgIcon="linkedin-mark"></mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="container">
        <mat-card class="mat-elevation-z3 example-section child">
            <mat-card-header>
                <mat-card-title>Personal information & other</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    <mat-icon class="align-center">phone</mat-icon>
                    +48 602 350 172

                    <mat-icon class="align-center">email</mat-icon>
                    <a href="mailto:piotr@choczynski.pl">piotr@choczynski.pl</a>

                    <mat-icon class="align-center">location_city</mat-icon>
                    Gdynia
                </p>
                <ul>
                    <li>
                        Interests
                        <ul>
                            <li>
                                Squash
                            </li>
                            <li>
                                Bicycle riding
                            </li>
                        </ul>
                    </li>
                    <li>
                        Honored blood donor (awarded with Polish Red Cross badge)
                    </li>
                    <li>
                        Master degree in technical physics, <i>Gdansk University of Technology</i>
                    </li>
                    <li>
                        Maths & physics tutor on levels of high school and technical universities with over 12 years of
                        experience
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions>
                <div class="centered">
                    <button
                        mat-fab
                        color="primary"
                        onClick="window.open('//facebook.com/piotr.choczynski/')"
                        class="small-margin"
                    >
                        <mat-icon svgIcon="facebook-mark"></mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="container">
        <mat-card class="mat-elevation-z3 example-section child">
            <mat-card-header>
                <mat-card-title>This application</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>
                        <i>Squash app</i> is an application for managing a squash league.
                    </li>
                    <li>
                        Development was driven by my self-development goals, to learn as much as possible and to test my
                        knowledge and skills.
                    </li>
                    <li>
                        If you are interested in how the application works you can try it using following credentials:
                        <ul>
                            <li>
                                User: <i>recruiter</i>
                            </li>
                            <li>
                                Password: <i>123qwe</i>
                                <br />
                                <button
                                    mat-stroked-button
                                    class="button-margin"
                                    color="primary"
                                    [routerLink]="['/login']"
                                >
                                    Login
                                </button>
                                <button
                                    mat-stroked-button
                                    class="button-margin"
                                    color="primary"
                                    [routerLink]="['/about-app']"
                                >
                                    About app
                                </button>
                            </li>
                        </ul>

                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>

</div>
