<div class="container-fluid">
    <div class="row justify-content-center mb-1">
        <div class="col-auto p-1 my-awesome-header-large">
            <span [countUp]="plus" [options]="{separator: ' '}" class="plus-column">0</span>
            :
            <span [countUp]="minus" [options]="{separator: ' '}" class="minus-column">0</span>
        </div>
        <div class="w-100"></div>
        <div class="col-auto p-2 my-awesome-header-tiny">
            {{ratio()}} {{balanceSigned()}}
        </div>
    </div>
</div>