<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-auto p-2 header-tiny mb-1">
            <span [countUp]="plus+minus" [options]="{separator: ' ', duration: 3}">
                0
            </span>
    </div>
    <div class="w-100"></div>
    <div class="col-auto p-1 header-large">
            <span [countUp]="plus" [options]="{separator: ' ', duration: 2}" class="plus-column">
                0
            </span>
      :
      <span [countUp]="minus" [options]="{separator: ' ', duration: 2}" class="minus-column">
                0
            </span>
    </div>
    <div class="w-100"></div>
    <div class="col-auto p-2 header-tiny">
      {{ratio()}} ({{plus - minus | balancePipe}})
    </div>
  </div>
</div>