.main-content {
    margin: 5px;
    padding: 5px;
    overflow: auto;
}

::ng-deep.mat-tab-label .mat-tab-label-content {
    flex-wrap: wrap!important;
}

 ::ng-deep.mat-tab-label .mat-tab-label-content span {
    display: flex!important;
    flex: 1 0 100%!important;
    justify-content: center!important;
}

.last-cell-in-row {
    padding-right: 6px !important;
}

tr.mat-header-row,
tr.mat-row {
    height: 30px!important;
}

.result-select {
    min-width: 60px !important;
}

table {
    width: 100%;
}

.no-padding {
    padding: 0;
    text-align: center;
}

.padding-small {
    padding: 2px;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.player-width {
    flex: none;
    min-width: 150px;
    max-width: 250px;
}

.left-border {
    border-left: 1px solid rgb(224, 224, 224);
}

.bottom-border {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.mat-row:nth-child(even) {
    background-color: #ffffff;
}

.mat-row:nth-child(odd) {
    background-color: #f5f5f5;
}

.mat-row:hover {
    background-color: #fcf6bd !important;
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned-dense {
    text-align: left;
    padding-left: 3px;
    padding-right: 6px;
}

.right-aligned-dense {
    text-align: right;
    padding-left: 6px;
    padding-right: 3px;
}

.left-aligned {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.right-aligned {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.success-icon {
    color: rgb(19, 204, 19);
}

.in-progress-icon {
    color: lightslategray;
}

.empty-icon {
    color: lightgrey;
}

.error-icon {
    color: rgb(255, 0, 0);
}

.bottom-padding {
    vertical-align: bottom !important;
    padding-right: 5px;
    text-align: right;
}

.score-winning {
    font-weight: bold;
}

.match-winner {
    font-weight: bold;
    font-size: medium;
}

select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 100 100' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='50' cy='50' r='25'/%3E%3C/svg%3E");
    text-align-last: center;
    background-color: transparent;
}