
.result-select {
    min-width: 50px !important;
    text-align-last: center;
    border-style: hidden;
}

.mat-row:nth-child(even) select {
    color: var(--text-main);
    background-color: var(--even-row-color);
}

.mat-row:nth-child(odd) select {
    color: var(--text-main);
    background-color: var(--odd-row-color);
}

.mat-row:hover select {
    color: var(--text-main);
    background-color: var(--table-hover-color);
}

table {
    width: 100%;
}

.no-padding {
    padding: 0;
    text-align: center;
}

.padding-small {
    padding: 2px;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.no-wrap {
    white-space: nowrap;
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned-dense {
    text-align: left;
    padding-left: 3px;
    padding-right: 6px;
}

.right-aligned-dense {
    text-align: right;
    padding-left: 6px;
    padding-right: 3px;
}

.left-aligned {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.right-aligned {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.success-icon {
    color: var(--plus-column-color);
}

.in-progress-icon {
    color: lightslategray;
}

.empty-icon {
    color: lightgrey;
}

.error-icon {
    color: var(--minus-column-color);
}

.bottom-padding {
    vertical-align: bottom !important;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
}

.score-winning {
    font-weight: bold;
}

.match-winner {
    font-weight: bold;
    font-size: medium;
}
