
.result-select {
    min-width: 60px !important;
    text-align-last: center;
    background-color: transparent;
    border-style: hidden;
}

table {
    width: 100%;
}

.no-padding {
    padding: 0;
    text-align: center;
}

.padding-small {
    padding: 2px;
}

.even-distributed {
    width: 5%;
    flex: auto;
}

.no-wrap {
    white-space: nowrap;
}

.left-border {
    border-left: 1px solid rgb(224, 224, 224);
}

.bottom-border {
    border-bottom: 1px solid rgb(224, 224, 224);
}

.center-aligned {
    text-align: center;
    padding: 5px;
    align-self: stretch;
}

.left-aligned-dense {
    text-align: left;
    padding-left: 3px;
    padding-right: 6px;
}

.right-aligned-dense {
    text-align: right;
    padding-left: 6px;
    padding-right: 3px;
}

.left-aligned {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.right-aligned {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

.success-icon {
    color: rgb(19, 204, 19);
}

.in-progress-icon {
    color: lightslategray;
}

.empty-icon {
    color: lightgrey;
}

.error-icon {
    color: rgb(255, 0, 0);
}

.bottom-padding {
    vertical-align: bottom !important;
    padding-right: 5px;
    text-align: right;
}

.score-winning {
    font-weight: bold;
}

.match-winner {
    font-weight: bold;
    font-size: medium;
}
