<div *ngIf="season">

    <app-page-header subtitle="{{'lostBalls.title' | translate}}"
                     title="{{'season.singular' | translate}} {{season.seasonNumberRoman}}">
    </app-page-header>

    <app-league-logo [logo]="leagueLogoBytes">
    </app-league-logo>

    <div class="row justify-content-center">
        <div class="col-auto m-1">
            <button
                    [routerLink]="['/season', season?.seasonUuid]"
                    mat-flat-button>
                {{'season.back' | translate}}
            </button>
        </div>
    </div>

    <div *ngIf="isModerator"
         class="row justify-content-center m-1">
        <div class="col-auto material-frame">
            <div class="row justify-content-center">
                <div class="col-auto header-small my-3 text-center">
                    {{'lostBalls.add' | translate}}
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            {{'player.singular' | translate}}
                        </mat-label>
                        <mat-select [(value)]="player">
                            <mat-option
                                    *ngFor="let player of players"
                                    [value]="player">
                                {{player.emoji}}
                                {{player.username}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <mat-form-field appearance="outline">
                        <mat-label>
                            {{'date' | translate}}
                        </mat-label>
                        <input [(ngModel)]="date"
                               [matDatepicker]="$any(picker)"
                               matInput>
                        <mat-datepicker-toggle
                                [for]="picker"
                                matSuffix>
                        </mat-datepicker-toggle>
                        <mat-datepicker
                            #picker
                            touchUi>
                        </mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-auto m-1 mb-3">
                    <button (click)="submit()"
                            [disabled]="!isProperData()"
                            color="primary"
                            mat-flat-button>
                        {{'add' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="currentLostBallsForSeason"
         class="row justify-content-center">
        <div class="col-auto mb-5">
            <div *ngIf="currentLostBallsForSeason.length === 0"
                 class="error-message">
                <app-not-found-message message="{{'error.noData' | translate}}">
                </app-not-found-message>
            </div>
            <app-lost-balls-table *ngIf="currentLostBallsForSeason.length > 0"
                                  [lostBalls]="currentLostBallsForSeason"
                                  [seasonUuid]="seasonUuid">
            </app-lost-balls-table>
        </div>
    </div>

</div>
